
{if ($num>0)}
<div class="checkbox">
    <input type="checkbox" data-url="{$urlbrand}" name="{$filter}" id="mse2_{$table}{$delimeter}{$filter}_{$idx}" value="{$value}" {$checked} {$disabled}/>
	<label for="mse2_{$table}{$delimeter}{$filter}_{$idx}" class="{$disabled}">
	  
	  {if (($urlbrand!='')&&($filter=='vendor'))}<!---->
	  <span data-url="{$urlbrand}"><a href="{$urlbrand}">{$title}</a>&nbsp;</span>
	  {elseif ($urlbrand!='')}
		<span data-url="{$urlbrand}"><a href="{$urlbrand}">{$title}</a>&nbsp;</span>
		{else}
		<span>{$title}&nbsp;</span>
	  {/if}
		 
		 
		 <span class="grey"><i>({$num})</i></span>
		 
		 
			 

	</label>
	</div>
	{else}
	<div class="checkbox disabled1">
        {if (($urlbrand!='')&&($filter=='vendor'))}
			<input type="checkbox" disabled data-url="{$urlbrand}" name="{$filter}" id="mse2_{$table}{$delimeter}{$filter}_{$idx}" value="{$value}" {$checked} {$disabled}/>
        {else}
			<input type="checkbox" name="{$filter}" id="mse2_{$table}{$delimeter}{$filter}_{$idx}" value="{$value}" {$checked}/>
			<!-- {$disabled}-->
        {/if}


	<label for="mse2_{$table}{$delimeter}{$filter}_{$idx}"  class="disabled {$disabled}">
		  
		  {if ($urlbrand!='')}
		  <span data-url="{$urlbrand}"><a href="{$urlbrand}">{$title}</a>&nbsp;</span>
		  {else}
		  <span>{$title}&nbsp;</span>
		  {/if}
			 
			 
			 <span class="grey"><i>({$num})</i></span>
			 
			 
				 

		</label>
		</div>
	{/if}
	<!--{$table}{$delimeter}-->
  
 
