<!--<div class="col-xs-6">
    <label for="mse2_{$table}{$delimeter}{$filter}_{$idx}">
		<input type="input" name="{$table}{$delimeter}{$filter}" id="mse2_{$table}{$delimeter}{$filter}_{$idx}" value="{$value}" class="custom-inpt inline" readonly />
	</label>
</div>-->
 