<div id="mse2_{$table}{$delimeter}{$filter}" class="commonbrands for-item js-form">
<p><b>[[%polylang_site_label_torg_marka]]:</b></p>
{$rows}
{if ($count>9)} <a class="filter-link brand-expand">[[%polylang_site_show_all_brands]]</a>{/if}
</div>