{if ($label!='')}
	{if ($filter=='adiscount')}
		{$rows}<br/>
	{else}
	<div id="mse2_{$table}{$delimeter}{$filter}" class="mse2_{$filter} for-item js-form">
		<p><b>{$label}:</b></p>
		{$rows}
		</div>
	{/if}
{/if}

