<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <ul class="footer-menu list-unstyled">
          <li class="footer-menu-item">
            <a href="#">Условия доставки и оплаты</a>
          </li>
          <li class="footer-menu-item">
            <a href="#/about">Контакты</a>
          </li>
          <li class="footer-menu-item">
            <a href="#/about">О магазине</a>
          </li>
          <li class="footer-menu-item">
            <a href="#/about">Блог</a>
          </li>
          <li class="footer-menu-item">
            <a href="#/about">Ветеринарные клиники</a>
          </li>
        </ul>
      </div>

      <div class="col-xs-3 follow-footer">
        <p><b>Подписаться на рассылку</b></p>

        <form action="" method="" data-toggle="validator" role="form">
          <div class="form-group form-line">
            <span class="inpt-icon name-inpt"></span>
            <input class="form-control custom-inpt" type="text" placeholder="Имя" required>
          </div>
          <div class="form-group form-line">
            <span class="inpt-icon email-inpt"></span>
            <input class="form-control custom-inpt" type="email" placeholder="E-mail адрес" required>
          </div>
          <a class="why-follow small" data-toggle="popover" data-popover-content="#follow-popover" data-placement="top">Зачем мне подписываться ?</a>
          <button type="submit" class="btn grey-btn pull-right" data-toggle="modal" data-target="#thanksModal">Подписаться</button>
        </form>
      </div>

      <div class="col-xs-3">
        <div class="pay-info">
          <p><b>Способы оплаты:</b></p>
          <div class="pay-systems">
            <span class="icon visa">visa</span>
            <span class="icon mastercard">visa</span>
            <span class="icon privat24">visa</span>
            <span class="icon global">visa</span>
          </div>
          <a class="small" href="#" data-toggle="modal" data-target="#payModal">Оплатить заказ</a>
        </div>
        <div class="delivery-info">
          <p><b>Способы доставки:</b></p>
          <p class="small">Нова пошта, Ин-тайм, УкрПошта Курьерская доставка до двери</p>
        </div>
      </div>

      <div class="col-xs-3 text-right cat-part">
        <div class="phone-part">
          <div class="phone-line">
            <span class="icon phone-icon"></span>
            <span class="big">048 700-00-00</span>
          </div>

          <p>
            <span class="icon life-icon"></span>
            063 700-00-00
          </p>
          <p>
            <span class="icon kyivstar-icon"></span>
            097 700-00-00
          </p>
          <p>
            <span class="icon mts-icon"></span>
            066 700-00-00
          </p>
        </div>
        <a class="mail-link" href="mailto:mail@petschoise.com">mail@petschoise.com</a>
        <div class="times small">
          <p>Пн-Пт: 9:00 - 18:00</p>
          <p>Суббота: 9:00 - 15:00</p>
        </div>

        <span class="footer-cat"></span>
      </div>
    </div>
  </div>

  <div class="undo-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 copyright">
          &copy; 2014 Украинский интернет магазин «pet’s choice.com» &reg;
        </div>

        <div class="col-xs-4 text-right">
          <a class="icon vk-icon" target="_blank" href="https://vk.com/petchoice">vk</a>
          <a class="icon fb-icon" target="_blank" href="https://www.facebook.com/petchoice.com.ua">fb</a>
          <!-- not need now <a class="icon ytub-icon" href="#">youtube</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
