<div class="header">
  <div class="basket-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <a href="#/about">Доставка и оплата</a>
          <a href="#/about">Дисконтная программа</a>
          <span class="small"><i>(скидки до 10%)</i></span>
          <!-- if user login on the site -->
          <!--<div class="log-user-line">
            <a href="#" class="login-user">
              <span class="icon user-icon"></span>
              <b>Alexandr</b>
            </a>
            <span class="small"><i>(Ваша скидки до 10%)</i></span>
            <a href="#" class="logout-link small">Выйти</a>
          </div>-->
          <!-- if user login on the site -->
        </div>

        <div class="col-xs-5 text-right">
          <span class="icon basket-icon"></span>
          <span>20 товаров - 365 грн.</span>
          <!-- if empty basket -->
          <!-- <span>Ваша корзина пуста </span> -->
          <!-- end if empty basket -->
          <button class="btn basket-btn">Оформить заказ</button>
        </div>
      </div>
    </div>
  </div>

  <div class="main-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <a class="logo-link" href="#"><img src="images/logo.png" alt="logotype" /></a>
        </div>

        <div class="col-xs-6">
          <div class="search-element">
            <span class="inpt-icon loupe-icon"></span>
            <input type="text" class="form-control custom-inpt search-inpt" placeholder="Поиск по сайту" />
            <button class="btn grey-btn">Найти</button>
          </div>
        </div>

        <div class="col-xs-3 text-right">
          <div class="phone-part">
            <div class="phone-line">
              <span class="icon phone-icon"></span>
              <span class="big">048 700-00-00</span>
              <div class="arrow-block dropdown">
                <a class="icon arrow-phone" id="PhoneList" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"></a>
                <div class="dropdown-menu" role="menu" aria-labelledby="PhoneList">
                  <span class="dropdown-arrow"></span>
                  <p>
                    <span class="icon life-icon"></span>
                    063 700-00-00
                  </p>
                  <p>
                    <span class="icon kyivstar-icon"></span>
                    097 700-00-00
                  </p>
                  <p>
                    <span class="icon mts-icon"></span>
                    066 700-00-00
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown callback">
              <a id="CallBack" data-target="#"  href=""  data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Заказать обратный звонок</a>
              <div class="dropdown-menu" role="menu" aria-labelledby="CallBack">
                <span class="dropdown-arrow"></span>
                <form action="" method="" data-toggle="validator" role="form">
                  <div class="form-group form-line">
                    <span class="inpt-icon name-inpt"></span>
                    <input class="form-control custom-inpt" type="text" placeholder="Имя" required>
                  </div>
                  <div class="form-group form-line">
                    <span class="inpt-icon phone-inpt"></span>
                    <input class="form-control custom-inpt" type="text" placeholder="Телефон" value="+380" required>
                  </div>
                  <button type="submit" class="btn grey-btn text-uppercase">перезвонить мне</button>
                </form>
              </div>
            </div>
            <div class="times small">
              <p>Пн-Пт: 9:00 - 18:00</p>
              <p>Суббота: 9:00 - 15:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="edge-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <p class="bordered red">Скидки до 10%</p>
          <div class="bordered grey small">
            Зарегистрируйтесь и получите  скидку 5% на первую покупку.
          </div>
        </div>

        <div class="col-xs-3">
          <p class="bordered green">Доставка по Одессе</p>
          <div class="bordered grey small">
            Бесплатная курьерская доставка  на сумму выше 299 грн (под дверь)
          </div>
        </div>

        <div class="col-xs-3">
          <p class="bordered grey-blue">Доставка по Украине</p>
          <div class="bordered grey small">
            Бесплатная доставка товаров  на сумму выше 499 грн
          </div>
        </div>

        <div class="col-xs-3">
          <p class="bordered blue">Официально</p>
          <div class="bordered grey small">
            Сертифицированные товары  без переплаты!
          </div>
        </div>
      </div>
    </div>
  </div>

  include "menu.html"
</div>
