<div class="header goout-header">

  <div class="main-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
          <a class="logo-link" href="#"><img src="images/logo.png" alt="logotype" /></a>
        </div>

        <div class="col-xs-6">
          <a href="#" class="back-link">Вернутся в магазин</a>
        </div>

        <div class="col-xs-3 text-right">
          <div class="phone-part">
            <div class="phone-line">
              <span class="icon phone-icon"></span>
              <span class="big">048 700-00-00</span>
              <div class="arrow-block dropdown">
                <a class="icon arrow-phone" id="PhoneList" data-target="#" href="" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"></a>
                <div class="dropdown-menu" role="menu" aria-labelledby="PhoneList">
                  <span class="dropdown-arrow"></span>
                  <p>
                    <span class="icon life-icon"></span>
                    063 700-00-00
                  </p>
                  <p>
                    <span class="icon kyivstar-icon"></span>
                    097 700-00-00
                  </p>
                  <p>
                    <span class="icon mts-icon"></span>
                    066 700-00-00
                  </p>
                </div>
              </div>
            </div>
            <div class="dropdown callback">
              <a id="CallBack" data-target="#"  href=""  data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">Заказать обратный звонок</a>
              <div class="dropdown-menu" role="menu" aria-labelledby="CallBack">
                <span class="dropdown-arrow"></span>
                <form action="" method="" data-toggle="validator" role="form">
                  <div class="form-group form-line">
                    <span class="inpt-icon name-inpt"></span>
                    <input class="form-control custom-inpt" type="text" placeholder="Имя" required>
                  </div>
                  <div class="form-group form-line">
                    <span class="inpt-icon phone-inpt"></span>
                    <input class="form-control custom-inpt" type="text" maxlength="14" placeholder="Телефон" value="+3 80" required>
                  </div>
                  <button type="submit" class="btn grey-btn text-uppercase">перезвонить мне</button>
                </form>
              </div>
            </div>
            <div class="times small">
              <p>Пн-Пт: 9:00 - 18:00</p>
              <p>Суббота: 9:00 - 15:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
