<div class="tabs main-tab" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist" id="mainTab">
    <li role="presentation" class="active">
      <a href="#actions-pane" aria-controls="actions-pane" role="tab" data-toggle="tab">Акционные предложения</a>
    </li>
    <li role="presentation">
      <a href="#new-products-pane" aria-controls="new-products-pane" role="tab" data-toggle="tab">Новые поступления</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="actions-pane" aria-labelledby="actions-tab">

      include "product-slider.html"

    </div>

    <div role="tabpanel" class="tab-pane" id="new-products-pane"  aria-labelledby="new-products-tab">
      <div class="product-slider slider">
        <ul class="bxslider slider-new-products">
          <li>
            <div class="product-item small-item first-child">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl top-sales-lbl"><b>ТОП</b> продаж</div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab1">
                  <li role="presentation" class="active">
                    <a href="#newproductItem1-pane1" aria-controls="newproductItem1-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem1-pane2" aria-controls="newproductItem1-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem1-pane3" aria-controls="newproductItem1-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem1-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem1-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem1-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl discount-lbl">СКИДКА <b>-50%</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab2">
                  <li role="presentation" class="active">
                    <a href="#newproductItem2-pane1" aria-controls="newproductItem2-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem2-pane2" aria-controls="newproductItem2-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem2-pane3" aria-controls="newproductItem2-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem2-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem2-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem2-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl top-sales-lbl"><b>ТОП</b> продаж</div>
                  <div class="product-info-lbl discount-lbl">СКИДКА <b>-50%</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab3">
                  <li role="presentation" class="active">
                    <a href="#newproductItem3-pane1" aria-controls="newproductItem3-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem3-pane2" aria-controls="newproductItem3-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem3-pane3" aria-controls="newproductItem3-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem3-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem3-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem3-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl action-lbl"><b>АКЦИЯ</b></div>
                  <div class="product-info-lbl new-product-lbl"><b>НОВИНКА</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab4">
                  <li role="presentation" class="active">
                    <a href="#newproductItem4-pane1" aria-controls="newproductItem1-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem4-pane2" aria-controls="newproductItem1-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem4-pane3" aria-controls="newproductItem1-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem4-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem4-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem4-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl new-product-lbl"><b>НОВИНКА</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab5">
                  <li role="presentation" class="active">
                    <a href="#newproductItem5-pane1" aria-controls="newproductItem1-pane1" role="tab" data-toggle="tab"> 400г
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem5-pane2" aria-controls="newproductItem1-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#newproductItem5-pane3" aria-controls="newproductItem1-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem5-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem5-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem5-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl top-sales-lbl"><b>ТОП</b> продаж</div>
                  <div class="product-info-lbl discount-lbl">СКИДКА <b>-50%</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab6">
                  <li role="presentation" class="active">
                    <a href="#newproductItem6-pane1" aria-controls="newproductItem6-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem6-pane2" aria-controls="newproductItem6-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem6-pane3" aria-controls="newproductItem6-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem6-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem6-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem6-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl action-lbl"><b>АКЦИЯ</b></div>
                  <div class="product-info-lbl new-product-lbl"><b>НОВИНКА</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab7">
                  <li role="presentation" class="active">
                    <a href="#newproductItem7-pane1" aria-controls="newproductItem7-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem7-pane2" aria-controls="newproductItem7-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem7-pane3" aria-controls="newproductItem7-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem7-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem7-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem7-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="product-item small-item">
              <div class="product-item-img">
                <a href="#"><img src="images/product_1_middle.png" width="90" alt="product image" /></a>
                <div class="product-item-lbls">
                  <div class="product-info-lbl new-product-lbl"><b>НОВИНКА</b></div>
                </div>
              </div>
              <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
              <div class="product-item-stars">
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon star-icon-check"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
                <span class="icon star-icon"></span>
              </div>
              <div class="tabs product-item-tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist" id="newproductTab8">
                  <li role="presentation" class="active">
                    <a href="#newproductItem8-pane1" aria-controls="newproductItem8-pane1" role="tab" data-toggle="tab">400 г
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem8-pane2" aria-controls="newproductItem8-pane2" role="tab" data-toggle="tab">1,5 кг
                      <span class="border-line"></span>
                    </a>

                  </li>
                  <li role="presentation">
                    <a href="#newproductItem8-pane3" aria-controls="newproductItem8-pane3" role="tab" data-toggle="tab">14 кг
                      <span class="border-line"></span>
                    </a>
                  </li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="newproductItem8-pane1">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">1 236 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem8-pane2">
                    <div class="product-item-tab-content clearfix">
                      <span class="product-price pull-left">436 <span class="small text-top">00</span></span>
                      <button type="button" class="btn pay-btn orange-btn pull-right text-uppercase">купить</button>
                      <div class="count-box pull-right hidden">
                        <a href="#" class="icon minus-count"></a>
                        <input class="form-control custom-inpt count-products" type="text" value="1" />
                        <a href="#" class="icon plus-count"></a>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newproductItem8-pane3">
                    <div class="product-item-tab-content clearfix text-center">
                      <span class="small grey">Товар закончился</span>
                      <a class="small" href="#">Сообщить о наличии?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
