<div class="main-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
        <div class="main-menu-item cats">
          <div class="item-nav">
            <span class="icon cat-icon"></span>
            Кошкам
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/kitten_menu.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="main-menu-item dogs">
          <div class="item-nav">
            <span class="icon dog-icon"></span>
            Собакам
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/dog-submenu.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="main-menu-item fishes">
          <div class="item-nav">
            <span class="icon fish-icon"></span>
            Рыбам
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/fish.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="main-menu-item birds">
          <div class="item-nav">
            <span class="icon bird-icon"></span>
            Птицам
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/parrot.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="main-menu-item mouses">
          <div class="item-nav">
            <span class="icon mouse-icon"></span>
            Грызунам
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/dog-submenu.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="main-menu-item actions">
          <div class="item-nav">
            <span class="icon action-icon"></span>
            Акции
          </div>
          <div class="submenu">
            <div class="content-submenu">
              <span class="menu-pointer"></span>
              <div class="row">
                <div class="col-xs-2">
                  <p class="h3 green"><b>Питание</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Питание</a>
                    </li>
                    <li>
                      <a href="">Лечебный корм</a>
                    </li>
                    <li>
                      <a href="">Консервы</a>
                    </li>
                    <li>
                      <a href="">Лакомства</a>
                    </li>
                    <li>
                      <a href="">Заменители молока</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Уход и гигиена</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Шампуни</a>
                    </li>
                    <li>
                      <a href="">Зубная паста</a>
                    </li>
                    <li>
                      <a href="">Духи</a>
                    </li>
                    <li>
                      <a href="">Расчески и щетки</a>
                    </li>
                    <li>
                      <a href="">Фурминаторы</a>
                    </li>
                    <li>
                      <a href="">Триммеры и машинки для стрижки</a>
                    </li>
                    <li>
                      <a href="">Ножницы</a>
                    </li>
                    <li>
                      <a href="">Туалеты</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Амуниция и аксессуары</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Ошейники</a>
                    </li>
                    <li>
                      <a href="">Поводки</a>
                    </li>
                    <li>
                      <a href="">Игрушки</a>
                    </li>
                    <li>
                      <a href="">Миски</a>
                    </li>
                    <li>
                      <a href="">Поилки</a>
                    </li>
                    <li>
                      <a href="">Ультразвуковые свистки</a>
                    </li>
                    <li>
                      <a href="">Беговые дорожки</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Дом и  путешествия</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Будки</a>
                    </li>
                    <li>
                      <a href="">Вольеры</a>
                    </li>
                    <li>
                      <a href="">Коврики и спальные места</a>
                    </li>
                    <li>
                      <a href="">Клетки</a>
                    </li>
                    <li>
                      <a href="">Переноски</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Ветеринария</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Стредства от блох и клещей</a>
                    </li>
                    <li>
                      <a href="">Средства от глистов</a>
                    </li>
                    <li>
                      <a href="">Витамины и добавки</a>
                    </li>
                    <li>
                      <a href="">Средства для ушей</a>
                    </li>
                    <li>
                      <a href="">Успокоительные</a>
                    </li>
                    <li>
                      <a href="">Средства для глаз</a>
                    </li>
                    <li>
                      <a href="">Антигрызин</a>
                    </li>
                  </ul>
                </div>

                <div class="col-xs-2">
                  <p class="h3 green"><b>Гардероб  питомца</b></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="">Одежда для собак</a>
                    </li>
                    <li>
                      <a href="">Обувь для собак</a>
                    </li>
                  </ul>
                </div>

                <div class="animal-block dog">
                  <img src="images/dog-submenu.png" alt="dog" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
