<!-- Pay Modal -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="payModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h3 class="modal-title greener" id="paytModalLabel"><b>Оплатить заказ</b></h3>
      </div>
      <div class="modal-body">
        <div class="form-group number-pay">
          <label id="payInpt">Введите номер заказа</label>
          <input type="text" class="form-control" value="423644" />
          <span class="icon green-check-icon"></span>
          <span class="icon red-check-icon hidden"></span>
        </div>
        <p class="h3"><b>Короврат Миводьевич</b></p>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          Сумма: <span class="product-price">7 360 <span class="small text-top">00</span></span>
        </div>
        <button type="submit" class="btn orange-btn text-uppercase pull-right" data-dismiss="modal">Оплатить</button>
      </div>
    </div>
  </div>
</div>
<!-- end Pay Modal -->
