<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="basketModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        <h3 class="modal-title greener"><b>Оставить о нас отзыв</b></h3>
      </div>
      <form action="">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Оцените пожалуйста качество обслуживания</label>
            <div class="br-widget">
              <select class="stars-rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Оставте свои замечания или пожелания</label>
            <textarea name="" class="custom-inpt"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="inline small back-modal" data-dismiss="modal">Вернуться в кабинет</a>
          <button type="button" class="btn grey-btn pull-right">ОТПРАВИТЬ</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end Feedback Modal -->
