<!-- follow popover -->
<div id="follow-popover" class="hidden">
  <div class="popover-body">
    <p><b>Что даёт подписка на рассылку?</b></p>
    <ul class="list-unstyled green-bullet">
      <li>
        Информация о акциях и скидках
      </li>
      <li>
        Постоянно обновляемые индивидуальные выгодные предложения
      </li>
      <li>
        Последние новости о выгодных покупках
      </li>
    </ul>
  </div>
</div>
<!-- end follow popover -->
