<div class="products-line">

  <div class="product-item big-item first-child">
    <div class="product-item-img">
      <a href="#"><img src="images/product_1_middle.png" alt="product image" /></a>
      <div class="product-item-lbls">
        <div class="product-info-lbl top-sales-lbl"><b>ТОП</b> продаж</div>
        <div class="product-info-lbl discount-lbl">СКИДКА <b>-50%</b></div>
      </div>
    </div>
    <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
    <div class="product-item-code small"><i>Код товара: 00117</i></div>
    <div class="product-item-text">
      Полнорационный сухой корм для взрослых собак мелких пород, склонных к пищевой аллергии и
    </div>
    <div class="product-item-stars">
      <span class="icon star-icon star-icon-check"></span>
      <span class="icon star-icon star-icon-check"></span>
      <span class="icon star-icon"></span>
      <span class="icon star-icon"></span>
      <span class="icon star-icon"></span>
      <span class="icon small-use-icon"></span>
      <span class="count text-bottom">23</span>
    </div>
    <div class="tabs product-item-tabs" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist" id="productTab1">
        <li role="presentation" class="active">
          <a href="#productItem1-pane1" aria-controls="productItem1-pane1" role="tab" data-toggle="tab">400 г
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem1-pane2" aria-controls="productItem1-pane2" role="tab" data-toggle="tab">1,5 кг
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem1-pane3" aria-controls="productItem1-pane3" role="tab" data-toggle="tab">14 кг
            <span class="border-line"></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productItem1-pane1">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>

            <span class="product-price pull-right">1 236 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right">1 500 <span class="text-top">00</span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem1-pane2">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>
            <span class="product-price pull-right">436 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right"><span class="text-top"></span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem1-pane3">
          <div class="product-item-tab-content clearfix text-center">
            <span class="grey">Товар закончился</span>
            <br>
            <a href="#">Сообщить о наличии?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-item big-item">
    <div class="product-item-img">
      <a href="#"><img src="images/product_1_middle.png" alt="product image" /></a>
      <div class="product-item-lbls">
        <div class="product-info-lbl action-lbl"><b>АКЦИЯ</b></div>
      </div>
    </div>
    <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
    <div class="product-item-code small"><i>Код товара: 00117</i></div>
    <div class="product-item-text">
      Полнорационный сухой корм для взрослых собак мелких пород, склонных к пищевой аллергии и
    </div>
    <div class="product-item-stars"></div>
    <div class="tabs product-item-tabs" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist" id="productTab2">
        <li role="presentation" class="active">
          <a href="#productItem2-pane1" aria-controls="productItem2-pane1" role="tab" data-toggle="tab">400 г
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem2-pane2" aria-controls="productItem2-pane2" role="tab" data-toggle="tab">1,5 кг
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem2-pane3" aria-controls="productItem2-pane3" role="tab" data-toggle="tab">14 кг
            <span class="border-line"></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productItem2-pane1">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>

            <span class="product-price red pull-right">1 236 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right">1 500 <span class="text-top">00</span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem2-pane2">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>
            <span class="product-price pull-right">436 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right"><span class="text-top"></span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem2-pane3">
          <div class="product-item-tab-content clearfix text-center">
            <span class="grey">Товар закончился</span>
            <br>
            <a href="#">Сообщить о наличии?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-item big-item last-child">
    <div class="product-item-img">
      <a href="#"><img src="images/product_1_middle.png" alt="product image" /></a>
      <div class="product-item-lbls">
        <div class="product-info-lbl new-product-lbl"><b>НОВИНКА</b></div>
      </div>
    </div>
    <div class="product-item-title"><a href="#">Nutra Mix Gold Adult Small Breed Lamb & Rice</a></div>
    <div class="product-item-code small"><i>Код товара: 00117</i></div>
    <div class="product-item-text">
      Полнорационный сухой корм для взрослых собак мелких пород, склонных к пищевой аллергии и
    </div>
    <div class="product-item-stars">
      <span class="icon star-icon star-icon-check"></span>
      <span class="icon star-icon star-icon-check"></span>
      <span class="icon star-icon"></span>
      <span class="icon star-icon"></span>
      <span class="icon star-icon"></span>
      <span class="icon small-use-icon"></span>
      <span class="count text-bottom">23</span>
    </div>
    <div class="tabs product-item-tabs" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist" id="productTab3">
        <li role="presentation" class="active">
          <a href="#productItem3-pane1" aria-controls="productItem3-pane1" role="tab" data-toggle="tab">400 г
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem3-pane2" aria-controls="productItem3-pane2" role="tab" data-toggle="tab">1,5 кг
            <span class="border-line"></span>
          </a>
        </li>
        <li role="presentation">
          <a href="#productItem3-pane3" aria-controls="productItem3-pane3" role="tab" data-toggle="tab">14 кг
            <span class="border-line"></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productItem3-pane1">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>

            <span class="product-price pull-right">1 236 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right">1 500 <span class="text-top">00</span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem3-pane2">
          <div class="product-item-tab-content clearfix">
            <button type="button" class="btn pay-product-btn orange-btn pull-right text-uppercase">купить</button>
            <div class="count-box pull-right hidden">
              <a href="#" class="icon minus-count"></a>
              <input class="form-control custom-inpt count-products" type="text" value="1" />
              <a href="#" class="icon plus-count"></a>
            </div>
            <span class="product-price pull-right">436 <span class="text-top">00</span></span>
            <span class="product-price-old pull-right"><span class="text-top"></span></span>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="productItem3-pane3">
          <div class="product-item-tab-content clearfix text-center">
            <span class="grey">Товар закончился</span>
            <br>
            <a href="#">Сообщить о наличии?</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
