  
            <ul class="logos-table" style="">
            
{foreach $brands as $brand}      
{snippet name=pthumb params="input=`{$brand.logo}`&options=`w=140&h=140&far=1`&useResizer=`1`" assign=preview}               
	<li>
					<a href="{$brand.url}"><img src="{$preview}" alt="{$brand.name}" /></a>
	</li>
	    

{/foreach}

</ul>
<br style="clear:both;"/>
