<tr>
  <td><a href="[[++site_url]][[~[[+id]]]]" target="blank">[[+pagetitle]]</a></td>
  <td>[[+price]] [[+currency:default=`руб.`]]</td>
  <td>[[+weight]] кг.</td>
  <td>[[+num]]</td>
  <td class="sum">[[+sum]] [[+currency:default=`руб.`]]</td>
</tr>