html {
	height: 100%;
}
body {
	height: 100%;
}

#analytic-overlay{
	height: 100%;
	min-height: 100%;
	width: 100%;
	background: black;
}

.dashboard-block .body{max-height: inherit; }
#modx-dashboard .dashboard-block-double{min-height: inherit;}
#analytics-panel-widget{margin: -10px;}


#analytics-panel-widget .vertical-tabs-header{ padding:0 !important; border:none !important;}
#analytics-panel-widget .vertical-tabs-header ul {border:none;}
#analytics-panel-widget .vertical-tabs-body{margin-left:200px;  min-height:310px;}

#analytics-panel-widget table.classy {
border-spacing: 0;
border-right: 3px solid #F7F7F7;
border-left: 3px solid #F7F7F7;
border-bottom: 3px solid #F7F7F7;
-moz-border-radius-bottomleft: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}
#analytics-panel-widget table.classy th, table.classy td {
line-height: 1.3;
padding: 5px 5px 3px 10px;
text-decoration: none;
}

#analytics-panel-widget table.classy th {
color: #555;
background-color: #d9e3f2;
}

#analytics-panel-widget table.classy td {
color: #000000;
font-size: 11px;
}

#analytics-panel-widget table.classy tbody th {
vertical-align: top;
background-color: #FFFFFF;
font-size: 11px;
}
#analytics-panel-widget table.classy thead th {
background-color: #F7F7F7;
color: #555;
text-shadow: 0 1px 0 white;
text-transform: uppercase;
font-size: 11px;
font-weight: bold;
padding-top: 10px;
padding-bottom: 8px;
}

#analytics-panel-widget table.classy tr.odd td {
background: #F7F7F7;
color: #7c735c;
}
/* .dashboard-block-double{min-height: inherit;} */  .dashboard-block .body{ /* padding:0 !important;  */max-height: 800px;}
