{extends file="m_layout.tpl"}

{block name=content}


<style>
    .action_event .header_action_info{
        margin-top:100px;
    }
    .action_event .body-container, .action_event .product-container,.action_event #main-container{
        padding-top:0px;
    }
    
</style>


    <div class="err_440">
        <span>404</span>
        <div>
            Извините, такая страница не найдена <br />
            <h1><a href="/" title="petchoice">Перейти на главную страницу petchoice</a></h1>
        </div>
    </div>




{/block}
