{extends file="m_layout.tpl"}

{block name=content}
{literal}


<style>
    .action_event .header_action_info{
        margin-top:100px;
    }
    .action_event .body-container, .action_event .product-container,.action_event #main-container{
        padding-top:0px;
    }
    
</style>



<div class="body-container">
[[m_BreadCrumb]]
      <div id="pdopage" class="text-block col-xs-9 padding-lr"  >
        
        
         {/literal}
			  <h1>{field name=pagetitle}</h1>
			  {literal}
			  
			   [[pdoPage?
            &parents=`[[*id]]`
            &ajax=0
			
            &tpl=`m_blogRowTpl`
            &scheme=`full`
            &includeContent=`1`
            &includeTVs=`articlefoto`
            &processTVs=`1`
            
        ]]
		
		[[!+page.nav]]
			  	<br style="clear:both;"/>
			<div class="rows"></div>

			<div class="btn-more"></div>
<!--		&ajaxMode=`default`	<div class="pagination"></div>
			<button class="btn btn-default btn-more">Подгрузить ещё</button>-->
      
      </div>
	  <br style="clear:both"/>
</div>{/literal}

{/block}
