{extends file="m_layout.tpl"}

{block name=content}

{literal}
        <script>
            jQuery(document).ready(function () {
                jQuery(document).on('click', '.open_modal_vote',function () {
                    
                    href=jQuery(this).data('href');
                    product_id=jQuery(this).data('product_id');
                    
                    jQuery('#submitRaitingModal').modal('show');
                    jQuery('#submitRaitingModal').find('.fb-like').data('href',href);
jQuery('#submitRaitingModal').find('.shared_facebook_modal').data('href',href);
jQuery('#submitRaitingModal').find('.shared_facebook_modal').data('product_id',product_id);
                    return false;
                });
                
                
                
                
                
                jQuery(document).on('click','.shared_facebook_modal',function(){
                
                
                _href=jQuery(this).data('href');
                
                product_id=jQuery(this).data('product_id');
                FB.ui({
                    method: 'share',
                    href: _href//'https://petchoice.ua/{/literal}{link id={field name=id}}{literal}',
                }, function(response){
                    $.ajax({
                        type: "POST",
                        url: '/assets/components/minishop2/raiting_product.php',
                        data: 'product_id='+product_id+'&type=shared',
                    }).done(function (data) {

                        //data = $.parseJSON(data);
                        //console.log(data);
                    });
                });
                return false;
            });
            });
            function selectcategoryraiting(select){
                href=jQuery(select).val();
                
                window.location=href;
                return false;
            }
        </script>
    {/literal}
    <div class="big-prevs-container">

    <ul class="catalog-tool">
        <li class="btn-filters"><a href="#filters-pu"></a></li>
        <li class="btn-back"><a href="https://m.petchoice.ua/koshkam"></a></li>
        <li class="crumbs">
							<span>
							<a href="https://m.petchoice.ua/koshkam">Все товары</a>
							</span>
        </li>
    </ul>
    
    
    <!--<div id="sort-by-form">
        <form action="">
            <label for="sort-by">Сортировать по:</label>
            <div id="mse2_sort">
                <select id="sort-by" >
                    <option value="" selected class="sort filter-link down-sort active" data-sort="ms|hits" data-dir="" data-default="desc">популярности</option>
                    <option value="" class="sort filter-link   " data-sort="ms_product|pagetitle" data-dir="" data-default="asc">алфавиту</option>
                </select>
            </div>
        </form>

    </div>

-->
<br>
            
                <div class="custom-select-container">
                    <select name="selectcategoryraiting" onchange="selectcategoryraiting(this)" id="selectcategoryraiting">
                        <option {if ($active_all=='active')} selected {/if} value="/rejting-kormov">
                            Все товары
                        </option>
                        <option {if ($active_cats=='active')} selected {/if} value="/rejting-kormov/dlya-koshek">
                            Для кошек
                        </option>
                        <option {if ($active_dogs=='active')} selected {/if} value="/rejting-kormov/dlya-sobak" >
                            Для собак
                        </option>
                    </select>
                </div>
            
            <br>

        {assign var=params value=[
        "element"=>'msProducts'
        ,"where"=>[
        "class_key"=>"msProduct"
        ]
        ,"raiting"=>1
        ,"filters"=>'
            tv|product_options:number,
            ms|vendor:vendors,
            ms|adiscount,
            ms|askidka'
            
        ,"paginator"=>'getPage'
        ,"tplOuter"=>'filterTpl'
        ,"tplFilter.outer.default"=>'filterGroupTpl'
        ,"tplFilter.row.default"=>'filterRowTpl'
        ,"tplFilter.outer.ms|price"=>'filterPriceOuterTpl'
        ,"tplFilter.row.ms|price"=>'filterPriceTpl'
        ,"tplFilter.outer.tv|product_options"=>'filterPriceOuterTpl'
        ,"tplFilter.row.tv|product_options"=>'filterPriceTpl'
        ,"tplFilter.outer.ms|vendor"=>'filterVendorOuterTpl'
        ,"tpls"=>'m_productRowTpl'
        ,"limit"=>"10"
        ]}

        {snippet name=mFilter2_m params=$params}





      




</div>

      {literal}
        <style>
            #submitRaitingModal ul {
                list-style: none;
                padding-left: 0px;
                margin-left: 0px;
            }

            #submitRaitingModal ul li {
                padding-left: 0px;
                margin-left: 0px;
                margin-bottom: 20px;
            }
        </style>
        <div class="modal fade" id="submitRaitingModal" tabindex="-1" role="dialog" aria-labelledby="basketModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        <h3 style="margin-right:30px;"  class="modal-title greener"><b>Поддержите свой выбор </b></h3>
                    </div>
                    <div class="modal-body">
                       
                        <ul>
                            <li>
    <span>Рассказать друзьям <span
                class="grey">(2 балла)</span>
                            </span>
                            <!--Нажать Нравится <span class="grey">(1 балл)</span> или -->
                                <div style="margin-top:15px;">

                                    <!--<div class="fb-like" data-href=""
                                         data-layout="button_count" data-action="like" data-size="large"
                                         data-show-faces="false" data-share="false"></div>-->
                                    <button data-href="" style="display:inline-block;margin-top:-10px;margin-left:10px;"
                                            class="shared_facebook btn grey-btn pull-right11">Поделиться
                                    </button>
                                    <!--
                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like"
                                                                     data-size="large" data-show-faces="true" data-share="true"></div>-->
                                </div>
                            </li>
                            
                             <li>
    <span>Поставить Like <span
                class="grey">(1 балл)</span>
                            </span>
                            <!--Нажать Нравится <span class="grey">(1 балл)</span> или -->
                                <div style="margin-top:15px;">

                                    <div class="fb-like" data-href=""
                                         data-layout="button_count" data-action="like" data-size="large"
                                         data-show-faces="false" data-share="false"></div>
                                    
                                    <!--
                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like"
                                                                     data-size="large" data-show-faces="true" data-share="true"></div>-->
                                </div>
                            </li>
                            
                            <li>
                                <span>Или оставьте отзыв о товаре</span>
                                <div class="popup_forma_review">
                                    {/literal}
                                    {if (!$modx->user->isAuthenticated('web'))}
                                        <br/>
                                        <p>Для того, чтобы добавить отзыв, нужно</p>
                                        <p>
                                            <button class="btn green-btn" data-toggle="modal" data-target="#boxregistr" id="registrcomment">
                                                ЗАРЕГИСТИРОВАТЬСЯ
                                            </button>
                                        </p>
                                        <p>
                                            или
                                        </p>
                                        <button class="btn grey-btn" data-toggle="modal" data-target="#boxlogin">АВТОРИЗОВАТЬСЯ</button>
                                        <br>
                                        <br>
                                    {else}
                                        <form id="comment-form" action="" method="post">
                                            <p class="h3 green"><b>Написать отзыв о товаре</b></p>
                                            <input type="hidden" name="thread" value="resource-"/>
                                            <input type="hidden" name="parent" value="0"/>
                                            <input type="hidden" name="id" value="0"/>
                                            <div class="br-widget">
                                                <select name="rating" id="rating1" class="stars-rating">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5" selected>5</option>
                                                </select>

                                            </div>
                                            <br>
                                            <textarea name="text" id="comment-editor" class="custom-inpt" rows="6"></textarea>
                                            <br><br>

                                            <button type="submit" class="btn grey-btn text-uppercase pull-right submit">Отправить</button>
                                        </form>
                                    {/if}
                                    {literal}
                                </div>
                            </li>

                        </ul>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn link-btn light" data-dismiss="modal">Перейти на сайт</button>
                    </div>
                </div>
            </div>
        </div>
        {/literal}

{/block}
