{extends file="m_layout.tpl"}

{block name=content}

<style>
    .action_event .header_action_info{
        margin-top:100px;
    }
    .action_event .body-container, .action_event .product-container,.action_event #main-container{
        padding-top:0px;
    }
    
</style>


    {literal} 
    
        <div class="loginregistration-container">
					[[m_BreadCrumb]]

					<br />

                    
                    <ul class="product-info-accordion accordion">
                <li class=""><a href="#">[[%polylang_site_common_menu_loylnost]]</a>
                    <div>
                       <div class="row equal-container">
                            <div class="col-xs-6 equal-column green-separator" style="padding:0px;">
             <div class="col-xs-12 equal-column blue-separator" style="padding:5px" > 
             
             [[%polylang_site_registr_infomob]]
                                
                                </div>
                            </div>
            
            
                    	</div> <!-- #main-container -->

                    </div>
                </li>
</ul>
                    <div class="login-registration-block registration-block active">
                    
                    
                     [[!Register?
                        &submitVar=`registerbtn`
                        &activationResourceId=`611`
                        &activationEmailSubject=`Подтверждение регистрации`
                        &successMsg=`Вам нужно подтвердить свою регистрацию.`
                        &usernameField=`phone`
                        &usergroups=`3:Super User`
                        &activation=`0`
                        &autoLogin=`1`
                        &submittedResourceId=`7`
                        &validate=`
                      password:required:minLength=^6^,
                      password_confirm:password_confirm=^password^,
                      fullname:required,
                      phone:required,
                      email:required:email`
                        &placeholderPrefix=`reg.`
                    ]]
                    
                  
								[[!+error.message]]
								[[!+successMsg]]
								<div class="registerMessage">[[!+reg.error.message]]</div>
								<!--
								onsubmit="dataLayer.push({
								'event': 'event-GA',
								'eventCategory' : 'client',
								'eventAction' : 'registration'
								});"-->
								<form autocomplete="off" onsubmit="dataLayer.push({
								'event': 'event-GA',
								'eventCategory' : 'client',
								'eventAction' : 'registration'
								});" action="/account/register" class="formaregistration1  form_stretchy" method="post" data-toggle="validator" role="form">
									<div class="col-xs-8">
										<div class="form-group ">
											<label class="control-label">[[%polylang_site_order_name]] <sup>*</sup></label>
											<input name="fullname" type="text" class="form-control custom-inpt" data-error="введите ваше имя" value="[[!+reg.fullname]]" required="" aria-required="true">
											<div class="help-block with-errors hide1"></div>
										</div>
										<div class="form-group">
											<label class="control-label">[[%polylang_site_order_lastname]]</label>
											<input name="lastname" type="text" class="form-control custom-inpt" data-error="введите вашу фамилия" value="[[!+reg.lastname]]" >
										</div>
										<div class="form-group ">
											<label class="control-label">[[%polylang_site_registr_phone]] <sup>*</sup></label>
											<input type="text" name="phone" class="form-control custom-inpt" placeholder="+38" data-error="введите ваш телефон" value="" required="" aria-required="true">
											<div class="help-block with-errors hide1"><!--введите ваш телефон--></div>
											<div class="help-block small grey">
												<!--<ul class="list-unstyled">
													<li>Будет использован как логин к Личному кабинету</li>
													<li>Укажите номер телефона в формате +380ХХХХХХХХХ без пробелов, дефисов и скобок</li>
												</ul>-->
											</div>
										</div>
										<div class="form-group ">
											<label class="control-label">Email <sup>*</sup></label>
											<input name="email" type="email" autocomplete="off" class="form-control custom-inpt" value="[[!+reg.email]]" data-error="введите вашу почту" required="" aria-required="true">
											<div class="help-block with-errors hide1"><!--введите вашу почту--></div>
											<div class="help-block small grey"></div>
										</div>

										<div class="checkbox">
											<input type="checkbox" name="subscribe_order" id="subscribe_order" value="1" checked="">
											<label for="subscribe_order" class="subscribe_order">
												<span>[[%polylang_site_registr_proposal]]</span>
											</label>
										</div>
										<div class="form-group ">
											<label class="control-label">Пароль <sup>*</sup></label>
											<input id="password" name="password" autocomplete="off" type="password" class="form-control custom-inpt" value="" data-error="введите пароль" required="" aria-required="true">
											<div class="help-block with-errors hide1"><!--введите пароль--></div>
											<div class="help-block small grey">[[%polylang_site_registr_symbol]]</div>
										</div>
										<div class="form-group ">
											<label class="control-label">[[%polylang_site_registr_confpass]] <sup>*</sup></label>
											<input name="password_confirm" id="password_confirm" type="password" class="form-control custom-inpt" data-error="подтвердите пароль" value="" required="" aria-required="true">
											<div class="help-block with-errors hide1"><!--подтвердите пароль--></div>
										</div>
										<div class="form-group">
											<sup>*</sup> <span class="help-block">- [[%polylang_site_registr_necessarily]]</span>
										</div>
									</div>
									<input name="discount" type="hidden" value="5"><input class="hide" type="text" name="code" autocomplete="off" value="">
									<input name="registerbtn" type="hidden" value="Зарегистрироваться">
									<!--<input type="submit" value="Зарегистрироваться" name="registerbtn1" class="submit-btn">-->
                                    <input style="" type="submit" value="Зарегистрироваться" name="registerbtn1" class="submit-btn button orange" />
                                    <a href="javascript:void(0);" class="link_login button whitefon">[[%polylang_site_form_exist_user]]</a>
								</form>

                        </div>
					
 



       
                    {/literal}
                   
    

{/block}