{extends file="m_layout.tpl"}

{block name=content}

<style>
    .action_event .header_action_info{
        margin-top:100px;
    }
    .action_event .body-container, .action_event .product-container,.action_event #main-container{
        padding-top:0px;
    }
    
</style>


{literal}
<!--<div class="container">-->
<div class="text-block">
  <div class="body-container">
  
             [[m_BreadCrumb]]
             
            <div class="row equal-container padding-lr">
            
            
              [[*content]]
                
            </div>
			
	  </div>
	  <br style="clear:both;"/>
 </div>
      
      
  {/literal}

{/block}
