 <li class="big-prev-block" style=" width:100%;"> 
        <input type="hidden" name="product_id" value="{$product.id}" />
		
		{if ($product.isaction==1)}
			  <div data-marker="red" class="sale-marker"><b>АКЦИЯ</b></div>
			  
		{elseif ($product.action!='')}
				 <div data-marker="blue" class="sale-marker">-{$product.action}%</div>
				 {elseif ($product.new==1)}
			  <div data-marker="blue2" class="sale-marker"><b>НОВИНКА</b></div>
			  
				{elseif ($product.popular==1)}
					<div data-marker="green" class="sale-marker"><b>ТОП</b> продаж</div>
				{/if}
			  
			  
			  
            	<ul style="height:110px;height:auto;">
					{snippet name=pthumb params="input=`{$product.image}`&options=`w=150&h=200&far=1`&useResizer=`1`" assign=preview}
                    <li class="big-prev-img" style="text-align:center;">
					<a href="/{link id={$product.id}}" style="display:block; width:100px;z-index:9!important" class=" imgfit1">
					<img src="{$preview}" style="max-width:100px;" width="100" alt="{$product.pagetitle}" /></a>
					</li>
                    <li class="big-prev-name">
                        <h2> <a href="/{link id={$product.id}}">
                            {$product.pagetitle}</a>
                        </h2>						
						<div class="product-code">
							Код товара:<span>{$product.article}</span>
						</div>
                    </li>
                </ul>
		{include file='tpl/m/products/optionsCategory.tpl'}
</li>