.collections-grid-date {
    color:#a0a0a0;
    font-family:arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    letter-spacing:-1px;
    line-height:1;
    padding-right:10px;
    text-align:right;
    margin-top: -4px;
}
.collections-grid-date .collections-grid-time {
    display:block;
    font-size:10px;
    font-weight:normal;
    margin-top:5px;
}

.collections-grid a {
    color:#485319;
    line-height:1;
    text-decoration:none;
}

.collections-grid a:hover {
    color:#7a8f23;
    text-decoration:none;
}

.collections-grid .x-grid3-cell-inner {
    color:#808080;
}

.collections-panel-spacer .x-panel-body { background: transparent !important; }
.actions a {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
    background:#dcdcdc;
    background:-moz-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#dcdcdc));
    background:-webkit-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    background:-o-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    background:-ms-linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#dcdcdc,GradientType=0);
    background:linear-gradient(center bottom,#dcdcdc 0%,#fcfcfc 100%);
    text-shadow:0 1px 0 #ffffff;
    border:1px solid #cccccc;
    color:#888888;
    display:block;
    font-size:11px;
    font-weight:bold;
    font-family:helvetica, arial, freesans, clean, sans-serif;
    padding:6px 8px;
    text-decoration:none;
    cursor:pointer;
}
.actions a:hover {
    background:#e0e0e0;
    background:-moz-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fcfcfc),color-stop(100%,#e0e0e0));
    background:-webkit-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
    background:-o-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
    background:-ms-linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#e0e0e0,GradientType=0);
    background:linear-gradient(center bottom,#e0e0e0 0%,#fcfcfc 100%);
    color:#5b7a98;
}
.actions a:active {
    -moz-box-shadow:0 0 3px #aaaaaa inset;
    -webkit-box-shadow:0 0 3px #aaaaaa inset;
    -o-box-shadow:0 0 3px #aaaaaa inset;
    box-shadow:0 0 3px #aaaaaa inset;
    background-color:#ffffff;
    background-image:none;
}
.actions a.orange {
    background:#febb4a;
    background:-moz-linear-gradient(center bottom,#febb4a 0%,#feda71 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#feda71),color-stop(100%,#febb4a));
    background:-webkit-linear-gradient(center bottom,#febb4a 0%,#feda71 100%);
    background:-o-linear-gradient(center bottom,#febb4a 0%,#feda71 100%);
    background:-ms-linear-gradient(center bottom,#febb4a 0%,#feda71 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#feda71,endColorstr=#febb4a,GradientType=0);
    background:linear-gradient(center bottom,#febb4a 0%,#feda71 100%);
    border-color:#f5b74e #e7a93f #dfa138;
    color:#996633;
    text-shadow:0 1px 0 #fee1a0;
}
.actions a.orange:hover {
    background:#fec95b;
    background:-moz-linear-gradient(center bottom,#fec95b 0%,#fee1a0 100%) repeat scroll 0 0 transparent;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee1a0),color-stop(100%,#fec95b));
    background:-webkit-linear-gradient(center bottom,#fec95b 0%,#fee1a0 100%);
    background:-o-linear-gradient(center bottom,#fec95b 0%,#fee1a0 100%);
    background:-ms-linear-gradient(center bottom,#fec95b 0%,#fee1a0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fee1a0,endColorstr=#fec95b,GradientType=0);
    background:linear-gradient(center bottom,#fec95b 0%,#fee1a0 100%);
}

.collections-import-intro {
    font-size: 11px;
    color: #777;
    background-color: #fafafa !important;
    padding: 0 5px;
}

.collections-grid .main-column {
    font-size: 16px;
}

.collections-grid .main-column.buttons {
    height: 35px;
}

.collections-grid .main-column a {
    float: left;
}
.collections-grid .collections-title-column ul {
    clear: both;
}

.ext-strict .x-form-field-trigger-wrap .x-form-text, .ext-strict .x-small-editor .x-form-field-trigger-wrap .x-form-text {
    text-shadow:none !important;
}

.collectioncontainer:before {
    content: "\f0c9";
}

.selectioncontainer:before {
    content: "\f005";
}

.icon-collectioncontainer .x-tree-node-icon {
    background-image: url(i/collection.png) !important;
}

.icon-selectioncontainer .x-tree-node-icon {
    background-image: url(i/collection.png) !important;
}

.transparent-background {
    background-color: transparent;
}

.collections-setting-vtab {
    padding: 0px;
}
#modx-user-comment{height:200px!important}