/* PAGE PRELOADER
___________________________________________ */

#page-preloader{
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background:#fff;
	z-index:900;
	}
#page-preloader .loader{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url(../img/mobile/logo.svg) 50% 50% no-repeat;
	background-size:100% auto;
	margin: -30px 0 0 -30px;
	-webkit-animation: pulse-zoom 1.8s infinite linear;
	-moz-animation: pulse-zoom 1.8s infinite linear;
	-ms-animation: pulse-zoom 1.8s infinite linear;
	-o-animation: pulse-zoom 12.8s infinite linear;
	animation: pulse-zoom 1.8s infinite linear;		
	}
/* zoom pulse */	
@-webkit-keyframes pulse-zoom {
  0%, 100% {    
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
     -webkit-transform: scale(3.0);
            transform: scale(3.0);
  }
}
@keyframes pulse-zoom{
   0%, 100% {    
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
     -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* IMG's PRELOADER
___________________________________________ */
body:before{
	content:' ';
	background:
		url(../img/mobile/icn_menu_a.png),
		url(../img/mobile/icn_basket_a.png),
		url(../img/mobile/icn_filters_a.png),
		url(../img/mobile/icn_user_a.png),
		url(../img/mobile/icn_firesheep.png);
	display:block;
	width:1px;
	height:1px;
	overflow:hidden;
	position:absolute;
	left:-1px;
	top:-1px;
	visibility:hidden;
	z-index:1;
	}

	

/* MAIN RESPONSIVE BLOCKS
_____________________________________ */	
#main-container{
	position:relative;
	display:block;
	width:100%;
	min-width:320px;
	max-width:640px;
	height:auto;
	min-height:100vh;
	padding:50px 0 300px 0;
	margin:auto;
	background:rgba(255,255,255,1.00);
	z-index:2;
	}
.resolution{
	position:relative;
	display:block;
	margin:auto;
	padding:0;
	z-index:99;	
	}
.main-footer{
	position:absolute;
	left:0;
	bottom:0;
	}	


	
/* BIND STYLES
_____________________________________ */		
[class*="btn-blue-"]{
	display:block;	
	width:280px;
	height:60px;
	margin:auto;
	}
[class*="btn-blue-"] *{
	display:block;
	background:rgba(32, 159, 227, 1);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid rgba(32, 159, 227, 1);	
	width:100%;
	height:inherit;
	text-align:center;
	color:#fff;
	font:300 15px/58px "Open Sans", Arial, sans-serif;	
	}

[class*="btn-blue-"] *:hover{
	background:rgba(255,255,255,1.00);	
	border:1px solid rgba(32, 159, 227, 0.5);
	color:rgba(32, 159, 227, 1);	
	}	
	
	
	
/* HEADER
_____________________________________ */			
.main-header{
	display:block;
	width:100%;
	min-width:320px;
	height:50px;
	position:fixed;
	top:0; left:0;
	background:#f3f7f9;
	border-bottom:1px solid #abc1d6;
	z-index:40;
	}	
.main-header > ul > li{
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	top:0;
	z-index:2;
	background-size:80% auto !important;
	}	
.main-header > ul > li > *{
	display:block;
	width:inherit;
	height:inherit;
	}
	
.main-header .logo{
	left:10px;
	background:url(../img/mobile/logo.svg) 50% 50% no-repeat;	
	}
	
.main-header .h-btn-user{
	right:160px;
	background:url(../img/mobile/icn_user_i.png) 50% 50% no-repeat;	
	}.main-header .h-btn-user.active{
		background-image:url(../img/mobile/icn_user_a.png);	
		}

.main-header .h-btn-user-room{
	display: none;
	right:160px;
	background:url(../img/mobile/icn_user_room_a.png) 50% 50% no-repeat;
}.main-header .h-btn-user-room.active{
		 display: block;
 		}

		#msMiniCart{position:relative;}
		#msMiniCart a{display:block;width:50px;height:50px;}
.main-header .h-btn-basket{
	right:110px;
	background:url(../img/mobile/icn_basket_i.png) 50% 50% no-repeat;	
	}.main-header .h-btn-basket.active{
		background-image:url(../img/mobile/icn_basket_a.png);		
		}
	
.main-header .h-btn-search{
	right:60px;
	background:url(../img/mobile/icn_search_i.png) 50% 50% no-repeat;	
	}.main-header .h-btn-search.active{
		background-image:url(../img/mobile/icn_search_a.png);	
		}
		
.main-header .h-btn-menu{
	right:10px;
	background:url(../img/mobile/icn_menu_i.png) 50% 50% no-repeat;	
	}.main-header .h-btn-menu.active{
		background-image: url(../img/mobile/icn_menu_a.png);
		}


.main-header .h-btn-basket .products-on-basket{
	display:none;
	position:absolute;
	width:auto;
	height:16px;
	background:#c53048;
	color:#fff;
	font:400 13px/15px "Open Sans", Helvetica, Arial, Tahoma;
	text-align:center;
	padding:0 5px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-ms-border-radius:20px;
	top:5px;
	right:2px;
	}
.main-header .h-btn-basket.active .products-on-basket{
	display:block;
	}

/* MAIN MENU
_____________________________________ */	
.main-menu{
	position:absolute;
	display:block;
	top:48px;
	right:0;
	width:100%;
	max-width:320px;
	height:auto;
	max-height:100vh;
	overflow-y:auto;
	overflow-x:hidden !important;
	z-index:60;
	background:rgba(255,255,255,1.00);
	border:1px solid #abc1d6;
	box-shadow:0 2px 15px 0 rgba(0,0,0,.1);
	padding-bottom:50px;
	
	visibility:hidden;
	opacity:0.0;
	
	transform:translateX(320px);
	-moz-transform:translateX(320px);
	-ms-transform:translateX(320px);
	-o-transform:translateX(320px);
	-webkit-transform:translateX(320px);
	}
.main-menu.active{
	
	visibility:visible;
	opacity:1.0;
	
	transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	-webkit-transform:translateX(0);
	}
.main-menu:before{
	content:"";
	display:block;
	width:12px;
	height:12px;
	background:rgba(255,255,255,1.00);
	position:absolute;
	right:28px;
	top:-6px;
	border-right:1px solid #abc1d6;
	border-top:1px solid #abc1d6;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	}
.main-menu > li > a{
	display:block;
	height:40px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	padding:0 20px;
	border-bottom:1px solid #e6eef2;
	font:400 15px/38px "Open Sans", Helvetica, Arial, Tahoma;
	color:#1c3947;
	text-decoration:none;
	}
.main-menu > li > div{
	display:block;
	height:50px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	padding:0 20px;
	border-bottom:1px solid #e6eef2;
	font:700 20px/48px "Open Sans", Helvetica, Arial, Tahoma;
	color:#abc1d6;
	text-decoration:none;
	}
.main-menu > li > div > a{
	display:block;
	position:absolute;
	right:10px;
	top:50%;
	margin-top:-15px;
	background:#f3f7f9;
	border:1px solid #abc1d6;
	height:30px;
	width:auto;
	padding:0 10px;
	text-decoration:none;
	text-transform:uppercase;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-ms-border-radius:4px;
	color:#828e9a; 
	font:400 10px/28px "Open Sans", Helvetica, Arial, Tahoma;
	}


/* LOGIN - REGISTR
_____________________________________ */
.main-login-registration{
	position:absolute;
	display:block;
	top:48px;
	right:0;
	width:100%;
	max-width:320px;
	height:auto;
	max-height:100vh;
	overflow-y:auto;
	overflow-x:hidden !important;
	z-index:60;
	background:rgba(255,255,255,1.00);
	border:1px solid #abc1d6;
	box-shadow:0 2px 15px 0 rgba(0,0,0,.1);
	padding:20px 20px 200px 20px;

	visibility:hidden;
	opacity:0.0;

	transform:translateX(320px);
	-moz-transform:translateX(320px);
	-ms-transform:translateX(320px);
	-o-transform:translateX(320px);
	-webkit-transform:translateX(320px);

}
.main-login-registration.active{

	visibility:visible;
	opacity:1.0;

	transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	-webkit-transform:translateX(0);
}
.registration-form-container{
	display: none;
}
.tabs-btn{
	padding: 0 3%;
	display: inline-block;
	width: 106%;
	left: -3%;
	height: 40px;
	border-bottom: 1px solid #abc1d6;
	margin-bottom: 10px;
}

.tabs-btn > *{
	display: inline-block; 
	float:left;
	height: 40px;
	padding: 0 15px;
	line-height: 38px;
	cursor:pointer;
	background: #fff;
	top:-1px;
	color:#828e9a;
}
.tabs-btn > *.active{
	top:0;
	border: 1px solid #abc1d6;
	border-bottom: none;
	color:#1C3947;
}
.form-group{
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}
.form-group label.control-label{
	display: inline-block;
	width: 100%;
}
.form-group [class*='col-xs-']{
	width: 100%;
}
.help-block{
	font-size: 13px;
	color:#abc1d6;
}
.submit-btn{
	display:block;
	width: 100%;
	height: auto;
	min-height: 40px;
	padding: 10px 20px;text-align: center;
	background:#8fad3c;
	color:#fff;
}
.submit-btn:hover{
	color:#fff;

}
sup{
	top: 2px;
	color: #ff8f00;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
.checkbox{
	margin-bottom: 10px;
}
.has-error .form-control, .has-error .custom-select {
	border-color: #c53048;
}
.has-error .help-block, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
	color:  #c53048;
}
 input:not([type="radio"]):not([type="checkbox"]):not([type="button"]){
	padding: 0 10px;
}
select{
	padding:0 40px 0 10px;
}



	/* SEARCH
    _____________________________________ */
.main-search{
	position:absolute;
	display:block;
	top:48px;
	right:0;
	width:100%;
	max-width:320px;
	min-height:100px;
	z-index:55;
	padding:20px;
	background:rgba(255,255,255,1.00);
	border:1px solid #abc1d6;
	box-shadow:0 2px 15px 0 rgba(0,0,0,.1);
	
	visibility:hidden;
	opacity:0.0;
	
	transform:translateX(320px);
	-moz-transform:translateX(320px);
	-ms-transform:translateX(320px);
	-o-transform:translateX(320px);
	-webkit-transform:translateX(320px);
	}
.main-search.active{	
	visibility:visible;
	opacity:1.0;
	
	transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	-webkit-transform:translateX(0);
	}
/*
.main-search:before{
	content:"";
	display:block;
	width:12px;
	height:12px;
	background:rgba(255,255,255,1.00);
	position:absolute;
	right:78px;
	top:-6px;
	border-right:1px solid #abc1d6;
	border-top:1px solid #abc1d6;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	}
	*/
.main-search > li > h4{
	margin-bottom:10px;
	}	
.search-form{
	margin-bottom:20px;
	}
.search-form input{
	padding:0 45px 0 10px;
	}
.search-form > *[type="submit"]{
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:40px;
	z-index:2;
	background:url(../img/mobile/icn_arow_right.png) 50% 50% no-repeat;
	background-size:90% auto;
	}
.random-links a{
	display: inline-block;
	float:left;
	height:40px;
	padding:0 15px;
	color:#296fcb;
	border:1px solid #abc1d6;
	font:400 13px/38px "Open Sans", Helvetica, Arial, Tahoma;
	text-decoration:none;
	margin: 0 10px 10px 0;
	}	


/* SLIDER MAIN PAGE 
_____________________________________ */		
.main-page-slider{
	display:block;
	width:100%;
	height:160px;
	background: rgba(255,255,255,1.00); /*test*/
	clear:both;
	}
.swiper-button-prev, 
.swiper-container-rtl 
.swiper-button-next{
	
	background-image: url(../img/mobile/icn_arow_left.png) !important;
	}
	
.swiper-button-next, 
.swiper-container-rtl 
.swiper-button-prev{
	
	background-image: url(../img/mobile/icn_arow_right.png) !important;
	}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 40px 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px !important;
    background-position: center;
    background-repeat: no-repeat;
	}	
.swiper-button-next{
	right:0 !important;
	}
.swiper-button-prev{
	left:0 !important;
	}
		
.swiper-container{
	z-index:5;
	position:relative;
	width: 100%;
	height:160px;
	padding:0;	
	overflow:hidden;
	background:none;
	}
	.swiper-container.gallery-product
	{
		height:300px;
	}
.swiper-slide{
	top:0;
	padding:0 10px;
	padding:0 30px;
    text-align:left;
/* Center slide text vertically */
 	display: -webkit-box;
	display: -ms-flexbox;
    display: -webkit-flex;
   	display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
.preview-container{
	display:inline-block;
	position:relative;
	width:100%;
	min-width:120px;
	height:150px;
	overflow:hidden;
	top:0; left:0;
	z-index:2;
	padding:0;
	background: rgba(255,255,255,1.00);
	}			
.preview-container > *{
	display:inline-block;
	width:100%;
	padding:0;
	}
.prev-sale-marker{
	position:absolute;
	width:auto;
	padding:0 10px;
	height:20px;
	top:5px; right:5px;
	display:block;
	z-index:4;
	font:700 15px/18px "Open Sans Condensed", Impact, Helvetica;
	color:#fff;
	background:#8fad3c;
	}
	.prev-sale-marker[data-marker="green"]{
	background:#8fad3c;
	}
.prev-sale-marker[data-marker="red"]{
	background:#c53048;
	}	
.prev-sale-marker[data-marker="blue"]{
	background:#a0489c;/*#296fcb;*/
	}

	.prev-sale-marker[data-marker="blue2"]{
	background:#3ba1b0;
	}

	
.preview-container .prev-image{
	display:block;
	width:100%;
	height:120px;
	overflow:hidden;
	text-align:center;
	}.preview-container .prev-image img{
		display:block;
		height:100%; 
		width:auto; 
		margin:auto;
		}	
.prev-image > *{
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	}
.prev-name{
	position:absolute;
	left:0;
	bottom:25px;
	height:40px;
	background:rgba(255,255,255,1.00);
	}		
.prev-name > *{
	display:block;
	height:auto;
	max-height:30px;
	padding:3px 0;
	max-height:38px;
	overflow:hidden;
	font:700 11px/11px "Open Sans Condensed", Impact, Helvetica;
	color:#1c3947;
	text-decoration:none;
	}
.prev-buy-btn{
	display:block;
	position:absolute;
	bottom:0; left:0;
	width:100%;
	height:25px;
	text-align:center;
	background:#ff8f00;
	padding:0;
	}
.prev-buy-btn a{	
	display:inline-block;
	width:auto;
	top:0;
	text-align:center;
	height:20px;
	padding:0 0 0 23px;
	color:#fff;
	background:url(../img/mobile/icn_basket_w.png) 0 50% no-repeat;
	background-size:auto 18px !important;
	text-decoration:none;
	text-transform:uppercase;
	font:700 11px/18px "Open Sans", Arial, Helvetica, Tahoma, serif;
	}
.prev-buy-btn:before{
	background:#1c3947;
	}
.prev-buy-btn:hover:before{
	background:#4074B3;
	}
	
	
	
	
	
	
	
	
	
	

	

/* MAIN MENU ACCORDEON
_____________________________________ */
.main-menu-list{
	display:block;
	width:100%;
	height:auto;
	}	
	
/* menu lvl-1 */	
.main-menu-list > ul{
	display:inline-block;
	width:100%;
	height:auto;
	background:#f3f7f9;
	border-top:1px solid #e6eef2;
	}
.main-menu-list > ul > li{
	display:block;
	width:100%;
	}
.main-menu-list > ul > li > a{
	display:block;
	padding: 0 20px 0 80px;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	height:50px;
	text-decoration:none;
	font:400 15px/48px "Open Sans", Helvetica, Arial, Tahoma;
	text-transform:uppercase;
	border-bottom:1px solid #e6eef2;
	background:url(../img/mobile/icn_arow_down.png) 95% 50% no-repeat;
	background-size:40px auto !important;
	color:#1c3947;
	}		
.main-menu-list > ul > li.active > a{
	background-image:url(../img/mobile/icn_arow_up.png);
	background-color: #e6eef2;
	}	
.main-menu-list > ul > li > a:before{
	content:'';
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	left:15px;
	top:50%;
	margin-top:-25px;
	background-size:70% auto !important;
	z-index:2;
	}
a[data-menu="1"]:before{
	background:url(../img/mobile/icn_menu_pet1.png) 50% 50% no-repeat;
	}	
a[data-menu="2"]:before{
	background:url(../img/mobile/icn_menu_pet2.png) 50% 50% no-repeat;
	}	
a[data-menu="3"]:before{
	background:url(../img/mobile/icn_menu_pet3.png) 50% 50% no-repeat;
	}	
a[data-menu="4"]:before{
	background:url(../img/mobile/icn_menu_pet4.png) 50% 50% no-repeat;
	}	
a[data-menu="5"]:before{
	background:url(../img/mobile/icn_menu_pet5.png) 50% 50% no-repeat;
	}	
a[data-menu="6"]:before{
	background:url(../img/mobile/icn_menu_pet6.png) 50% 50% no-repeat;
	}
/* menu lvl-2 */
	
.main-menu-list > ul > li > ul{
	display:none;
	padding:0 25px;
	background: #f3f7f9;
	border-bottom:1px solid #e6eef2;
	-webkit-transition: all 1.23s ease-out;
	-moz-transition: all 2.23s ease-out;
	-o-transition: all 2.23s  ease-out;
	-ms-transition: all 2.23s  ease-out;
	transition: all 2.23s ease-out;
	}
.main-menu-list > ul > li.active > ul{
	display:block;
	}
.main-menu-list > ul > li > ul > li > a{
	display:block;
	overflow:hidden;
	white-space:nowrap;
	width:100%;
	height:40px;
	text-decoration:none;
	font:700 15px/38px "Open Sans", Helvetica, Arial, Tahoma;
	color:#828e9a;
	}
.main-menu-list > ul > li > ul > li:not(:last-child) > a{	
	border-bottom:1px solid #e6eef2;
	}

/* menu lvl-3 */
.sub-3-links{
	display: inline-block;
	width: 100%;
	padding: 0 10px;
	border-bottom: 1px solid #e6eef2;

}

.sub-3-links > *{
	display: inline-block;
	min-height: 20px;
	padding: 10px 30px 10px 0;
	width: 100%;
	text-decoration: none;
	color:#1C3947;
	background: url("../img/mobile/icn_arow_right.png") 100% 50% no-repeat;
	background-size: auto 30px !important;
}
.sub-3-links > *:not(:last-child){
	border-bottom: 1px solid #e6eef2;
}


/* FOOTER
_____________________________________ */
.main-footer{
	display:block;
	width:100%;
	height:auto;	
	}	
.contacts{
	display:block;
	width:100%;
	max-width:240px;
	margin:auto;
	padding:25px 0;
	}	
.contacts > li{
	width:100%;
	display:inline-block;
	text-align:center;
	}	
.contacts > li:nth-child(1){
	font:400 10px "Open Sans", Helvetica, Arial, Tahoma;
	text-transform:uppercase;	
	padding-bottom:10px;
	}	
.contacts > li:nth-child(2) > a{
	z-index:2;
	display:block;
	width:100%;
	padding:15px 20px;
	text-align:right;
	color:#fff;
	background:#8fad3c;
	text-decoration:none;
	font:700 25px "Open Sans", Helvetica, Arial, Tahoma;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 1px 5px 1px rgba(0,0,0,0.08), 0 1px 15px 1px rgba(0,0,0,0.10);
	
	}
.contacts > li.main-phone > a:before{	
	content:'';
	display:block;
	width:50px;
	height:50px;
	position:absolute;
	left:5px;
	top:50%;
	margin-top:-25px;
	background:url(../img/mobile/icn_phone_w.png) 50% 50% no-repeat;
	background-size:70% auto !important;
	z-index:2;
	}	
.other-phones{
	top:-5px;
	z-index:1;
	border:1px solid #e6eef2;
	border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	padding:15px 10px 10px 10px;
	}
.other-phones > div{
	top:-5px;
	}
.other-phones > div > a{
	display:block;
	padding:10px 15px;
	margin:5px auto;
	border:1px solid #e6eef2;
	background:#f3f7f9;
	text-decoration:none;
	color:#1c3947;		
	}
.btn-more-phones{
	display:block;
	width:100%;
	height:40px;
	color:#1c3947;
	cursor:pointer;
	text-decoration:none;
	color:#1c3947;
	font:400 15px/38px "Open Sans", Helvetica, Arial, Tahoma;
	}	
.btn-more-phones:hover{
	color:#1c3947;
	}
.other-phones > div:not(.active){
	display:none;
	}		
.work-time span{
	display:inline-block;
	padding:10px 0 10px 25px;
	background:url(../img/mobile/icn_time_n.png) 0 50% no-repeat;
	background-size:20px auto !important;
	}	
.btns-social{
	display:block;
	width:100%;
	height:auto;
	text-align:center;	
	}	
.btns-social li{
	display:inline-block;
	width:40px;
	height:40px;
	margin:0 5px;
	}
.btns-social li a{
	display:block;
	width:inherit;
	height:inherit;
	background-size:100% auto !important;
	}
.soc-icn-fb a{
	background:url(../img/mobile/icn_soc_fb.png) 50% 50% no-repeat;
	}	
.soc-icn-vk a{
	background:url(../img/mobile/icn_soc_vk.png) 50% 50% no-repeat;
	}


.soc-icn-in a{
	background:url(../img/mobile/icn_soc_inst.png) 50% 50% no-repeat;
}
.copyright{
	width:100%;
	display: inline-block;
	margin-bottom: 5px;
	padding-top:5px 0;
	text-align:center;
	font:400 10px/15px "Open Sans", Helvetica, Arial, Tahoma;
	color:#abc1d6;
	white-space:nowrap;
	}	
	



/* 	CRUMBS
_____________________________________ */
.catalog-tool{
	position:fixed;
	left:0; top:50px;
	/*position:relative; clear:both;*/
	display:block;
	width:100%;
	height:50px;
	z-index: 30;
	background:rgba(255,255,255,1.00);
	border-bottom:1px solid #e6eef2;
	-webkit-box-shadow: 0 2px 10px 0 rgba(28, 57, 71, 0.1);
	-moz-box-shadow:0 2px 10px 0 rgba(28, 57, 71, 0.1);
	box-shadow: 0 2px 10px 0 rgba(28, 57, 71, 0.1);
	}
.big-prevs-container{
	width:100%;
	display:block;
	position:relative;
	min-height:200px;
	padding:50px 0 20px 0;
	/*clear:both;*/
	}
.catalog-tool li{
	display:block;
	height:50px;
	position:absolute;
	top:0;	
	}
.catalog-tool > li > a{
	width:100%;
	height:inherit;
	display:block;
	}
.catalog-tool li:not(.crumbs){
	cursor:pointer;
	width:50px;
	z-index:2;
	}
.catalog-tool li.crumbs{
	width:100%;
	padding:0 75px;
	z-index:1;
	text-align:center;
	overflow:hidden;
	}
.catalog-tool li.crumbs:before{
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;	
	}
	.catalog-tool li.crumbs a{text-decoration:none;
	
	color:#1c3947;
	}
.catalog-tool li.crumbs span{
	width:100%;
	max-height:40px;
	display:inline;	
  	vertical-align:middle;
	}
.catalog-tool li.btn-back{
	left:10px;
	background:url(../img/mobile/icn_arow_left.png) 50% 50% no-repeat;
	background-size:80% auto !important;
	}	
.catalog-tool li.btn-filters{
	right:10px;
	background:url(../img/mobile/icn_filters_i.png) 50% 50% no-repeat;
	background-size:80% auto !important;
	}.btn-filters > a{
	display: block;
	width: 100%;
	height: 100%;
	 }


#sort-by-form{
	display:block;
	position:relative;
	width:100%;
	height:40px;
	background:#f3f7f9;
	text-align:center;
	}
#sort-by-form > form{
	height:40px;
	display:inline-block;
	padding:0 
	}
#sort-by-form > form > *{
	float:left;
	display:block;
	width: 50%;
	height:40px;
	line-height:38px;
	background:none;
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline:none;
	}
#sort-by-form > form > div:before{
	content:"";
	position: absolute;
	top:0;
	right: 0;
	display: block;
	width: 32px;
	height: 40px;
	background: url(../img/mobile/icn_arow_down.png) 50% 50% no-repeat;
	background-size: 100% auto;
}
#sort-by-form > form > div > select{
	font:400 15px "Open Sans", Arial, sans-serif;
	color:#296fcb;
	height:36px;
	padding:5px 25px 5px 5px;
	cursor:pointer;
	border:0;
	text-decoration: underline;
	}
#sort-by-form > form > div > select:focus{
	border:0 !important;
}
/* One product, basket, order styles
 _____________________________________________________ */

.product-container,
.basket-container,
.order-checkout-container,
.loginregistration-container,
.body-container{
	width:100%;
	display:block;
	position:relative;
	min-height:200px;
	padding:50px 0 20px 0;
}


.product-container{
	padding-top:0px;
}
	
	
	
	
	
	
	
	
	
	
/* big previews container */	
	
.big-prevs-list{
	display:inline-block;
	width:100%;
	height:auto;
	}			
.big-prev-block	> ul:first-child{
	width:100%;
	display:inline-block;
	height:100px;
	height:auto;float:left;
	}
	.big-prev-block	> ul{display:table;}
.big-prev-block	> ul > li{
	/*position:absolute;
	top:0;*/width:100%;
	display:block;
	float:left;
	background:none;
	}
.big-prevs-list .big-prev-block{
	display:inline-block;
	padding:10px 20px;
	width:100%;
	margin-bottom:15px;
	border-bottom:1px solid #e6eef2;
	float:left; 
	}
.big-prev-img{
	width:100px!important;
	height:100px;
	height:auto;
	float:none!important;
	/*overflow:hidden;*/display:inline-block;
	display:table-cell!important;
	vertical-align:top;
	}
.big-prev-name{
	display:inline-block;
	/*padding-left:120px;*/
	vertical-align:top;
	width:100%;width:auto!important;
	display:table-cell!important;
	/*width:auto!important;
	height:100px;
	float:left;*/
	}
.big-prev-name a{font:700 15px/15px "Open Sans Condensed", Arial, Helvetica, Sans-serif;}
.big-prev-name h2{
	font:700 15px/15px "Open Sans Condensed", Arial, Helvetica, Sans-serif;
	max-height:76px;
	overflow:hidden;
	padding:0;
	margin:0;
	}
.big-prev-product-tool{
	display:inline-block;
	width:100%;
	height:40px;
	float:none;
	clear:both;
	}	
	.big-prev-product-tool li{width:auto!important;}
	
.product-type-form div.form{
	display:inline-block;
	height:40px;
	}	
	.big-prev-price{float:right!important;}
.product-type-form div.form select{
	cursor:pointer;
	max-width: 80px;
	height:40px;
	padding:0 2px 0 25px !important;
	font:700 15px/38px "Open Sans Condensed", Arial, Helvetica, Sans-serif !important;
	background:none;
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	outline:none;
	z-index:2;
	color:#1c3947;
	}
.product-type-form div.form select:focus{
	border: 0 !important;
}
.product-type-form div.form:before{
	content:"";
	position:absolute;
	left:0;
	z-index:1;
	width:30px;
	height:40px;
	background:url(../img/mobile/icn_arow_down.png) 50% 50% no-repeat;
	background-size:120% auto;
	}	
	
.sale-marker{
	position:absolute;
	z-index:20;
	
	color:#fff;
	display:block;
	width:auto;
	height:auto;
	padding:2px 7px;
	font:700 15px "Open Sans Condensed", Arial, Helvetica, Sans-serif !important;
	}
[data-marker="green"]{
	background:#8fad3c;
	}
[data-marker="red"]{
	background:#c53048;
	}	
[data-marker="blue"]{
	background:#a0489c;/*#296fcb;*/
	}

	[data-marker="blue2"]{
	background:#3ba1b0;
	}

	
	
.big-prev-price{
	display:block;
	right:0;
	}	
.big-prev-price > *{
	display:block;
	float:left;
	height:40px;
	}
.icn-free{
	
	position:absolute !important;
	width:40px;
	height:40px;
	left:80px;
	background:url(../img/mobile/icn_firesheep.png) 50% 50% no-repeat !important;
	background-size:100% auto !important;
	}
.big-prev-price .price{
	max-width:100px;
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-align:right;
	padding-right:10px;
	font:700 15px/38px "Open Sans Condensed", Arial, Helvetica, Sans-serif;
	}		
.price:after{
	content:" грн";opacity: 0.8;
	}	
.big-prev-price .btn-buy{
	display: inline-block;
	width: auto;
	padding:0 10px;
	background:#ff8f00;
	height:30px !important;
	min-height: auto;
	max-height: 30px;
	top:5px;
	color:#fff;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	text-transform:uppercase;
	font-weight:700;
	}	
.more_products{
	width:100%;
	padding:10px 0;
	border-bottom:1px solid #e6eef2;
	
	}	

.more_products > *{
	display:block;
	margin:0 auto 10px;
	width:240px;
	text-align:center;
	}
.more_products > .btn-more-products{
	background:#f3f7f9;
	border:1px solid #e6eef2;
	height:50px;
	color:#1c3947;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;	
	}	

	




/* product styles */
.product-block{
	display: block;
	width: 100%;
	margin-top: 30px;
}
.product-name{
	display: block;
	width: 100%;
	padding: 15px;
	/*padding: 15px 15px 0px 15px;*/
}
.product-name > *{
	font:700 20px/22px "Open Sans Condensed", Arial, Helvetica;
	color: #1C3947;
}
.product-photo-container{
	display:table;
	width:100%;
}
.product-photo{

	display: table-cell;
	vertical-align: middle;
	text-align:center;
}
.product-photo-container .marker{
	display: inline-block;
	white-space: nowrap;
	font:700 13px "Open Sans Condensed", Arial, Helvetica;
	padding: 10px 15px;
	position: absolute;
	z-index: 2;
	left: 0px;
	top:0px;
	color:#fff;
	text-transform: uppercase;

}
.product-photo-container .product-photo{
	width: 100%;
	max-width: 420px;
	
	height: 175px;
	height:300px;
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
	margin:0px auto 20px auto;
	text-align:center;
}
.product-photo-container .product-photo img{
	width: auto;
	height: auto;
	max-height: 100%;
	display: block;
	margin: auto;
}

.product-buy-choice{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.product-buy-choice > li {
	width: 100%;
	display: block;
	padding: 0 20px;
	height: 50px;
	border-bottom:1px dashed #e6eef2;

}
.product-buy-choice > li > *{
	position: absolute;
	display: inline-block;
	top:0;
	height: inherit;
	white-space: nowrap;
	overflow: hidden;
	font:700 20px/48px "Open Sans Condensed", Arial, Helvetica;
}
.product-buy-choice > li .buy-type{
	left: 15px;
	font-size: 15px;
	top:-5px;
	max-width: 95px;
}
.basket-table-product-name .grey.small, .product-buy-choice > li .sale-from-type{
	display: inline-block;
	width: auto;
	padding: 0;
	bottom:5px;
	left:15px;
	top:auto;
	height: 20px;
	color:#828e9a;
	max-width: 95px;
	font:400 13px/20px "Open Sans", Arial, Helvetica;
}
.basket-table-product-name .grey.small{
	left:0px;
	margin-top:15px;
}
.product-buy-choice > li .price{
	right: 90px;
	max-width: 115px;
}
.product-buy-choice > li  .btn-buy{
	right: 15px;
	width: 60px;
	height: 40px;
	top:50%;
	margin-top:-20px;
}
.product-buy-choice > li .btn-buy > * {
	display: block;
	width: 100%;
	height: inherit;
	background: #ff8f00;
	font:700 15px/38px "Open Sans Condensed", Arial, Helvetica;
	color:#fff;
	padding: 0;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px ;

}

.product-brief{
	padding:0 15px;
	margin-bottom: 20px;
}
.product-brief h2{
	font:700 20px/22px "Open Sans Condensed", Arial, Helvetica;
	color:#8fad3c;
	margin-bottom: 10px;
}
.product-brief h3 {
	font:400 15px/20px "Open Sans", Arial, Helvetica;
}
.product-code{
	display: inline-block;
	width: 100%;
	text-align:left;
	margin: 5px auto;
	padding: 5px 15px;
	font-size: 13px;
	background:#f3f7f9;
	color:#828e9a;
}

.big-prev-block .product-code{
	
	padding: 0px;
	
	background:none;
	color:#828e9a;
}
.product-code > *{
	color:#1C3947;
}

.product-info-accordion{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top:1px solid #e6eef2;
}
.product-info-accordion > li > a{
	display:block;
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	font:400 15px/20px "Open Sans", Arial, Helvetica;
	color:#1C3947;
	text-decoration: none;
	background:url(../img/mobile/icn_arow_down.png) 99% 50% no-repeat;
	background-size:40px auto !important;

}
.product-info-accordion > li.active > a{
	background-image:url(../img/mobile/icn_arow_up.png);

}
.product-info-accordion > li > a + *{
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	-webkit-box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	-moz-box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
}
.product-info-accordion > li > a + * > *{
	margin-bottom: 15px;
}
.product-sale-info{
	width: 100%;
	display: inline-block;
	padding: 0 15px;
	margin-bottom: 20px;
}
.product-sale-info > *{
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
	border:1px solid #c53048;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	-moz-box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	background: #fff;
}
.product-sale-info > *:before{
	content: "";
	position:absolute;
	width: 12px;
	height: 12px;
	display: block;
	left:50%;
	top:-6px;
	z-index: 2;
	margin-left:-6px;
	border-right:1px solid #c53048;
	border-top:1px solid #c53048;
	background:#fff;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.product-other-info{
	width: 100%;
	display: inline-block;
	padding: 0 15px;
	margin-bottom: 20px;
}
.product-other-info > *{
	display: inline-block;
	width: 100%;
	padding: 15px 20px;
	border:1px solid #abc1d6;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	-moz-box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	box-shadow: 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	background: #fff;
}
.product-other-info > *:before{
	content: "";
	position:absolute;
	width: 12px;
	height: 12px;
	display: block;
	left:50%;
	top:-6px;
	z-index: 2;
	margin-left:-6px;
	border-right:1px solid #abc1d6;
	border-top:1px solid #abc1d6;
	background:#fff;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.invoice{
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
	padding: 10px 15px;
	border-bottom:1px  dashed #abc1d6;
}

.invoice > *{
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
}
/* COMMENTS */

.reviews-container{
	padding: 15px 0;
}
.review{
	padding: 10px 15px;
	border: 1px solid #e6eef2;
	background: #f3f7f9;
	border-radius: 3px;
	margin-bottom: 15px;
}
.review > *:not(.review-rating){
	margin-bottom: 7px;
}
.review:before{
	content: "";
	position:absolute;
	width: 12px;
	height: 12px;
	display: block;
	left:0;
	top:10%;
	z-index: 2;
	margin-left:-6px;
	border-left:1px solid #e6eef2;
	border-top:1px solid #e6eef2;
	background:#f3f7f9;
	transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}
.review-name{
	font-weight:700;
	color:#8fad3c;
}
.review-user-pets{
	font-size: 12px;
	color:#828e9a;
	line-height: 15px;
}
.review-text{
	font-size: 13px;
	line-height: 16px;
}
.review-date{
	font-size: 12px;
	line-height: 15px;
	color:#828e9a;
}
.review-rating{
	left: -5px;
}
#comment-editor{
	height: 120px;
	margin-bottom: 15px;
}
.stars-comment{
	display: inline-block;
	width: auto;
	height: 20px;

}
.stars-comment > *{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	background: url("../img/mobile/icn_star.png") 50% 0 no-repeat;
	background-size: 100% auto   !important;
}
.stars-comment > *:not(.active){
	background-position:50% 100%;
}

.review-form-inlogin{
	text-align: center;
}
/*
.br-widget{
	display: inline-block;
	width: auto;
	height: 30px;

}
.br-widget  a{
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	background: url("../img/mobile/icn_star.png") 50% 0 no-repeat;
	background-size: 100% auto !important;
}
.br-widget *:not(.br-selected){
	background-position:50% 100%;
}
*/
.br-widget{
	display: inline-block;
	width: auto;
	height: 30px;

}
.br-widget  a{
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	background: url("../img/mobile/icn_star.png") 50% 100% no-repeat;
	background-size: 100% auto !important;
}
/*
.br-widget *:not(.br-selected){
	background-position:50% 100%;
	background-position:50% 0;
}
.br-widget *:not(.br-active){
	
	background-position:50% 0;
}*/
.br-widget .br-selected,.br-widget .br-active
{
	background-position:50% 0;
}
/*
.br-widget a,.br-widget a:hover,.br-widget a.br-active,.br-widget a.br-selected,.br-widget-small .br-widget a,.br-widget-small .br-widget a:hover,
.br-widget-small .br-widget a.br-active,.br-widget-small .br-widget a.br-selected{
	
background: url("../img/mobile/icn_star.png") 50% 0 no-repeat;	background-size: 100% auto !important;
}*/
/*height:19px;width:21px;border:none;float:left;margin-right:6px}
.br-widget a:hover,.br-widget a.br-active,.br-widget a.br-selected{height:19px;width:21px}
.br-widget-small .br-widget{height:17px;margin-top:6px}.br-widget-small .br-widget a{
	background-position:50% 100%;
height:15px;width:17px;float:left}
.br-widget-small .br-widget a:hover,.br-widget-small .br-widget a.br-active,.br-widget-small .br-widget a.br-selected{
	background-position:0 -1328px;background-position:50% 100%;
	height:15px;width:17px}
*/






	/* popup window */
.windows-popup-container{
	display: none;
	position: absolute;
	z-index: 900;
	width: 100%;
	height: auto;
	padding: 50px 0 0 0;
	min-height: 100%;
	background:rgba(28, 57, 71, 0.5);
	text-align: center;
	top:0;
	left: auto;
}
.windows-popup-container > .window-popup {
	position: relative;
	display: block;
	width: 100%;
	max-width: 280px;
	height: auto;
	z-index: 60;
	margin: auto;
	background: rgba(255, 255, 255, 1.00);
	border: 1px solid #abc1d6;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
	-ms-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
	-webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);

}
.popup-header{
	background: #f3f7f9;
	color: #abc1d6;
	width: 100%;
	height: 50px;
	padding:0 55px 0 15px;
}
.boxStatus .popup-header
{
	padding:0 4055tretertpx 0 15px;
}
.popup-header h2{margin-top:0px;}
.popup-header > *{
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	font:700 20px/48px "Open Sans", Arial, sans-serif;
}
.pu-filters-header{margin:0px;}
.pu-filters-header:before{
	content:"";
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	left:0;
	top:0;
	background: url("../img/mobile/icn_filters_i.png") 50% 50% no-repeat;
	background-size:80% auto !important;
}
.btn-close{
	position:absolute;
	top:0px;
	right:0;
	display:block;
	width:50px;
	height:50px;
	border-radius:20px;
	z-index:10;
	cursor: pointer;
}.btn-close:before, .btn-close:after{
	 position:absolute;
	 top:50%;
	 content:"";
	 display:block;
	 width:4px;
	 height:20px;
	 left:50%;
	 margin:-10px auto auto -2px;
	 background:#abc1d6;
 }.btn-close:before{
	  transform:rotate(-45deg);
   }
.btn-close:after{
	transform:rotate(45deg);
	}



/* individual popup */
.filters-pu .popup-header{
	padding-left: 60px;
	text-align: left;
}
.filters-accordion{
	display: inline-block;
	width: 100%;
	height: auto;
}
.filters-accordion > li{
	display:inline-block;
	width: 100%;
	height: auto;
}
.filters-accordion > li > a{
	text-align: left;
	padding: 10px 90px 10px 20px;
	display:block;
	width:100%;
	height: auto;
	min-height:40px;
	color:#1C3947;
	text-decoration: none;
	border-bottom: 1px solid #e6eef2;
	line-height: 17px;
 }
.filters-accordion > li > a > span{
	display: block;
	position: absolute;
	top:0;
	width: auto;
	height: 50px;
	font:400 13px/37px "Open Sans", Arial, sans-serif;
	color:#296fcb;
	text-decoration: underline;
	right:20px;

}

/* all accordions style */
.accordion ul,
.accordion li{
	width: 100%;
}
.accordion > li:not(.active) > ul,
.accordion > li:not(.active) > div{
	display: none;
}
.accordion > li.active > ul,
.accordion > li.active > div{
	width: 100%;
	display: inline-block;

}
/* 2 lvl */
.filters-accordion > li > ul > li {
	text-align: left;
	display: block;
	min-height: 40px;
	padding: 10px 20px;
	border-bottom: 1px solid #e6eef2;
	background: #f3f7f9;

}
.filters-find{
	display: block;
	width:100%;
	height: auto;
	padding: 20px;
	text-align: center;
}
.filters-find-info{
	padding: 0 20px;
}
.filters-find .btn-more-find{
	display: inline-block;
	width: 100%;
	text-align: center;

}
.filters-find .btn-more-find > *{
	display: block;
	margin:10px auto;
	background: #f3f7f9;
	border: 1px solid #abc1d6;
	height: 40px;
	width:200px;
	padding: 0 10px;
	text-decoration: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-border-radius: 2px;
	color:#1C3947;
	font: 400 15px/38px "Open Sans", Helvetica, Arial, Tahoma;

}







/* USER ROOM */

.user-accordion{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top:1px solid #e6eef2;
}
.user-accordion > li > a{
	display:block;
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	font:400 15px/20px "Open Sans", Arial, Helvetica;
	color:#1C3947;
	text-decoration: none;
	background:url(../img/mobile/icn_arow_down.png) 99% 50% no-repeat;
	background-size:40px auto !important;

}
.user-accordion > li.active > a{
	background-image:url(../img/mobile/icn_arow_up.png);

}
.user-accordion > li > a + *{
	width: 100%;
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	-webkit-box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	-moz-box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
	box-shadow: inset 0 3px 10px 0 rgba(28, 57, 71, 0.08);
}

.user-room{
	padding: 20px 0;
	margin-bottom: 20px;
}
.user-hello{
	margin-bottom:20px;
	padding: 0 15px;
	font: 700 20px/22px "Open Sans Condensed", Arial, Helvetica;
}
.user-hello .user-name{
	color:#8fad3c;
}
/* user form */
.col-xs-6{
	width: 100%;
	display: inline-block;
}
.col-xs-6 > *{
	display: block;
	margin-bottom: 15px ;
}
.js-form{
	min-height:1px;
	margin-bottom: 20px;
}
.upload{
	display: block;
	width: 100%;
	height: 40px;
	background: #e6eef2;
	text-align: center;
	margin-bottom: 10px;
}
.boxavatar_account .upload{
	width:auto;display:inline;background:none;
}

.upload > * {
	display: block;
	position: absolute;
	height: inherit;
	width: 100%;
	line-height: 40px;
}
.upload input{
	z-index: 3;
}
.upload .file-upload-btn{
	z-index: 1;
}

.avatar-img-container{
	position: relative;
	width: 160px;
	height: 160px;
	display: block;
	margin:10px auto;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	overflow: hidden;
	border:1px dashed #abc1d6;
}
.avatar-img-container img{
	position: absolute;
	top:-1%;
	left: -1%;
	display: block;
	width: 102%;
	height: 102%;
}
.js-form-expand .help-block{
	text-align: center;
}
.ac-btn{
	cursor:pointer;
	display:block;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	background: #f3f7f9 url(../img/mobile/icn_arow_down.png) 100% 50% no-repeat;
	background-size: 40px auto;
	line-height: 38px;
	padding: 0 20px;
}
.ac-btn.active{
	background-image:url(../img/mobile/icn_arow_up.png);
}
.ac-hide{
	display: none;
}
	
/* User history table style */
.orders-history-info{
	margin-bottom: 15px;
}
.user-allorders-price,
.user-allorders-sale{
	font:700 20px "Open Sans Condensed", Impact, Helvetica;
	color:#8fad3c;

}
.user-sale-left,
.order-history-date{
	font:400 13px/16px "Open Sans", Arial, Helvetica, Tahoma, sans-serif;
	color:#abc1d6;
}







/* ORDERS HISTIRY ROOM */
.orders-history-accordion{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border:1px solid #e6eef2;
	border-bottom: none;
}
.orders-history-accordion > li > a{
	display:block;
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	font:400 15px/20px "Open Sans", Arial, Helvetica;
	color:#1C3947;
	text-decoration: none;
	background:url(../img/mobile/icn_arow_down.png) 99% 50% no-repeat;
	background-size:40px auto !important;
}
.orders-history-accordion > li.active > a{
	background-image:url(../img/mobile/icn_arow_up.png);

}
.orders-history-accordion > li.active{
	-webkit-box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
	-moz-box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
	box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
}
.orders-history-accordion > li.active > div{
	display: block;
}
.orders-history-accordion > li > a + *{
	width: 100%;
	border-bottom:1px solid #e6eef2;
	padding: 0;
	display: block;
}
.orders-history-table{
	width: 100%;
}
.orders-history-table *{
	font-size: 13px;
	line-height: 16px;
}
.orders-history-table thead > *{
	white-space: nowrap;
}
.orders-history-table tbody > *:not(:last-child){
	border-bottom:1px solid #e6eef2;
}
.orders-history-table tr > *:nth-child(3){
	text-align: right;
}
.orders-history-table th,
.orders-history-table td{
	vertical-align: middle;
	padding: 5px 5px;
}
.orders-history-table thead{
	background: #e6eef2;
}
.order-total-price{
	font:700 15px "Open Sans", Arial, Helvetica, Tahoma, sans-serif;
}





.composition-table{
	font-size: 13px;
	line-height: 16px;
}
.composition-table table{
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #abc1d6;
}
.composition-table table td,
.composition-table table th{
	padding: 10px !important;
}
.composition-table table thead{
	background: #f3f7f9;
	border-bottom: 1px solid #abc1d6;
	font-weight: 700;
}
.composition-table table tbody tr:nth-child(2n+2){
	background: #f3f7f9;
}
.composition-table table tr > *:last-child{
	text-align: right;
}
.composition-table table tbody tr > *:not(:last-child){
	border-right: 1px solid #abc1d6;
}








.product-quantity-pu .quantity{
	display: block;
	height: 40px;
	max-width: 150px;
	margin: 15px auto;

}




/* Basket */

.basket-table-list{
	display:inline-block;
	width:100%;
	height:auto;
}
.basket-table-block	> ul:first-child{
	width:100%;
	display:inline-block;
	height:100px;
}
.basket-table-block	> ul > li{
	position:absolute;
	top:0;
	display:block;
	float:left;
	background:none;
}
.basket-table-list .basket-table-block{
	display:inline-block;
	padding:10px 20px;
	width:100%;
	margin-bottom:25px;
	border-bottom:1px solid #e6eef2;
}
.basket-table-product-img{
	width:100px;
	height:100px;
	overflow:hidden;
}
.basket-table-product-name{
	display:inline-block;
	padding-left:110px;
	width:100%;
	height:100px;
}
.basket-table-product-name h2  a, .basket-table-product-name h2{
	font:700 15px/15px "Open Sans Condensed", Arial, Helvetica, Sans-serif;
	max-height:76px;
	overflow:hidden;
	padding:0;
	margin:0;
	text-decoration:none;
	color: #000;
}
.basket-table-product-tool{
	display:inline-block;
	width:100%;
	height:40px;
	float:none;
	clear:both;
	border-bottom:2px dashed #e6eef2;
	margin-bottom: 5px;
}
.basket-table-product-tool2{
	display:inline-block;
	width:100%;
	height:40px;
	float:none;
	clear:both;

}
.basket-table-product-tool2 > *{
	position: relative !important;
	display: block;
	height: 40px;
	width: 33.33%;
}
.basket-table-product-tool2 > *:last-child{
	text-align: right;

}
.basket-table-product-sale{
	line-height: 40px;
	font-weight: 700;
	right: 0;
}

.quantity > span{
	top:0;
	cursor: pointer;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	border: 0px solid #8fad3c;
	background-size: auto 90% !important;
}
.number-minus{
	left: 0;
	background: url(../img/mobile/icn_arow_left.png) 50% 50% no-repeat;
}
.number-plus{
	right: 0;
	background: url(../img/mobile/icn_arow_right.png) 50% 50% no-repeat;
}
.input-quantity{
	margin: auto;
	text-align: center;
	padding: 0 !important;
	width: 35px !important;
	min-width: auto !important;
	max-width: none !important;
}
.input-quantity::-webkit-outer-spin-button,
.input-quantity::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input-quantity[type='number'] {
	-moz-appearance: textfield;
}
.btn-delet-product{
	position: absolute !important;
	z-index: 8;
	top:70px;
	right: -20px;
	display: block;
	cursor: pointer;
	width: 35px;
	height: 30px;
	background: url("../img/mobile/btn_del_product.png") 50% 50% no-repeat;
	background-size: auto 100%;
}
.product-price,
.product-total-price{
	font:700 15px "Open Sans Condensed", Arial, Helvetica, Sans-serif;;
}



.enter-promocode{
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border:1px solid #e6eef2;
	border-bottom: none;
}
.enter-promocode > li > a{
	display:block;
	border-bottom:1px solid #e6eef2;
	padding: 10px 15px;
	font:400 15px/20px "Open Sans", Arial, Helvetica;
	color:#1C3947;
	text-decoration: none;
	background:url(../img/mobile/icn_arow_down.png) 99% 50% no-repeat;
	background-size:40px auto !important;
}
.enter-promocode > li.active > a{
	background-image:url(../img/mobile/icn_arow_up.png);

}
.enter-promocode > li.active{
	-webkit-box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
	-moz-box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
	box-shadow: 0 0 7px 0 rgba(41, 111, 203, 0.3);
}
.enter-promocode > li.active > div{
	display: block;
}
.enter-promocode > li > a + *{
	width: 100%;
	border-bottom:1px solid #e6eef2;
	padding: 15px 15px;
	display: inline-block;
}
.promocode-sale{
	display: inline-block;
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
	clear: both;
	float: none;
}
.promocode-sale > *{
	display: block;
	float: left;
	font-weight: 700;
}
.promocode-sale > span{
	width: 30%;
}
.promocode-sale > div{
	width: 70%;
	color:#8fad3c;
	text-align: right;
}
.btn-green{
	display: block;
	width: 100%;
	max-width: 300px;
	margin: auto;
	padding: 0 15px;
}

.orders-total-price{
	width: 100%;
	padding: 20px;
	text-align: center;
}
.orders-total-price > div {
	font:700 30px "Open Sans", Arial, Tahoma, sans-serif;
}

.order-checkout-block{
	padding: 0 15px;
}



/* ORDER CONFIRM */
#msOrder{
	padding: 20px 0;
}
#msOrder textarea{
	padding: 15px;
	height: 150px;

}

.login-registration-block{
	display: inline-block;
	width: 100%;
	padding: 0 15px;
}




/* 404 */
.err_440{
	width: 100%;
	max-width: 280px;
	text-align: center;
	display:block;
	height: auto;
	margin: auto;
	padding: 20px;
}
.err_440 > span {
	display: inline-block;
	width: 150px;
	height: 150px;
	font:700 80px/148px "Open Sans Condensed", Impact, Arial;
	color:#ffffff;
	background: #c53048;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	border-radius: 75px;
	margin-bottom: 20px;
}
.err_440 div{
	font:400 20px/22px "Open Sans",  Arial, Helvetica;
}
.err_440 div h1{
	font:400 15px/20px "Open Sans",  Arial, Helvetica;
	margin: 15px auto;

}




/* 503 */
.err_503{
	width: 100%;
	max-width: 520px;
	text-align: center;
	display:block;
	height: auto;
	margin: auto;
	padding: 20px;
}
.err_503 > span {
	display: inline-block;
	width: 360px;
	height: 460px;
	color:#ffffff;
	background: url(../img/503.gif) 50% 50% no-repeat;
	background-size:100% auto !important;
	margin-bottom: 20px;
}
.err_503 div b{
	font:400 20px/25px "Open Sans",  Arial, Helvetica;
}
.err_503 div{
	font:400 15px/25px "Open Sans",  Arial, Helvetica;
}

@media only screen and (max-width :520px),	only screen and (max-device-width : 520px){
	.err_503 > span {
		display: inline-block;
		width: 180px;
		height: 230px;
		color:#ffffff;
		background: url(../img/503.gif) 50% 50% no-repeat;
		background-size:100% auto !important;
		margin-bottom: 20px;
	}
}






.table-classic{
	width: 100%;
	border: 1px solid #abc1d6;
	margin: 15px auto 30px;
}
.table-classic td{
	padding: 15px;

}
.table-classic td:not(:last-child){
	border-right: 1px solid #abc1d6;
}
.table-classic tr:not(:last-child){
	border-bottom: 1px solid #abc1d6;

}
.table-classic tr:nth-child(2n+2){
	background: #f3f7f9;
}
[class*="table-hn-"]{
	color:#fff;
	width: 50%;
	font-weight: 700;
}
.table-hn-no{
	 background: #c53048;
}
.table-hn-yes{
	background: #8fad3c;
}


.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;
text-align:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;box-shadow:0 6px 12px rgba(0,0,0,0.175);
background-clip:padding-box}
.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.3333333333;color:#333333;white-space:nowrap;border:none}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5}
.dropdown-menu > .active > a,.dropdown-menu > .active > a:hover,.dropdown-menu > .active > a:focus{color:#fff;text-decoration:none;outline:0;background-color:#337ab7}
.dropdown-menu > .disabled > a,.dropdown-menu > .disabled > a:hover,.dropdown-menu > .disabled > a:focus{color:#777777}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
cursor:not-allowed}

.padding-lr{ padding-left:20px !important; padding-right:20px !important;} 


/* PRODUCT NONE */
.product-none{
	display: inline-block;
	width: 100%;
	height: 100%;
	min-height: 50px;
	background: rgba(255,255,255,1);
	position: absolute;
	right: 0;
	z-index: 3;
	text-align: right;
	min-width: 150px;
	max-width: 220px;

}
.product-buy-choice .product-none{
	top:5px;
	right: 15px;
}
.product-none > *{
	display: block;
	width: 100%;
	text-align: right;
	white-space: nowrap;
}
.product-none strong{
	height: 15px;
	color:#838fa3;
	font:400 15px/13px "Open Sans", Helvetica, Arial, Tahoma;
}
.product-none a{
	top:5px;
	font:400 13px/15px "Open Sans", Helvetica, Arial, Tahoma;
}




/* TEXT STYLES */


.padding-lr{
	padding:20px 15px;
}

.text-block{
	width: 100%;
	height: auto;
	display: table;
	font-size: 15px;
	line-height: 20px;
}
.product-block img,.text-block img{width:auto;max-width:100%;height:auto;}
.text-block h1, .text-block h2{
	font:700 20px/22px "Open Sans Condensed", Arial, Helvetica;
}
.fz-13{
	font-size: 13px !important;
	line-height: 16px !important;
}
.text-block > *{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}
.text-block > p{
	margin-bottom: 20px;
}
.text-block h3, .text-block h4{
	font:600 15px/20px "Open Sans Condensed", Arial, Helvetica;
	text-transform: uppercase;
	color: #abc0d6;
}
.text-block h5, .text-block h6{
	font:600 13px/20px "Open Sans Condensed", Arial, Helvetica;
	text-transform: uppercase;
}


[class*='list-'],
.green-bullet{
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 15px;
}
.list-v1 li,
.list-v2 li,
.list-num-list li,
.list-unstyled li,
.list-trace li,
.green-bullet li{
	margin-bottom: 10px;
	padding-left: 20px;
}
.list-v1 li:before,
.list-v2 li:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -3px;
	top:-2px;
	z-index: 3;
	background: url(../img/mobile/marker_list.png) 50% 0 no-repeat;
	background-size: 100% auto !important;
}
.list-v2 li:before{
	background-position:50% -20px;
}

.list-num-list li sub.num{
	position: absolute;
	left:0;
	top:0;
	z-index: 3;
	font-weight: 700;
	color:#abc0d6;
}


.list-trace > li:before {
	content: "";
	display: block;
	background: url('../img/mobile/trace.png') left top no-repeat;
	background-size: 70% auto !important;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -3px;
	top:-2px;
	z-index: 3;
}
.list-trace > li:nth-child(2n+1):before {
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

.green-bullet li:before {
	color: #8fae3b;
	font-size: 11px;
	margin-left: -20px;
	margin-right: 8px;
	top:-2px;
	content: "\25CF";
	pointer-events: none;
}

.quote,
.message-text{
	padding: 10px;
	margin-bottom: 25px;
	font-size: 13px;
	line-height: 15px;
	display: inline-block;
	width: 100;
	border: 1px solid #aec5dc;
	background-color: #fbfcfc;
}

/* BLOG STYLES
===================================== */
.blog-prev-box{
	width: 100%;
	display: table;
	height: auto;
	border-bottom: 1px dashed #abc0d6;
	margin-bottom: 30px;
}
.blog-prev-box > *,
.blog-short-info > *{
	margin-bottom: 15px;
}
.blog-prev-img{
	width:35%;
	height:auto;
	max-height: 160px;
	overflow: hidden;
	display: block;
	float: left;

}
.blog-short-info{
	display: block;
	width: 65%;
	float: left;
	padding-left: 15px;
	font-size: 13px;
	line-height: 16px;
}
.blog-more-btn{
	width: 100%;
	clear: both;
	float: none;
	height: 40px;
	position: relative;
}
.blog-more-btn > *{
	width: 120px;
	position: absolute;
	float: none;
	top:50%;
	right: 0;
	margin-top:-20px;
	height: 40px;
	border: 1px solid #abc0d6;
	color:#abc0d6;
	display: block;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	line-height: 38px;
}


/* PAGINATOR */
.paginator{
	display: block;
	margin: auto;
	height: 40px;
	width: 100%;
	margin-bottom: 20px;
}
.paginator .pag-l,
.paginator .pag-r{
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 2;
	display: block;
	border: 1px solid #f4f7fa;

	background-size: 40px auto !important;
}
.paginator li a{
	display: block;
	width: 100%;
	height: 40px;
}
.paginator .pag-l{
	left: 0;
	background: #ffffff url("../img/mobile/icn_arow_left.png") 50% 50% no-repeat;
}
.paginator .pag-r{
	right: 0;
	background: #ffffff url("../img/mobile/icn_arow_right.png") 50% 50% no-repeat;
}
.paginator .pag-n{
	height: inherit;
	background: #f4f7fa;
	color:#838fa3;
	font-size: 20px;
	text-align: center;
	padding:0 50px;
	line-height: 38px;
}




.logos-table{
	display: table;
	width: 100%;
	margin:0 auto 30px auto;

}

.logos-table > li{
	display: table-cell;
	width: 25%;

	float: left;
	padding: 0 10px;
	height: 150px;width:auto;
	/*overflow: hidden;*/
	max-height:150px;
	margin-bottom: 10px;
}
.logos-table > li:before{
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.logos-table li  a{
	display: inline-block;display:block;
	width: 100%;
	height: auto;height: 150px;
	vertical-align: middle;float:left;
}
/*.logos-table > li > * > img{*/
.logos-table li img{
	display: block;
	width: 100%;
	height: auto;
	max-height:150px;
}



@media only screen and (max-width :500px),	only screen and (max-device-width : 500px){
	.blog-prev-img {
		width:100%;
		max-height: 260px;
	}
	.blog-short-info {
		width: 100%;
		padding-left: 0;

	}
	.blog-more-btn > *{
		width: 100%;
	}

	.logos-table > li{
		width: 33.33%;
	}


}

@media only screen and (max-width :380px),	only screen and (max-device-width : 380px) {
	.logos-table > li{
		width: 50%;
	}
}


/* attention orange block
________________________________________ */
.attention-top{
	display:block;
	width:100%;
	height:auto;float:left;
	/*position: absolute;
	z-index: 99;
	top:0;
	left: 0;
	position:fixed;*/
	z-index: 99;
	clear:both;
	/*position:relative;*/
	font-family: "Open Sans", Helvetica, Arial, sans-serif;

	/*background:#c62f48; red */
	background:#ff9000; /* orange */
	/*background:#a0489c; seren */
	/*background:#8fae3b; green */

	box-shadow: 				inset 0 -10px 20px -10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 		inset 0 -10px 20px -10px rgba(0,0,0,0.2);
	-moz-box-shadow: 			inset 0 -10px 20px -10px rgba(0,0,0,0.2);
	-ms-box-shadow: 			inset 0 -10px 20px -10px rgba(0,0,0,0.2);

	-webkit-transition: all 0.23s ease-out;
	-moz-transition: all 0.23s ease-out;
	-o-transition: all 0.23s  ease-out;
	-ms-transition: all 0.23s  ease-out;
	transition: all 0.23s linear;
}
.attention-top a{
	color:#fff;
	border-bottom:none;
	text-decoration:underline;
}
.attention-top > div{
	position:relative;
	display:block;
	width:100%;
	max-width:960px;
	min-width:320px;
	padding:10px 60px 15px 15px;
	margin:auto;
	color:#fff;
}
.attention-hname > *{
	font:400 20px/20px  "Open Sans", Helvetica, Arial, sans-serif;
	margin:0 auto 10px;
	padding:0;
}
.attention-top .btn-close{
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:40px;
	height:40px;
	background:none;
	border:1px solid rgba(255,255,255,1.00);
	border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	box-shadow:0 1px 15px 0 rgba(0,0,0,.1);
	-webkit-transition: all 0.23s ease-out;
	-moz-transition: all 0.23s ease-out;
	-o-transition: all 0.23s  ease-out;
	-ms-transition: all 0.23s  ease-out;
	transition: all 0.23s linear;
}
.attention-top .btn-close:before, .attention-top  .btn-close:after{
	 position:absolute;
	 top:50%;
	 content:'';
	 display:block;
	 width:4px;
	 height:14px;
	 left:50%;
	 margin:-7px auto auto -2px;
	 background:rgba(255,255,255,1.00);
 }.attention-top .btn-close:before{
	  transform:rotate(-45deg);
	  -moz-transform:rotate(-45deg);
	  -ms-transform:rotate(-45deg);
	  -webkit-transform:rotate(-45deg);
  }
.attention-top .btn-close:after{
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.attention-top .btn-close:hover{
	cursor:pointer;
	transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
}
.attention-top .btn-close:hover:before,
.attention-top .btn-close:hover:after{
}

.btn-grey{
	width:100%;
	height: auto;
	display: inline-block;
	margin-bottom: 20px;
}
.btn-grey > *{
	display: block;
	text-decoration: none;
	width: 100%;
	height: auto;
	min-height: 40px;
	padding: 10px 20px;
	text-align: center;
	color: #fff;
	border:0;
	outline:none;
	font:400 15px "Open Sans", Arial, sans-serif;
	cursor:pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	text-transform: uppercase;
	max-width:200px;
	margin: auto;
	background-color:#afc4db;border:1px solid #97a6c0;
}
.btn-grey > *:hover{
	color:#fff !important;background-color:#a3c8f0;border:1px solid #97a6c0
}



.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}.pagination > li{display:inline}
.pagination > li > a,.pagination > li > span{position:relative;float:left;padding:6px 12px;line-height:1.3333333333;text-decoration:none;color:#1c3847;background-color:#f1f4f7;
border:1px solid #c5d4e4;margin-left:-1px}
.pagination > li:first-child > a,.pagination > li:first-child > span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination > li:last-child > a,.pagination > li:last-child > span{border-bottom-right-radius:4px;border-top-right-radius:4px}
.pagination > li > a:hover,.pagination > li > a:focus,.pagination > li > span:hover,.pagination > li > span:focus{color:#ffffff;background-color:#8fae3b;border-color:#769229}
.pagination > .active > a,.pagination > .active > a:hover,.pagination > .active > a:focus,.pagination > .active > span,.pagination > .active > span:hover,.pagination > .active > span:focus{
	z-index:2;color:#ffffff;background-color:#8fae3b;border-color:#769229;cursor:default}
	.pagination > .disabled > span,.pagination > .disabled > span:hover,.pagination > .disabled > span:focus,.pagination > .disabled > a,.pagination > .disabled > a:hover,.pagination > .disabled > a:focus{color:#777777;background-color:#fff;border-color:#ddd}
	.pagination-lg > li > a,.pagination-lg > li > span{padding:10px 16px;font-size:19px}
	.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span{border-bottom-left-radius:6px;border-top-left-radius:6px}
	.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span{border-bottom-right-radius:6px;border-top-right-radius:6px}
	.pagination-sm > li > a,.pagination-sm > li > span{padding:5px 10px;font-size:13px}
	.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span{border-bottom-left-radius:3px;border-top-left-radius:3px}
	.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span{border-bottom-right-radius:3px;border-top-right-radius:3px}
	
	
	
	.pagination{margin:0}.pagination > li > a,.pagination > li > span{border-radius:4px;padding:7px 13px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.5),0 1px 1px rgba(0,0,0,0.075);
	margin:0 5px}
	.pagination > li:last-child > a,.pagination > li:last-child > span,.pagination > li:first-child > a,.pagination > li:first-child > span{color:#ffffff;font-size:18px;
	font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1.1;-webkit-font-smoothing:antialiased;background-color:#afc4db;border:1px solid #97a6c0;padding:7px 8px}
	.pagination > li:last-child > a:before,.pagination > li:last-child > span:before,.pagination > li:first-child > a:before,.pagination > li:first-child > span:before{content:"\e079"}
	.pagination > li:last-child > a:before,.pagination > li:last-child > span:before{content:"\e080"}
	
	
	
	/*
.loadingpag{
	
	background: url('../images/loading9.gif') rgba(28, 57, 71, 0.5) center bottom no-repeat!important;
	z-index: 9089999999989890!important;
	position:relative!important;
	float:none;
	text-align: center!important;
	
	}

	
	.big-prevs-container.loadingpag * {	z-index:-100!important;}
	.loadingpag .big-prevs-list li{z-index:-100!important;}*/
	
	
	
.loading{
	background:url('../img/loading9.gif') center center no-repeat!important;
	opacity: 0.6!important;
	/*z-index:99999999999999990000!important;*/
	
	
	text-align: center;
}

.loadingbox{
	/*background:rgba(28, 57, 71, 0.5); url('../img/loading9.gif') center center no-repeat!important;
	*/
	z-index:99999999999999990000!important;
	position:absolute!important;
	top:0px; left:0px;
	width:100%;
	
	text-align: center;
	
	
	width: 100%;
	height: auto;
	padding: 50px 0 0 0;
	min-height: 100%;
	background:url('../img/loading9.gif') center center no-repeat!important;
	background-color:rgba(28, 57, 71, 0.5)!important;

	text-align: center;
	top:0;
	left: auto;
	
}

/*
.equal-container {
	display: table;
	table-layout: fixed
}
.equal-column {
	display: table-cell;
	vertical-align: top;
	float: none !important
}
.green-separator,
.blue-separator {
	border-left: 1px solid #e5e8ec;
	position: relative
}
.green-separator:after,
.blue-separator:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 40px;
	width: 3px;
	background: #9dd0d6
}
.green-separator h1,
.green-separator .h1,
.blue-separator h1,
.blue-separator .h1 {
	margin-top: 0
}
.green-separator:after {
	background: #c7d69d
}
*/



.discount-options {
	line-height: 40px
}
.discount-options .h2,
.discount-options .h3 {
	vertical-align: middle
}
.discount-options .row {
	margin-bottom: 20px;
	clear:both;width:100%;
}
.narrow-stroke {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	color: #ffffff;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 30px;
	line-height: 1;
	padding: 5px 15px 5px 10px;
	margin-right: 12px;
	background: #8fae3b
}
.narrow-stroke:before {
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left: 12px solid #8fae3b
}
.narrow-stroke.theme-purple {
	background: #a0489c
}
.narrow-stroke.theme-purple:before {
	border-left-color: #a0489c
}
.narrow-stroke.theme-turquoise {
	background: #3ba1b0
}
.narrow-stroke.theme-turquoise:before {
	border-left-color: #3ba1b0
}
.narrow-stroke.theme-orange {
	background: #ff9000
}
.narrow-stroke.theme-orange:before {
	border-left-color: #ff9000
}


.list-unstyled {
	padding-left: 0;
	list-style: none
}
.list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px
}
.list-inline > li {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px
}


.green-bullet {
	padding-left: 18px;
	margin-top: 12px
}
.green-bullet li {
	padding-bottom: 8px;
	padding-left: 20px;
	line-height: 1.4
}
.green-bullet li:before {
	color: #8fae3b;
	font-size: 13px;
	margin-left: -20px;
	margin-right: 8px;
	content: "\25CF";
	pointer-events: none
}

.hidden{display:none;}



/* QUESTION VET
________________________________________________________ */
input{
	-webkitw: none;
	-webkit-box-appearance: none;
	box-shado-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

.dialog_container,
.dialog_container *,
.dialog_container *:after,
.dialog_container *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing:antialiased;

	position:relative;
}
.dialog_container{
	display: block;
	width: 100%;
	padding: 0 15px !important;
	padding:0px !important;
}
.question_answers_box{
	position: relative;
	margin-bottom: 20px;
}
.post_box{
	display:inline-block;
	width: 100%;
	min-height: 100px;
	border:1px solid #e6ebef;
	padding:18px 18px 8px 18px;
	position: relative;
	background: #f9fbfd;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	margin-bottom: 20px;
}
.post_box > sup{
	display: block;
	position: absolute;
	z-index: 3;
	left: 22px;
	top:-8px;
	width: 14px;
	height: 14px;
	background: #f4f7fa;
	border-top: 1px solid #e6ebef;
	border-left: 1px solid #e6ebef;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-transform: 		rotate(45deg);
	-moz-transform: 		rotate(45deg);
	-ms-transform: 			rotate(45deg);
	-o-transform: 			rotate(45deg);
	transform: 				rotate(45deg);
}

.avatar{
	display: block;
	width: 60px;
	height: 60px;
	background: url("../img/mobile/user_ava_cap.png") 50% 50% no-repeat;
	background-size: cover;
	position: absolute;
	top:0;
	left: 0;
	-webkit-border-radius:42px;
	-moz-border-radius:42px;
	border-radius:42px;
	overflow: hidden;
	border: 2px solid #abc0d6;
}
.answer_block .avatar{
	left: 40px;
}
.post_author_info{
	padding-left: 70px;
	display: block;
	width: 100%;
	min-height: 80px;
}

.author_name{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	margin-bottom: 2px;
}
.author_status{
	color: #8FAD3C;
	font-size: 13px;
	font-style: italic;
}
.author_post_date{
	display:block;
	color: #838fa3;
	font-size: 13px;
}
.author_post_text{
	display: inline-block;
	font-size: 13px;
	line-height: 16px;
	margin: 0 auto 10px auto;
}
.btn_answer_vis{
	display: inline-block;
	padding: 0 2px;
	cursor: pointer;
	color: #abc0d6;
	border-bottom: 1px dashed #abc0d6;
}
.btn_answer_vis:hover{
	color:#476dc7;
}

.answer_footer_container{
	display: inline-block;
	width: 100%;
}

.hr{
	display: block;
	width:100%;
	height: 1px;
	margin-bottom: 10px;
	clear: both;
	opacity: 0;
	visibility: hidden;
}
.textarea_box{
	display: inline-block;
	width: 100%;
	height: auto;
	margin-bottom: 8px;
}
.textarea_box  textarea{
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 100px;
	min-height: 100px;
	max-height: 100px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:1px solid #abc0d6;
	padding: 10px;
	-webkit-box-shadow:  inset 0 3px 5px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:  inset 0 3px 5px rgba(0, 0, 0, 0.05);
	box-shadow:  inset 0 3px 5px rgba(0, 0, 0, 0.05);
}
.answer_footer_btns_set{
	display: inline-block;
	width:100%;
	height: 40px;
	text-align: right;
}
.answer_footer_btns_set > div{
	float: right;
}
.answer_footer_btns_set  [class*='btn_']{
	float:left;
	display: inline-block;
	height: 32px;
	margin-left: 10px;
	z-index: 4;
}
.answer_footer_btns_set  [class*='btn_'] > *{
	color: #ffffff;
	padding: 0 10px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	height: 32px;
	outline:none;
	outline-offset: 0;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}
.btn_gray > *{
	border: 1px solid #97a6c0;
	background:#afc4db;
}
.btn_gray > *:hover{
	background: #a3c8f0;
}
.btn_green > *{
	border: 1px solid #6a8e08;
	background: #8fae3b;
}
.btn_green > *:hover{
	background: #9dbf40;
}
.btn_gray > *:active,
.btn_green > *:active{
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.075), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.answer_footer_form{
	width: 100%;
	display:none;
}

.answer_block{
	position: relative;
	padding-left: 40px;
}
.answer_block > a{
	display: block;
}
.vis_more{
	position: relative;
	display: block;
	width: 100%;
	top:-20px;
	margin: 0 auto 10px auto;
	text-align: right;
	z-index: 9;
}




.cashback *{
	-webkit-transition: all 0.23s ease-out;
	-moz-transition: all 0.23s ease-out;
	-o-transition: all 0.23s  ease-out;
	-ms-transition: all 0.23s  ease-out;
	transition: all 0.23s ease-out;
}
.cashback{
	position: absolute;
	z-index: 50;
	display: block;
	padding: 7px 10px 7px 32px;
	background: #ff8f00;
	color: white;
	border-radius: 3px;
	font-size: 13px;
	line-height: 14px;
	text-align: left;
}
.cashback:before {
	content: "";
	display: block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 5px;
	top: 50%;
	margin: -11px auto auto auto;
	background: url("../img/icn_cashback.png") 50% 50% no-repeat;
	background-size: 100% auto !important;
}
.cashback:hover{
	cursor: help;
}
.cashback:hover .cashback_info{
	opacity: 1;
	visibility: visible;
	-webkit-transform:  translateY(0);
	-moz-transform:     translateY(0);
	-ms-transform:      translateY(0);
	-o-transform:       translateY(0);
	transform:          translateY(0);
}
.cashback_balloon>span:after{
	position: relative;
	content:"грн";
	font-size: 11px;
	opacity: 0.7;
	display: inline-block;
	right: -2px;
}
.cashback_info{
	display: inline-table;
	width: auto;
	height: auto;
	background: white;
	position: absolute;
	left:0;
	bottom:46px;
	color: #222222;
	opacity: 0;
	visibility: hidden;
	-webkit-transform:  translateY(-300px);
	-moz-transform:     translateY(-300px);
	-ms-transform:      translateY(-300px);
	-o-transform:       translateY(-300px);
	transform:          translateY(-300px);
	border: 1px solid #ff8f00;
	min-width: 260px;
	font-size: 12px;
	line-height: 14px;
	padding: 11px 13px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.cashback_info:after{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	display: block;
	z-index: 2;
	background: #fff;
}
.cashback_info:before{
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	visibility: hidden;
	opacity: 0;
}
.cashback_info>*{
	display: inline-block;
}


/* mobile cashback box */
.cashback.cb_mobile{
	bottom: 0;
	left: 15px;
	background: white;
	color: #ff8f00;
	border: 1px solid #ff8f00;
}
.cashback.cb_mobile:before{
	background-image: url("../img/icn_cashback_orange.png");
}

/* mobile cashback box balloon */
.cashback.cb_mobile .cashback_info{
	left:0;
	bottom:40px;
	max-width: 160px;
}
.cashback.cb_mobile .cashback_info:after{
	content: "";
	left: 20px;
	bottom: -6px;
	border-right: 1px solid #ff8f00;
	border-bottom: 1px solid #ff8f00;
	transform:          rotate(45deg);
	-moz-transform:     rotate(45deg);
	-ms-transform:      rotate(45deg);
	-o-transform:       rotate(45deg);
	-webkit-transform:  rotate(45deg);
}

/* mobile CATALOG list item*/
.cashback.cb_mob_catalog{
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	border:none;
}
.cashback.cb_mobile.cb_mob_catalog .cashback_info{
	left:-10px;
	bottom:auto;
	top:36px;
	max-width: 160px;
	min-width: 150px;

}
.cashback.cb_mob_catalog .cashback_info:after{
	content: "";
	left: 20px;
	bottom: 0;
	top:-5px;
	border: none;
	border-top: 1px solid #ff8f00;
	border-left: 1px solid #ff8f00;
}

.form_stretchy [class*=col-]{width:100%!important}.hn1,.hn2,.hn3,.hn4,.hn5,.hn6{margin:5px auto 10px}.hn1>*{font:400 35px/36px 'Open Sans',Helvetica,Arial,sans-serif}.hn2>*{font:400 26px/28px 'Open Sans',Helvetica,Arial,sans-serif}.hn3>*{font:400 22px/24px 'Open Sans',Helvetica,Arial,sans-serif}.hn4>*{font:400 18px/20px 'Open Sans',Helvetica,Arial,sans-serif}.hn5>*{font:600 16px/18px 'Open Sans',Helvetica,Arial,sans-serif}.hn6>*{font:600 14px/16px 'Open Sans',Helvetica,Arial,sans-serif}.align_c,.imgfit{display:-webkit-box!important;display:-ms-flexbox!important;display:-webkit-flex!important;display:flex!important;-webkit-box-pack:center!important;-ms-flex-pack:center!important;-webkit-justify-content:center!important;justify-content:center!important;-webkit-box-align:center!important;-ms-flex-align:center!important;-webkit-align-items:center!important;align-items:center!important}.imgfit img{-o-object-fit:cover!important;object-fit:cover!important;height:100%}.no_align{display:block!important;-webkit-box-pack:start!important;-ms-flex-pack:start!important;-webkit-justify-content:flex-start!important;justify-content:start!important;-webkit-box-align:start!important;-ms-flex-align:start!important;-webkit-align-items:flex-start!important;align-items:start!important}.invisible_blockX{-webkit-transform:translateX(300px);-moz-transform:translateX(300px);-ms-transform:translateX(300px);-o-transform:translateX(300px);transform:translateX(300px);opacity:0;visibility:hidden;-webkit-transition:all .23s ease-out;-moz-transition:all .23s ease-out;-o-transition:all .23s ease-out;-ms-transition:all .23s ease-out;transition:all .23s ease-out}.invisible_blockY{-webkit-transform:translateY(-300px);-moz-transform:translateY(-300px);-ms-transform:translateY(-300px);-o-transform:translateY(-300px);transform:translateY(-300px);opacity:0;visibility:hidden;-webkit-transition:all .23s ease-out;-moz-transition:all .23s ease-out;-o-transition:all .23s ease-out;-ms-transition:all .23s ease-out;transition:all .23s ease-out}.visible_block{-webkit-transform:translate(0);-moz-transform:translate(0);-ms-transform:translate(0);-o-transform:translate(0);transform:translate(0);opacity:1;visibility:visible}.anim_off{-webkit-transition:none!important;-moz-transition:none!important;-o-transition:none!important;-ms-transition:none!important;transition:none!important}
.popup_w{
	top:40px;
	position:fixed;
	z-index:99999;display:block;
	width:290px;left:50%;
	margin-left:-145px;height:auto;background:#fff;
	padding:0;-webkit-box-shadow:0 0 0 3000px rgba(52,74,94,.5),0 2px 19px 1px rgba(0,0,0,.15);
	-moz-box-shadow:0 0 0 3000px rgba(52,74,94,.5),0 2px 19px 1px rgba(0,0,0,.15);
	box-shadow:0 0 0 3000px rgba(52,74,94,.5),0 2px 19px 1px rgba(0,0,0,.15);
	border:1px solid #bdc3c7;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
	-webkit-transform:translateY(-300px);
	-moz-transform:translateY(-300px);
	-ms-transform:translateY(-300px);
	-o-transform:translateY(-300px);transform:translateY(-300px);
	opacity:0;visibility:hidden;
	-webkit-transition:all .23s ease-out;-moz-transition:all .23s ease-out;
	-o-transition:all .23s ease-out;
	-ms-transition:all .23s ease-out;
	transition:all .23s ease-out
}
.popup_content{display:block;width:100%;height:auto;padding:15px}
.scroll_box{display:block;width:100%;max-height:800px;overflow:hidden;overflow-y:auto}
@media only screen and (max-height:680px),only screen and (max-device-height:680px){
	.scroll_box{max-height:360px!important}.scroll_box:after{content:"";display:block;width:100%;height:80px;position:fixed;bottom:0;left:0;z-index:9;background:-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 40%,#fff 100%);background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 40%,#fff 100%);background:linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.4) 40%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0)}.scroll_box .form_mob_reg{margin-bottom:80px}}.popup_hname{font:300 25px "Open Sans",Helvetica,Arial,Tahoma;margin-bottom:15px;min-height:40px;padding-top:5px}.hname_icon{padding-left:40px}.hname_icon .fa{position:absolute;top:0;left:-3px;width:40px;height:40px;display:-webkit-box!important;display:-ms-flexbox!important;display:-webkit-flex!important;display:flex!important;-webkit-box-pack:center!important;-ms-flex-pack:center!important;-webkit-justify-content:center!important;justify-content:center!important;-webkit-box-align:center!important;-ms-flex-align:center!important;-webkit-align-items:center!important;align-items:center!important}.popup_w.active{-webkit-transform:translate(0);-moz-transform:translate(0);-ms-transform:translate(0);-o-transform:translate(0);transform:translate(0);opacity:1;visibility:visible}.thnx_icon{display:inline-block;display:-webkit-box!important;display:-ms-flexbox!important;display:-webkit-flex!important;display:flex!important;-webkit-box-pack:center!important;-ms-flex-pack:center!important;-webkit-justify-content:center!important;justify-content:center!important;-webkit-box-align:center!important;-ms-flex-align:center!important;-webkit-align-items:center!important;align-items:center!important;width:100%;padding:20px 0;margin-bottom:15px}.thnx_icon .fa:before{font-size:60px;color:#fff}.thnx_popup_text{text-align:center}
.btn_close_w,.btn_close_w:after,.btn_close_w:before{
	-webkit-transition:all .23s ease-out;-moz-transition:all .23s ease-out;
	-o-transition:all .23s ease-out;-ms-transition:all .23s ease-out;transition:all .23s ease-out
}
.btn_close_w{position:absolute;top:-10px;right:-10px;display:block;width:30px;height:30px;z-index:3;
	-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:#abc0d6}
.btn_close_w:after,.btn_close_w:before{
	position:absolute;top:50%;content:'';display:block;width:4px;height:18px;left:50%;margin:-9px auto auto -2px;background:#e6eef2
}
.btn_close_w:before{transform:rotate(-45deg)}.btn_close_w:after{transform:rotate(45deg)}

.popup_head_img{display:inline-block;width:100%;margin-bottom:6px}


.modal-header{
	height: 50px;
}
button.close {
	background-position: 0 -355px!important;
	/*height: 26px;*/
	display:block;
	height: 20px;
	width: 26px;
	opacity: 1;
	background-image: url('../../images/generated/icons-s7a8399e9f89.png')!important;
	/*background-repeat: no-repeat!important;
	filter: alpha(opacity=100)!important;*/
	/*outline: none!important*/
	min-height: 26px !important;
}
/*button.close:hover {
	background-position: 0 -381px!important;
	height: 26px;
	width: 26px;
	opacity: 1;
	filter: alpha(opacity=100)!important
}*/


.old-price {
	max-width: 100px;
	position: absolute;
	top: -5px;
	text-align: right;
	right: 92px;
	color: #c62f48 !important;
	font:400 15px/20px "Open Sans Condensed", Arial, Helvetica, Sans-serif;
	font-weight:500!important;
	text-decoration: line-through;
}
.product-buy-choice .old-price{
	top: -15px;
}





.phone-icon,
.life-icon,
.kyivstar-icon,
.mts-icon
{
	background-image: url('../../images/generated/icons-s7a8399e9f89.png');
	background-repeat: no-repeat
}
.icon {
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-indent: 100%;
	border-bottom: none
}
.phone-icon {
	background-position: 0 -1161px;
	height: 23px;
	width: 14px
}

.life-icon,
.kyivstar-icon,
.mts-icon {
	margin-top: -3px;
	margin-right: 12px
}
.life-icon {
	background-position: 0 -799px;
	height: 15px;
	width: 15px
}
.kyivstar-icon {
	background-position: 0 -784px;
	height: 15px;
	width: 15px
}
.mts-icon {
	background-position: 0 -1146px;
	height: 15px;
	width: 15px
}

.h2, .h3, .h4, .h5, .h6{

}
.h3{font-size: 22px}
p .h3{font-size: 18px}
h1,.h1{
    font-size:32px;
}


.icon_helloween {
	content: '';
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	left: -14px;
	top: 5px;
	z-index: 3;
	background: url("/assets/images/icn_pc_hw_sale.png") 50% 50% no-repeat;
	background-size: 100% auto;
}



/* icon event mobile */
/*.sale-marker.product-info-newyear,*/
.sale-marker.product-info-black_friday,
.prev-sale-marker.product-info-black_friday{
	background: #000;
	color:#ffc600;
}
.prev-sale-marker.product-info-newyear::before,
.sale-marker.product-info-newyear::before,
.sale-marker.product-info-black_friday::before,
.prev-sale-marker.product-info-black_friday::before{
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	z-index: 2;
	top: -20px;
	right: -27px;
	background: url("../../images/icn_event_sales.png");
	background-size: 100% !important;
}
.prev-sale-marker.product-info-newyear::before,
.sale-marker.product-info-newyear::before {
	right: -20px;
	background: url("../../images/icn_event_sales_newyear.png");
}
/*.prev-sale-marker.product-info-newyear::before,*/
.prev-sale-marker.product-info-black_friday::before{
	right: auto;
	left: -27px;
	/*-webkit-transform:      scaleX(-1);
	-moz-transform:         scaleX(-1);
	-ms-transform:          scaleX(-1);
	-o-transform:           scaleX(-1);
	transform:              scaleX(-1);*/
}

.action_event .header_action_info{
	background: #000 url("../../images/bg_header_event_mobile.jpg") 50% 50% no-repeat;
	background-size: auto 100% !important;
	width:100%;
	height:60px;
	/*padding:10px 60px 15px 15px;*/
	margin-top:50px;
}
/*.action_event .main-header {
	top:60px;
}*/




.other-phones .active a:first-child::before{
	content:'';
	position: absolute;
	width:60px;
	height: 30px;
	top:50%;
	left: 0px;
	margin-top:-15px;

	background: url('../../images/icn_viber_mob.png') 50% 50% no-repeat;

	background-size: auto 20px !important;
	z-index:1;
}



/* RATED PAGE  */

/* new */
.rated_product_container{
	width: 100%;
	height: auto;
	display: block;
	border: 1px solid #CFDAE7;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
	-webkit-box-shadow: 	0 3px 10px 0 rgba(0,0,0,0.04);
	-moz-box-shadow:  		0 3px 10px 0 rgba(0,0,0,0.04);
	box-shadow:  			0 3px 10px 0 rgba(0,0,0,0.04);
}
.rated_product_container:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	opacity: 0;
	visibility: hidden;
	clear: both;
}
.rated_product_container>div{
	display: block;
	width: 100%;
	min-height: 325px;
	float: left;
	position: relative;
	padding: 15px;
}
.rated_product_container>div:not(:last-child){

}
.rated_product_container>div:last-child{
	min-height: auto;
}

.rated_p_ballot_box{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: #F3F6F8;
	border-top:1px solid  #CFDAE7;
}
.rated_p_ballot_box>div{
	display: block;
	z-index: 3;
	position: relative;
	padding: 10px 15px;
	height: 100%;
}
.rated_p_ballot_box:before{
	content:'';
	width: 20px;
	height: 20px;
	background: #F3F6F8;
	position: absolute;
	z-index: 2;
	top: -10px;
	left: 90px;
	border-top: 1px solid  #CFDAE7;
	border-right: 1px solid  #CFDAE7;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.rated_p_img{
	display: block;
	width: 160px;
	/*height: 160px;*/
	overflow: hidden;
	position: absolute;
	z-index: 2;
	top: 15px;
	left: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.rated_p_description_box{
	padding-left: 175px;

}

.vote_btn{
	display: block;
	position: absolute;
	top:50%;
	right: 15px;
	height: 40px;
	margin-top: -20px;
}
.vote_btn>button, .vote_btn>a{
	display: block;
	width: auto;
	height: 40px;
	-webkit-border-radius: 3px;
	padding: 0 10px;
	padding-top:8px;
	color: #ffffff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ff9000;
	border: 1px solid #d27700;
	text-shadow: 0 -1px 0 #ff8400;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: 	inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: 		inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition:   all 0.2s ease-out;
	-moz-transition:      all 0.2s ease-out;
	-o-transition:        all 0.2s ease-out;
	-ms-transition:       all 0.2s ease-out;
	transition:           all 0.2s ease-out;

	width: 120px;    float: right;

}
.vote_btn>button:hover, .vote_btn>a:hover{
	background-color: #ffae00;
	text-decoration:none;
}

.product_code{
	font-size: 12px;
}
.rated_p_description_text{
	font-size: 13px;
	line-height: 15px;
	max-height: 125px;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
}
/*.rated_p_description_text:after{
	content: "";
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 60%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 60%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 60%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}*/
.product_code{
	display: block;
	margin-bottom: 7px;
}

.all_voted{
	display: block;
	height: 50px;
	top:50%;
	margin-top:-23px;
	position: absolute;
	width: auto;
}
.product_points{

	width: auto;
	height: 24px;
	position: relative;
}
.product_points>div{
	display: block;
	float:left;
	width: auto;
	padding-left: 28px;
	height: 24px;
	line-height: 24px;
	padding-right: 10px;
	position: relative;
	color: #ABC0D6;
}
.product_points>div:before{
	content:"";
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
	background: url("../img/icns_product_points_sprite.png") 50% 0 no-repeat;
	background-size: 24px auto !important;
}
.product_points>div.rpp_2:before{
	background-position: 50% -24px;
}
.product_points>div.rpp_3:before{
	background-position: 50% -48px;
}
.product_points>div.rpp_4:before{
	background-position: 50% -72px;
}

.product_all_points span{
	font-size: 20px;
	font-weight: bold;
	color: #8fae3b;
}

.characteristics_table_scroll{
	/*max-height: 180px;*/
	min-height: 180px;
	/*overflow: hidden;
	overflow-y: auto;*/
}

.characteristics_table{
	width: 100%;
	display: table;
	margin-bottom: 15px;
}
.characteristics_table>div{
	display: table-row;
}
.characteristics_table>div:nth-child(2n+1){
	background: #F3F6F8;
}
.characteristics_table>div>div{
	display: table-cell;
	padding:2px 10px;
	font-size: 13px;
}
.product_content{
	width: 100%;
	height: 75px;
	overflow: hidden;
	position: relative;
	left:0;
	bottom:0;
	background: #F3F6F8;
	border-top:1px solid  #CFDAE7;
	padding: 15px 15px 15px 60px;
}
.product_content:before{
	content: "";
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;

	background: url("../img/icn_product_content.png") 50% 50% no-repeat;
	background-size: 35px auto !important;
	top:15px;
	left:10px;
}

.rated_p_description_box .hn_2>*{
	max-height: 66px;
	overflow: hidden;
}

.filter-accept-btn{
	width: 100%;
	height: 40px;
}
.filters-form{
	width: 100%;
	display: inline-block;
	margin-bottom: 20px;
}
.right-tab-help{
	display: block;
	position: absolute;
	top:10px;
	right: 0;
	white-space: nowrap;
}
.right-tab-help a{
	display: block;
	padding: 10px 15px;
	border: 1px solid #96b348 !important;
	color:#96b348;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.right-tab-help a:hover{
	color: #fff;
	background: #96b348;
}

.hn_2>*{
	display: block;
	width: 100%;
	font:400 20px/22px "Roboto Condensed", Helvetica, Arial, sans-serif !important;
	margin: auto auto 10px auto;
}


.characteristics_box>*:not(.hn_2){
	display: none;
}
.characteristics_box .hn_2{
	margin-bottom: 0;
	cursor: pointer;
	padding: 7px 0 4px 0;
}
.characteristics_box .hn_2:after{
	content: "";
	position: absolute;
	right: 10px;
	top:10px;
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 2px solid #CFDAE7;
	border-right: 2px solid #CFDAE7;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.characteristics_box.active .hn_2:after{
	-webkit-transform:      rotate(-135deg);
	-moz-transform:         rotate(-135deg);
	-ms-transform:          rotate(-135deg);
	-o-transform:           rotate(-135deg);
	transform:              rotate(-135deg);
}

@media only screen and (max-width:460px),
only screen and (max-device-width:460px){
	.rated_p_img{
		position: relative;
		top: auto;
		left: auto;
		margin: 0 auto 15px auto;
	}
	.rated_p_description_box{
		padding-left: 0 !important;

	}
	.rated_product_container>div:first-child{
		padding-bottom: 130px;
	}
	.all_voted{
		top: auto;
		left: auto;
		position: relative;
		width: 100%;
		margin-top: auto;
	}
	.vote_btn{
		top: auto;
		left: auto;
		display: block;
		position: relative;

		right: auto;
		height: 40px;
		margin-top:auto;
	}
	.rated_p_ballot_box:before{
		left: 50%;
		margin-left: -10px;
	}
	.rated_p_ballot_box{
		height: 110px;
		border-bottom: 1px solid #CFDAE7;
	}
}


.by_weight-icon,
.markdown-icon
{
	background-image: url('../../images/generated/icons-s7a8399e9f89.png');
	background-repeat: no-repeat;
	height: 26px;
	width: 27px;
}

@media screen and (max-width: 767px) {
	/**
	515939
515354

	515354,515355,515356,515357,515358,515359,515360,515361,515362,515363,515364,515365,515366,515367,515368,515369,515370,515371,515372,515373,515374,515375,515376,515377,515378,515379,515380,515381,515382,515383,515384,515385,515386,515387,515388,515389,515390,515391,515392,515393,515394,515395,515396,515397,515398,515399,515400,515401,515402,515403,515404,515405,515406,515407,515408,515409,515410,515411,515412,515413,515414,515415,515416,515417,515418,515419,515420,515421,515422,515423,515424,515425,515426,515427,515428,515429,515430,515431,515432,515433,515434,515435,515436,515437,515438,515439,515440,515441,515442,515443,515444,515445,515446,515447,515448,515449,515450,515451,515452,515453,515454,515455,515456,515457,515458,515459,515460,515461,515462,515463,515464,515465,515466,515467,515468,515469,515470,515471,515472,515473,515474,515475
	 */

	.by_weight-icon {
		background-position: 0 -1720px;
		height: 26px;
		width: 27px;
	}

	.markdown-icon {
		background-position: 0 -1792px;
		height: 26px;
		width: 27px;
	}
}

/* new end */
