


{foreach $products as $product}
	
	
	<tr bgcolor="#F9FBFD">
            	<td title="photo" bgcolor="#ffffff"><!-- PHOTO  -->
                	<a href="{link id={$product.id}}?utm_source=[[+utm_source]]&utm_medium=[[+utm_medium]]&utm_campaign=[[+utm_campaign]]">
					
                	 {snippet name=pthumb params="input=`{$product.image}`&options=`w=150&h=223&far=1`&useResizer=`1`" assign=preview}
			  <img  width="70" src="http://petchoice.ua{$preview}" alt="{$product.pagetitle}" /></a>
                </td>
                <td bgcolor="#ffffff"><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="20" /></td><td><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="20" /></td>
                <td title="name" width="100%"><!-- NAME  -->
                	{$product.pagetitle}
                </td>
                <td><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="20" /></td>
                <td title="price"><!-- PRICE  -->
				
				{if ($product.old_price>0)}
				<font color="#ABC1D6"><font size="3"><b><del>{$product.old_price}</del></b></font><font size="2">грн</font></font>
				{/if}
                	 
                	<font size="5"><b>{$product.price}</b></font><font size="2">грн</font>
                </td>
                <td><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="20" /></td>
                <td title="button"><a href="https://petchoice.ua/{link id={$product.id}}?utm_source=[[+utm_source]]&utm_medium=[[+utm_medium]]&utm_campaign=[[+utm_campaign]]" target="_blank" title="купить"><img src="https://petchoice.ua/assets/mail/imgs/btn_buy.png" width="80"></a></td><!-- BUY BTN  -->
                <td><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="20" /></td>
            </tr>
            <tr><td colspan="8"><img src="https://petchoice.ua/assets/mail/imgs/sp.gif" width="100%" height="10" /></td></tr> 
            
{/foreach}