
			<ul class="nav nav-tabs" role="tablist" id="productTab{$product.id}">
			{foreach $product.options.outputtabs as $tab}
			{include file='tpl/products/productActionOptionWeightRow.tpl'}
			{/foreach}
			
              </ul>
              <div class="tab-content">                
				 
				{foreach $product.options.outputattr as $attr}
				{include file='tpl/products/productActionOptionPriceRow.tpl'}
				{/foreach}
              </div>