<li role="presentation" data-index="{$tab.idx}" class="{if ($tab.idx==1)}active{/if}">
  <a href="#{$product.type}{$tab.idproduct}-pane{$tab.idx}" aria-controls="{$product.type}{$tab.idproduct}-pane{$tab.idx}" role="tab" data-toggle="tab">
  {$tab.weight} {$tab.weight_prefix}
    <span class="border-line"></span>
    
  </a>
</li>