<ul class="bxslider product-gallery-bx">		
	{foreach $product_galerey as $img}
                        
	{snippet name=pthumb params="input=`{$img.url}`&options=`w=260&h=360&far=1&useResizer=1`" assign=preview}	
        {snippet name=pthumb params="input=`{$img.url}`&options=`w=600&h=600&far=1&fltr[]=wmi|/assets/images/water_logo.png|C|80`" assign=full}
        
        
        
    
	<li><a class="fancybox" rel="group{$modx->resource->id}" href="{$full}">
	<img itemprop="image" style="max-width:250px; max-height:365px;" width="auto" src="{$preview}"  alt="{$modx->resource->pagetitle}" title="{$modx->resource->pagetitle}" /></a></li>
	{/foreach}
</ul>							
<div class="bx-wrapper-pr">
<div id="bx-pager" class="bx-pager bx-custom-pager">
{foreach $product_galerey as $img}   
	{snippet name=pthumb params="input=`{$img.url}`&options=`w=120&h=120&far=1`&useResizer=`1`" assign=preview}	 
    <div class="bx-pager-item">
	 
	 {assign var=n value=$resultproduct.object.new+1}
		<a class="bx-pager-link {if ($img.num==0)} activ {/if}" data-slide-index="{$img.num}" href="javascript:void(0)"><img alt="Изображение {$n} - {$modx->resource->pagetitle}" src="{$preview}" /></a>
	</div>
{/foreach}
</div>
</div>
