{if (count($recomproducts)>0)}
	<p style="padding: 15px;line-height: 1.5;font-weight:700;">Рекомендовані товари:</p>

{foreach $recomproducts as $product}
	{include file='tpl/products/productRowTpl.tpl'}
{/foreach}
<br/>
{/if}
<p>Поиск по категориям:
    {$categories}

</p>



{foreach $products as $product}
	{include file='tpl/products/productRowTpl.tpl'}
	
	{if (($showleshebniy==1)&&($product.showleshebniy==1))}
		{$htmlbanner}
	{/if}
{/foreach}
