.main-footer {
  display: block;
  width: 100%;
  height: auto;
  .contacts {

    display: block;
    width: 100%;
    //max-width: 240px;
    margin: auto;
    //padding: 25px 0;
    li {
      text-transform: uppercase;
      width: 100%;
      display: inline-block;
      text-align: center;

      font-family: 'RobotoCondensed';
      font-size: 11px;
      line-height: 115%;
      text-align: center;

      color: $colorTextBlack;
      margin: 8px 0px;

      &.main-phone {

        a {
          width: 206px;
          height: 37px;

          font-family: 'RobotoCondensed';
          font-size: 32px;
          line-height: 115%;

          color: $colorTextBlack;
          text-decoration: none;
          &:before {

            content: '';
            display: block;
            position: absolute;
            left: -30px;
            top: 8px;
            background: url('../img/icon_phone.svg') top left no-repeat;
            z-index: 2;
            width: 20px;
            height: 20px;
          }
        }
      }
      &.other-phones {
        .icons-phones{
          display: grid;
          grid-template-columns: 1fr 1fr;

          gap: 10px;
          margin: 10px 0px;

          a {
            width:24px;
            height:24px;
            display:block;
            justify-self: end;
            &:last-child{
              justify-self: start;
            }
            span {
              display: block;
              width: 25px;
              height: 25px;
              &.icon_viber {
                background: url('../img/icon-viber.svg') top left no-repeat;
              }
              &.icon_telegram {
                background: url('../img/icon-telegtam.svg') top left no-repeat;
              }
            }
          }
        }

        > ul {
          > li{
            margin: 4px 0;
            a {

              display: block;
              margin: 0px auto;
              text-align: center;
              font-family: 'RobotoCondensed';
              font-size: 24px;
              line-height: 115%;
              color: $colorTextBlack;
              //margin-bottom: 8px;
              text-decoration:none;

            }
          }
        }

      }
      &.work-time {
        > div {
          display: block;
          padding: 10px;
          background: $colorBorderGrey;
          border-radius: 2px;
          max-width: 260px;
          margin:0px auto;

          span {
            //display: inline-block;
            &:first-child {
              margin-right: 15px;
            }

            font-family: 'RobotoCondensed';
            font-weight: 500;
            font-size: 13px;
            line-height: 115%;
            color: $colorTextBlack;
          }
        }

      }
    }
  }
  .title_social {
    text-transform: uppercase;
    width: 100%;
    display: inline-block;
    text-align: center;

    font-family: 'RobotoCondensed';
    font-size: 11px;
    line-height: 115%;
    text-align: center;

    color: $colorTextBlack;
    margin: 16px 0px;

  }

  .btns-social {

    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    li {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0px 15px;
      a {
        display: block;
        width: inherit;
        height: inherit;
        background-size: 100% auto !important;

      }

      &.soc-icn-fb a {
        background: url("../img/icon_facebook.svg") center center no-repeat;
      }

      &.soc-icn-in a {
        background: url('../img/icon_instagram.svg') center center no-repeat;
      }
    }
  }

  .copyright {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 5px;
    //padding-top: 5px 0;
    text-align: center;

    font-family: 'RobotoCondensed';
    font-size: 10px;
    line-height: 115%;
    text-align: center;

    color: #838FA3;
    white-space: nowrap;
  }

}

//
//.contacts > li:nth-child(1) {
//  font: 400 10px "Open Sans", Helvetica, Arial, Tahoma;
//  text-transform: uppercase;
//  padding-bottom: 10px;
//}
//
//.contacts > li:nth-child(2) > a {
//  z-index: 2;
//  display: block;
//  width: 100%;
//  padding: 15px 20px;
//  text-align: right;
//  color: #fff;
//  background: #8fad3c;
//  text-decoration: none;
//  font: 700 25px "Open Sans", Helvetica, Arial, Tahoma;
//  border-radius: 4px;
//  -moz-border-radius: 4px;
//  -webkit-border-radius: 4px;
//  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.08), 0 1px 15px 1px rgba(0, 0, 0, 0.10);
//
//}
//
//.contacts > li.main-phone > a:before {
//  content: '';
//  display: block;
//  width: 50px;
//  height: 50px;
//  position: absolute;
//  left: 5px;
//  top: 50%;
//  margin-top: -25px;
//  background: url(../img/mobile/icn_phone_w.png) 50% 50% no-repeat;
//  background-size: 70% auto !important;
//  z-index: 2;
//}
//
//.other-phones {
//  top: -5px;
//  z-index: 1;
//  border: 1px solid #e6eef2;
//  border-radius: 0 0 4px 4px;
//  -moz-border-radius: 0 0 4px 4px;
//  -webkit-border-radius: 0 0 4px 4px;
//  padding: 15px 10px 10px 10px;
//}
//
//.other-phones > div {
//  top: -5px;
//}
//
//.other-phones > div > a {
//  display: block;
//  padding: 10px 15px;
//  margin: 5px auto;
//  border: 1px solid #e6eef2;
//  background: #f3f7f9;
//  text-decoration: none;
//  color: #1c3947;
//}
//
//.btn-more-phones {
//  display: block;
//  width: 100%;
//  height: 40px;
//  color: #1c3947;
//  cursor: pointer;
//  text-decoration: none;
//  color: #1c3947;
//  font: 400 15px/38px "Open Sans", Helvetica, Arial, Tahoma;
//}
//
//.btn-more-phones:hover {
//  color: #1c3947;
//}
//
//.other-phones > div:not(.active) {
//  display: none;
//}


