@import "vars";

.header {
  color: $primary;
}

.main-header {
  position:fixed;
  top:0px;
  left:0px;



  height: 56px;
  width: 100%;
  background-color: $gray;

  &__menu {

    display: grid;
    grid-template-columns: 56px 56px 1fr 56px;

    &__cart {
      div {
        display: block;
        background: url('../img/icn-basket.svg') center center no-repeat;
        cursor: pointer;
        width: 56px;
        height: 56px;
        position: relative;
        a {
          display: block;
          width: 56px;
          height: 56px;
          position: relative;
        }
        .products-on-basket {
          background: $green;
          color: $white;
          border-radius: 2px;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 2px 4px 2px 4px;

          position: absolute;
          width: auto;

          right: 8px;
          top: 8px;

          font-weight: 500;
          font-size: 10px;
          line-height: 100%;

        }

      }
    }
    &__search {
      .search-form {
        padding: 8px 0px;
        margin-bottom: 0px;
      }
    }
    &__burger {
      div {
        background: url('../img/burger.svg') center center no-repeat;
        width: 56px;
        height: 56px;
        //display:block;
        //width:24px;
        //height:24px;
        //cursor:pointer;
      }
    }
    &__logo {
      a {
        display: block;
        background: url('../img/logo.svg') center center no-repeat;
        width: 56px;
        height: 56px;
        cursor: pointer;
      }
    }

  }
}

.body_container {
  margin-top: 57px;
  //margin-top: 37px;
  .wrapper_link_menu {

  }

}

.wrapper-burger {
  display: block;
  display: none;
  padding: 16px 16px 30px 16px;
  z-index: 99;
  background: $white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  &.active {
    display: block;
    overflow-x: auto;
    .main_menu {
      display: block;
    }
  }
}

//
//.main-header > ul > li{
//    display:block;
//    width:50px;
//    height:50px;
//    position:absolute;
//    top:0;
//    z-index:2;
//    background-size:80% auto !important;
//}
//.main-header > ul > li > *{
//    display:block;
//    width:inherit;
//    height:inherit;
//}
//
//.main-header .logo{
//    left:10px;
//    background:url(../img/mobile/logo.svg) 50% 50% no-repeat;
//}
//
//.main-header .h-btn-user{
//    right:160px;
//    background:url(../img/mobile/icn_user_i.png) 50% 50% no-repeat;
//}.main-header .h-btn-user.active{
//     background-image:url(../img/mobile/icn_user_a.png);
// }
//
//.main-header .h-btn-user-room{
//    display: none;
//    right:160px;
//    background:url(../img/mobile/icn_user_room_a.png) 50% 50% no-repeat;
//}.main-header .h-btn-user-room.active{
//     display: block;
// }
//
//#msMiniCart{position:relative;}
//#msMiniCart a{display:block;width:50px;height:50px;}
//.main-header .h-btn-basket{
//    right:110px;
//    background:url(../img/mobile/icn_basket_i.png) 50% 50% no-repeat;
//}.main-header .h-btn-basket.active{
//     background-image:url(../img/mobile/icn_basket_a.png);
// }
//
//.main-header .h-btn-search{
//    right:60px;
//    background:url(../img/mobile/icn_search_i.png) 50% 50% no-repeat;
//}.main-header .h-btn-search.active{
//     background-image:url(../img/mobile/icn_search_a.png);
// }
//
//.main-header .h-btn-menu{
//    right:10px;
//    background:url(../img/mobile/icn_menu_i.png) 50% 50% no-repeat;
//}.main-header .h-btn-menu.active{
//     background-image: url(../img/mobile/icn_menu_a.png);
// }
//
//
//.main-header .h-btn-basket .products-on-basket{
//    display:none;
//    position:absolute;
//    width:auto;
//    height:16px;
//    background:#c53048;
//    color:#fff;
//    font:400 13px/15px "Open Sans", Helvetica, Arial, Tahoma;
//    text-align:center;
//    padding:0 5px;
//    border-radius:20px;
//    -moz-border-radius:20px;
//    -webkit-border-radius:20px;
//    -ms-border-radius:20px;
//    top:5px;
//    right:2px;
//}
//.main-header .h-btn-basket.active .products-on-basket{
//    display:block;
//}

.modal{
  &.fade {
    display: none !important;
    &.show{
      display: block !important;
    }
  }

}