
.title_block {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  color: $colorTextBlack;
  padding: 15px;

  font-family: 'RobotoCondensed';

}

.wrapper_brands {

  .logos_galerey{
    padding:0px 20px;
    //height:80px;
    img {
      //height: 80px;
    }
  }
  .swiper-button-prev {
    width: 9px;
    height: 22px;

    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    background: url('../img/left_strelka.svg') top left no-repeat!important;
  }
  .swiper-button-next {
    width: 9px;
    height: 22px;

    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    background: url('../img/right_strelka.svg') top left no-repeat!important;
  }

  //padding: 0px 16px;
  .show_more {
    border-bottom: 1px solid #E5E8EC;

    height: 40px;
    position: relative;
    margin-bottom: 50px;

    a {
      display: block;
      border: 1px solid #E5E8EC;
      width: 200px;
      height: 40px;
      color: #3B5CAE;
      text-align: center;

      position: absolute;
      top: 50%;
      z-index: 999;
      background: white;
      left: 50%;
      margin-left: -100px;
      text-decoration: none;
      &:after {
        content: url('../img/icon-go-to.svg');
        width: 24px;
        height: 24px;
        top: 7px;
        right: -10px;

      }
    }
  }
}


.product-info-accordion.accordion {
  .rating_product {
    display: grid;
    grid-template-columns: 1fr;
    padding-left:10px;
    //75px 16px 16px;
    height: 16px;
    padding-top: 2px;
    justify-items: center;

    .product-item-stars {
      .product-item-stars-wrapper {
        display:grid;
        grid-template-columns: 1fr auto;
        .product-item-stars-grid {
          display: grid;
          grid-template-columns: 11px 11px 11px 11px 11px;
          gap: 3px;
          padding-right: 5px;

          .star-big-icon {
            display: block;
            background: url('../img/icon_star.svg') center center no-repeat;
            width: 15px;
            height: 13px;

            &.star-big-icon-check {
              background: url('../img/icon_star_fill.svg') center center no-repeat;
            }
          }

          .star-icon {
            display: block;
            background: url('../img/icon_star.svg') center center no-repeat;

            &.star-icon-check {
              background: url('../img/icon_star_fill.svg') center center no-repeat;

            }

          }
        }
      }
    }

    .small-use-icon {
      width: 16px;
      height: 16px;
      background: url('../img/icon-user.svg') center center no-repeat;
    }

    .count {
      width: 16px;
      height: 13px;
      place-self: center stretch;
      font-family: 'RobotoCondensed';
      font-weight: 400;
      font-size: 10px;
      line-height: 120%;

      color: $colorTextBlack;
    }

  }
}


.main_products {

  .product_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    //grap:32px;

    //column-gap: 32px;
    //row-gap: 48px;
  }
  .product_list > div {
    border-bottom: 1px solid #E5E8EC;
    padding: 48px 16px 30px 0px;
    &:nth-child(even) {
      padding: 48px 0px 30px 16px;
    }

    .rating_product {
      display: grid;
      grid-template-columns: 75px 16px 16px;
      height: 16px;
      gap: 5px;
      padding-top: 5px;
      justify-items: center;

      .product-item-stars {
        display: grid;
        grid-template-columns: 11px 11px 11px 11px 11px;
        gap: 3px;
        padding-right: 5px;

        .star-icon {
          display: block;
          background: url('../img/icon_star.svg') center center no-repeat;

          &.star-icon-check {
            background: url('../img/icon_star_fill.svg') center center no-repeat;

          }

        }
      }
      .small-use-icon {
        width: 16px;
        height: 16px;
        background: url('../img/icon-user.svg') center center no-repeat;
      }

      .count {
        width: 16px;
        height: 13px;
        place-self: center stretch;
        font-family: 'RobotoCondensed';
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;

        color: $colorTextBlack;
      }

    }
    .product-item-code {
      font-family: 'RobotoCondensed';

      font-size: 12px;
      line-height: 115%;
      color: $oldPrice;
      margin: 6px 0px;
    }

    .all_options {
      display: grid;
      grid-template-columns: 25px 1fr 25px;
      background: $colorBorderGrey;
      padding: 7px 0px;
      margin: 15px auto;

      .prev_nav {
        background: url('../img/left_strelka.svg') center center no-repeat;
        display: block;
        height: 68px;
        width: 25px;
        cursor: pointer;

      }
      .next_nav {
        background: url('../img/right_strelka.svg') center center no-repeat;
        display: block;
        height: 68px;
        width: 25px;
        cursor: pointer;
      }
      ul {
        display: block;
        li {
          width: 100%;
          height: 68px;
          display: none;
          text-align: center;
          &.active {
            display: grid;
          }
          .weightprice {
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            line-height: 115%;
            display: block;
            align-self: center;

            color: $colorTextBlack;
            .value_weight {
              display: block;
              text-align: center;
              margin-bottom: 3px;

            }
            .product-price {
              display: block;

              font-family: 'RobotoCondensed';
              font-weight: 500;
              font-size: 22px;
              line-height: 115%;

              color: $redPrice;
              &.full-price {
                font-family: 'RobotoCondensed';
                font-weight: 500;
                font-size: 22px;
                line-height: 115%;
                color: $colorTextBlack;

              }

            }

            .old-price {
              color: $oldPrice;
              font-size: 18px;
              line-height: 115%;
              text-decoration: line-through;
              color: $oldPrice;
            }
          }
        }
      }
    }
  }
}



.big-prevs-container
{
  width: 100%;
  display: block;
  position: relative;
  min-height: 200px;
  //padding: 50px 0 20px 0;
  /*clear:both;*/


  .wrapper_sort{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
    padding:8px 10px;

    border-bottom: 1px solid #E5E8EC;
  margin-bottom:15px;
    .block_sort{

      box-sizing: border-box;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 2px;

      width: 100%;
      //height: 32px;
      border: 1px solid #FF9000;
      border-radius: 2px;
      flex: none;
      order: 0;
      flex-grow: 1;
      a{
        display:block;
        justify-content: center;
        align-items: center;
        padding: 9px 12px 8px 6px;
        text-align:center;
        color:#1C3846;
        text-decoration:none;
        &:before {
          content: url('../img/icon_sort.svg');
          width:15px;
          height:15px;

          top: 3px;
          left: -10px;
        }
      }
    }
    .block_filter{
      box-sizing: border-box;

      /* Auto layout */

      display: flex;
      flex-direction: row;

      gap: 2px;

      //width: 166px;
      //height: 32px;
      width:100%;

      background: #FF9000;

      border: 1px solid #FF9000;
      border-radius: 2px;

      flex: none;
      order: 1;
      flex-grow: 1;
      a{
        display:block;
        width:100%;
        justify-content: center;
        align-items: center;
        padding: 9px 12px 8px 6px;
        text-align:center;
        color:$white;
        text-decoration:none;
        &:before {
          content: url('../img/icon_filters.svg');
          width:15px;
          height:15px;
          top: 3px;
          left: -10px;
        }
      }
    }
  }

}


/*.catalog-tool,*/
.catalog-tool,#breadcrumb {
  box-sizing: border-box;
  height:55px;
  width:100%;

  align-items: center;

  width:100%;
  display: block;
  overflow-x: scroll;

  background: #F8FAFC;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #E5E8EC;

  display:flex;
  //grid-template-columns: 35px 1fr 35px;

  li {
    display: block;
    display: inline-block;
    //block;
    height: 50px;
    padding:15px 5px 15px 5px;
    white-space: nowrap;

    a {
      width: 100%;
      //height: inherit;
      //display: block;

      font-weight: 400;
      font-size: 14px;
      line-height: 115%;
      letter-spacing: 0.04em;
      color: #1C3846;
  text-decoration:none;
      flex: none;
      order: 1;
      flex-grow: 0;

      text-decoration: none;

      color: #1c3947;

      padding-right:20px;

      position: relative;
      z-index: 1;

      overflow: hidden;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;


    }

    &:not(.crumbs) {
      cursor: pointer;
      width: 50px;
      width:auto;
      z-index: 2;
    }
    &:after{
      width:24px;
      height:24px;
      content: "";
        display: inline-block;
      top: 15px;
      right: 0px;
      position:absolute;
        vertical-align: middle;
      background: url(../img/left_strelka.svg) center center no-repeat;

    }
    &:last-child{
      &:after {
        background: none;
      }
    }
    //&.crumbs {
      width: 100%;
      text-align:left;

      //&:before {
      //  content: "";
      //  display: inline-block;
      //  height: 100%;
      //  vertical-align: middle;
      //}


      span {
        white-space: nowrap;
        width: 100%;
        max-height: 40px;
        display: inline-block;
        vertical-align: middle;
      }

    //}

    &.btn-back {
      width:24px;
      height:24px;
      background: url(../img/left_strelka.svg) center center no-repeat;
    }

    &.btn-breadcrumb {
      //right: 10px;
      width:24px;
      height:24px;
      background: url(../img/icon-go-back-crumbs.svg) center center no-repeat;
    }

  }

}
.catalog-tool{
  li{

      &:after{
        //width:24px;
        //height:24px;
        //content: "";
        //display: inline-block;
        //top: 15px;
        //right: 0px;
        //position:absolute;
        //vertical-align: middle;
        background: none;

      }
  }
}

.breadcrumb-pu{
  .breadcrumb-list{
    margin-top:50px;
  }
}



/* 	CRUMBS
_____________________________________ */



//
//.prev-buy-btn {
//    display: block;
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    width: 100%;
//    height: 25px;
//    text-align: center;
//    background: #ff8f00;
//    padding: 0;
//}
//
//.prev-buy-btn a {
//    display: inline-block;
//    width: auto;
//    top: 0;
//    text-align: center;
//    height: 20px;
//    padding: 0 0 0 23px;
//    color: #fff;
//    background: url(../img/mobile/icn_basket_w.png) 0 50% no-repeat;
//    background-size: auto 18px !important;
//    text-decoration: none;
//    text-transform: uppercase;
//    font: 700 11px/18px "Open Sans", Arial, Helvetica, Tahoma, serif;
//}
//
//.prev-buy-btn:before {
//    background: #1c3947;
//}
//
//.prev-buy-btn:hover:before {
//    background: #4074B3;
//}

.prev-buy-btn {
  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;

    width: 100%;
    height: 40px;

    color: $white;
    background-color: $primary;
    border-radius: 2px;
    text-trnasform: uppercase;
    text-decoration: none;

    font-family: $roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;

    letter-spacing: 0.04em;
    &:after {
      content: url('../img/icon_buy.svg');
      height: 15px;
      width: 15px;

    }
  }
}

.random-links a {
  display: inline-block;
  float: left;
  height: 40px;
  padding: 0 15px;
  color: #296fcb;
  border: 1px solid #abc1d6;
  font: 400 13px/38px $roboto;
  text-decoration: none;
  margin: 0 10px 10px 0;
}

//
//.preview-container {
//    display: inline-block;
//    position: relative;
//    width: 100%;
//    min-width: 120px;
//    height: 150px;
//    overflow: hidden;
//    top: 0;
//    left: 0;
//    z-index: 2;
//    padding: 0;
//    background: rgba(255, 255, 255, 1.00);
//}
//
//.preview-container > * {
//    display: inline-block;
//    width: 100%;
//    padding: 0;
//}

.prev-sale-marker {
  position: absolute;
  width: auto;
  padding: 0 10px;
  height: 20px;
  top: 5px;
  right: 5px;
  display: block;
  z-index: 4;
  font: 700 15px/18px $roboto;
  color: #fff;
  background: #8fad3c;
}

.prev-sale-marker[data-marker="green"] {
  background: #8fad3c;
}

.prev-sale-marker[data-marker="red"] {
  background: #c53048;
}

.prev-sale-marker[data-marker="blue"] {
  background: #a0489c; /*#296fcb;*/
}

.prev-sale-marker[data-marker="blue2"] {
  background: #3ba1b0;
}

.preview-container .prev-image {
  display: block;
  width: 100%;
  height: auto  ;
  overflow: hidden;
  text-align: center;
}

.preview-container .prev-image img {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
}

.prev-image > * {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.prev-name {
  //position: absolute;
  //left: 0;
  //bottom: 25px;
  //height: 40px;
  //background: rgba(255, 255, 255, 1.00);
}

.nav-tabs{
  border-bottom: none;
}
.prev-name {
  margin-top:10px;
  > * {
    display: block;
    height: auto;
    //max-height: 30px;
    height: 55px;
    padding: 3px 0;

    overflow: hidden;
    color: $colorTextBlack;
    text-decoration: none;

    font-family: 'RobotoCondensed';

    font-size: 12px;
    line-height: 115%;
  }
  a {
    font-size:14px;
    &:hover {
      text-decoration: underline;
    }

  }

}

.category_option_block{
  display:none;
}

.no_store_button{
  padding: 9px 8px 8px 8px;

  border-radius: 2px;
  border: 1px solid var(--color_2, #FF9000);

  color: var(--color_b1, #1C3846);
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  width: 106px;
  text-transform: uppercase;
  text-decoration: auto;
}

.category_option_block{
  .no_store_button{
    font-size: 10px;
    height: 40px;
    width: 100%;
    display: block;
    padding: 5px 6px 6px;
    cursor:pointer;
  }
}
