


/* SLIDER MAIN PAGE
_____________________________________ */
.main-page-slider {
  display: block;
  width: 100%;
  height: 160px;
  background: rgba(255, 255, 255, 1.00); /*test*/
  clear: both;
}

.swiper-button-prev,
.swiper-container-rtl
.swiper-button-next {

  background-image: url(../../img/mobile/icn_arow_left.png) !important;
}

.swiper-button-next,
.swiper-container-rtl
.swiper-button-prev {

  background-image: url(../../img/mobile/icn_arow_right.png) !important;
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 40px 40px;
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px !important;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-container {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 160px;
  padding: 0;
  overflow: hidden;
  background: none;
  &.gallery-product
  {
    height: auto;
    height: 300px;

    //float:none!important;max-width:300px!important;margin:0px auto!important;width:300px!important;text-align:center!important;
  }
}
//
//.swiper-container {
//  .gallery-product {
//    height: 300px;
//  }
//}
/*
.swiper-slide {
  top: 0;

  padding: 0 0px;
  text-align: left;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}*/


