  <div class="brands">
            <ul class="brands-wrap">

{foreach $brands as $brand}      
{snippet name=pthumb params="input=`{$brand.logo}`&options=`w=150&h=223&far=1`&useResizer=`1`" assign=preview}               
	<li>
					<a href="{$brand.url}"><img style="max-width:172px;" src="{$preview}" alt="{$brand.name}" /></a>
	</li>
	    

{/foreach}

</ul>
</div>
