 

<div class="basket-container">
        <ul class="catalog-tool">
            <li class="btn-back"><a href="/"></a></li>
            <li class="crumbs">
                <span>
                Ваша корзина
                </span>
            </li>

        </ul>



        <ul class="basket-table-list">
            <li class="basket-table-block">
                <ul><div data-marker="green" class="sale-marker">50%</div>
                    <span class="btn-delet-product"></span>
                    <li class="basket-table-product-img imgfit"><img src="gallery/06.jpg" alt /></li>
                    <li class="basket-table-product-name">
                        <h2>
                            Ззанимаемых участниками в отношении поставленных задач.
                        </h2>
                    </li>
                </ul>
                <ul class="basket-table-product-tool">
                    <li class="product-type-form">
                        <form action="">
                            <select>
                                <option value="">25-35 см/10 мм шт</option>
                                <option value="" selected>30-40см/15мм шт</option>
                                <option value="">40-50см/15мм шт</option>
                            </select>
                        </form>
                    </li>
                    <li class="icn-free"></li>
                    <li class="basket-table-product-sale">
                        <div class="sale">Скидка: 3%</div>
                    </li>
                </ul>
                <ul class="basket-table-product-tool2">
                    <li>
                        <span>Цена:</span>
                        <div class="product-price uah">300</div>
                    </li>
                    <li class="quantity">
                        <input class="input-quantity" type="number" value="1" />
                        <span class="number-minus"></span>
                        <span class="number-plus"></span>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <div class="product-total-price uah">300</div>
                    </li>
                </ul>
            </li><!-- basket product end -->
            <li class="basket-table-block">
                <ul><div data-marker="green" class="sale-marker">50%</div>
                    <span class="btn-delet-product"></span>
                    <li class="basket-table-product-img imgfit"><img src="gallery/01.jpg" alt /></li>
                    <li class="basket-table-product-name">
                        <h2>
                            Ззанимаемых участниками в отношении поставленных задач.
                        </h2>
                    </li>
                </ul>
                <ul class="basket-table-product-tool">
                    <li class="product-type-form">
                        <form action="">
                            <select>
                                <option value="">25-35 см/10 мм шт</option>
                                <option value="" selected>30-40см/15мм шт</option>
                                <option value="">40-50см/15мм шт</option>
                            </select>
                        </form>
                    </li>
                    <li class="icn-free"></li>
                    <li class="basket-table-product-sale">
                        <div class="sale">Скидка: 3%</div>
                    </li>
                </ul>
                <ul class="basket-table-product-tool2">
                    <li>
                        <span>Цена:</span>
                        <div class="product-price uah">300</div>
                    </li>
                    <li class="quantity">
                        <input class="input-quantity" type="number" value="1" />
                        <span class="number-minus"></span>
                        <span class="number-plus"></span>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <div class="product-total-price uah">300</div>
                    </li>
                </ul>
            </li><!-- basket product end -->
            <li class="basket-table-block">
                <ul><div data-marker="green" class="sale-marker">50%</div>
                    <span class="btn-delet-product"></span>
                    <li class="basket-table-product-img imgfit"><img src="gallery/02.jpg" alt /></li>
                    <li class="basket-table-product-name">
                        <h2>
                            Ззанимаемых участниками в отношении поставленных задач.
                        </h2>
                    </li>
                </ul>
                <ul class="basket-table-product-tool">
                    <li class="product-type-form">
                        <form action="">
                            <select>
                                <option value="">25-35 см/10 мм шт</option>
                                <option value="" selected>30-40см/15мм шт</option>
                                <option value="">40-50см/15мм шт</option>
                            </select>
                        </form>
                    </li>
                    <li class="icn-free"></li>
                    <li class="basket-table-product-sale">
                        <div class="sale">Скидка: 3%</div>
                    </li>
                </ul>
                <ul class="basket-table-product-tool2">
                    <li>
                        <span>Цена:</span>
                        <div class="product-price uah">300</div>
                    </li>
                    <li class="quantity">
                        <input class="input-quantity" type="number" value="1" />
                        <span class="number-minus"></span>
                        <span class="number-plus"></span>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <div class="product-total-price uah">300</div>
                    </li>
                </ul>
            </li><!-- basket product end -->
            <li class="basket-table-block">
                <ul><div data-marker="green" class="sale-marker">50%</div>
                    <span class="btn-delet-product"></span>
                    <li class="basket-table-product-img imgfit"><img src="gallery/03.jpg" alt /></li>
                    <li class="basket-table-product-name">
                        <h2>
                            Ззанимаемых участниками в отношении поставленных задач.
                        </h2>
                    </li>
                </ul>
                <ul class="basket-table-product-tool">
                    <li class="product-type-form">
                        <form action="">
                            <select>
                                <option value="">25-35 см/10 мм шт</option>
                                <option value="" selected>30-40см/15мм шт</option>
                                <option value="">40-50см/15мм шт</option>
                            </select>
                        </form>
                    </li>
                    <li class="icn-free"></li>
                    <li class="basket-table-product-sale">
                        <div class="sale">Скидка: 3%</div>
                    </li>
                </ul>
                <ul class="basket-table-product-tool2">
                    <li>
                        <span>Цена:</span>
                        <div class="product-price uah">300</div>
                    </li>
                    <li class="quantity">
                        <input class="input-quantity" type="number" value="1" />
                        <span class="number-minus"></span>
                        <span class="number-plus"></span>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <div class="product-total-price uah">300</div>
                    </li>
                </ul>
            </li><!-- basket product end -->
            <li class="basket-table-block">
                <ul><div data-marker="green" class="sale-marker">50%</div>
                    <span class="btn-delet-product"></span>
                    <li class="basket-table-product-img imgfit"><img src="gallery/06.jpg" alt /></li>
                    <li class="basket-table-product-name">
                        <h2>
                            Ззанимаемых участниками в отношении поставленных задач.
                        </h2>
                    </li>
                </ul>
                <ul class="basket-table-product-tool">
                    <li class="product-type-form">
                        <form action="">
                            <select>
                                <option value="">25-35 см/10 мм шт</option>
                                <option value="" selected>30-40см/15мм шт</option>
                                <option value="">40-50см/15мм шт</option>
                            </select>
                        </form>
                    </li>
                    <li class="icn-free"></li>
                    <li class="basket-table-product-sale">
                        <div class="sale">Скидка: 3%</div>
                    </li>
                </ul>
                <ul class="basket-table-product-tool2">
                    <li>
                        <span>Цена:</span>
                        <div class="product-price uah">300</div>
                    </li>
                    <li class="quantity">
                        <input class="input-quantity" type="number" value="1" />
                        <span class="number-minus"></span>
                        <span class="number-plus"></span>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <div class="product-total-price uah">300</div>
                    </li>
                </ul>
            </li><!-- basket product end -->
        </ul>

        <!-- ENTER PROMO-CODE -->
        <ul class="enter-promocode accordion">
            <li>
                <a>Ввести промо-код</a>
                <div>
                    <input name="promocode" type="text" id="promocode" value="" class="form-control"><br />
                    <button value="order/promocode" type="submit" class="btn orange-btn text-uppercase pull-left promocodevalidate">Применить</button>
                    <p  id="messagepromocode"></p>

                    <br />
                    <div class="promocode-sale">
                        <span>Скидка:</span><div class="price-large uah" id="discountsumma uah">0,00</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="orders-total-price">
            Всего к оплате: <div class="uah"></div>
        </div>
        <div class="btn-orange">
            <a href="#">Оформить заказ</a>
        </div>
	</div>
