*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  /*position: relative;*/
}
.no_select,
.no_select * {
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.interactive_banner3,
.interactive_banner3 * {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased !important;
}
.interactive_banner3 {
  overflow: hidden !important;
  display: block !important;
  width: 100% !important;
  max-width: 868px;
  max-width: auto!important;
  height: 320px!important;
  border: 1px solid #ebf6f9 !important;
  margin-bottom: 40px !important;
  position: relative !important;
  background: white !important;
}

.interactive_banner3 img{
  width:auto!important;
  height:auto!important;
}
.interactive_banner3:after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  display: inline-block !important;
  width: 66px !important;
  height: 100px !important;
  background: url("../img/green_petfood/logo.png") 50% 50% no-repeat !important;
  -webkit-background-size: 100% auto !important !important;
  background-size: 100% auto !important !important;
  z-index: 8 !important;
  -webkit-transition: all 0.26s ease-out !important;
  -moz-transition: all 0.26s ease-out !important;
  -o-transition: all 0.26s ease-out !important;
  -ms-transition: all 0.26s ease-out !important;
  transition: all 0.26s ease-out !important;
}
.interactive_banner3:hover:after {
  top: -100px !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
.interactive_banner3 > div {
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  height: 100% !important;
  width: 50% !important;
  font-family: "Open Sans", sans-serif !important;
  background: #e2f5ff !important;
  -webkit-background-size: 868px 100% !important;
  background-size: 868px 100% !important;
  -webkit-transition: all 0.4s ease-out !important;
  -moz-transition: all 0.4s ease-out !important;
  -o-transition: all 0.4s ease-out !important;
  -ms-transition: all 0.4s ease-out !important;
  transition: all 0.4s ease-out !important;
}
.interactive_banner3 > div > div {
  display: block !important;
  position: absolute !important;
  width: 42% !important;
  height: 100% !important;
  z-index: 8 !important;
}
.interactive_banner3 > div > div > img {
  position: absolute !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, 30%) !important;
  -moz-transform: translate(-50%, 30%) !important;
  -ms-transform: translate(-50%, 30%) !important;
  -o-transform: translate(-50%, 30%) !important;
  transform: translate(-50%, 30%) !important;
  width: 200px !important;
  -webkit-transition: all 0.3s ease-out !important;
  -moz-transition: all 0.3s ease-out !important;
  -o-transition: all 0.3s ease-out !important;
  -ms-transition: all 0.3s ease-out !important;
  transition: all 0.3s ease-out !important;
}
.interactive_banner3 > div > div span {
  position: absolute !important;
  display: block !important;
  left: 50% !important;
  top: 220px !important;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 7px 12px !important;
  background: #006885 !important;
  color: white !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.interactive_banner3 > div > div > div {
  height: 100% !important;
}
.interactive_banner3 > div > div > div > div {
  display: block !important;
  opacity: 0 !important;
  visibility: hidden !important;
  width: 32% !important;
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.interactive_banner3 > div > div > div > div > h2 {
  font-size: 28px !important;
  margin: 0 !important;
  top: 34px !important;
  padding: 0 !important;
}
.interactive_banner3 > div > div > div > div > h3 {
  font-weight: 300 !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #393c3e !important;
  margin: 0 0 -5px 0 !important;
  padding: 0 !important;
}
.interactive_banner3 > div > div > div > div > h3 > img {
  width: 100% !important;
}
.interactive_banner3 > div > div > div > div > a {
  top: -16px !important;
  left: 15px !important;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.interactive_banner3 > div > div > div > div > a:hover {
  top: -20px !important;
}
.interactive_banner3 > div > div > div > div > a > img {
  width: 40px !important;
}
.interactive_banner3 > div > img {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.52s ease-out;
  -moz-transition: all 0.52s ease-out;
  -o-transition: all 0.52s ease-out;
  -ms-transition: all 0.52s ease-out;
  transition: all 0.52s ease-out;
}
.interactive_banner3 > div > img:nth-child(1) {
  height: 90% !important;
  z-index: 2 !important;
}
.interactive_banner3 > div > img:nth-child(2) {
  height: 80% !important;
  z-index: 1 !important;
}
.interactive_banner3 > div:hover {
  width: 100% !important;
  border: none !important;
}
.interactive_banner3 > div:hover > img:nth-child(1) {
  height: 70% !important;
}
.interactive_banner3 > div:hover > img:nth-child(2) {
  height: 70% !important;
}
.interactive_banner3 > div:hover > div {
  width: 100% !important;
}
.interactive_banner3 > div:hover > div > span {
  top: 300px !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
.interactive_banner3 > div:nth-child(1) {
  left: 0 !important;
  background: url("../img/green_petfood/bg_l.jpg") 0 50% no-repeat !important;
  z-index: 5 !important;
  border-right: 2px solid #14604C !important;
}
.interactive_banner3 > div:nth-child(1) > div > div > div {
  left: 0 !important;
}
.interactive_banner3 > div:nth-child(1):hover > img:nth-child(1) {
  left: 0% !important;
}
.interactive_banner3 > div:nth-child(1):hover > img:nth-child(2) {
  left: 50% !important;
}
.interactive_banner3 > div:nth-child(1):hover > div > img {
  left: auto !important;
  right: 1% !important;
  -webkit-transform: translate(0, 10%);
  -moz-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  -o-transform: translate(0, 10%);
  transform: translate(0, 10%);
  width: 100px !important;
}
.interactive_banner3 > div:nth-child(1):hover > div > div > * {
  opacity: 1 !important;
  visibility: visible !important;
}
.interactive_banner3 > div:nth-child(1):hover > div > div > * > h2 {
  color: #13a2da;
}
.interactive_banner3 > div:nth-child(1):hover > div > div > div:first-child {
  left: 130px !important;
}
.interactive_banner3 > div:nth-child(1):hover > div > div > div:last-child {
  left: 560px !important;
}
.interactive_banner3 > div:nth-child(1) > div {
  right: 0 !important;
}
.interactive_banner3 > div:nth-child(1) > img:nth-child(1) {
  left: 1% !important;
}
.interactive_banner3 > div:nth-child(1) > img:nth-child(2) {
  left: 22% !important;
}
.interactive_banner3 > div:nth-child(2) {
  right: 0 !important;
  background: url("../img/green_petfood/bg_r.jpg") 100% 50% no-repeat;
  z-index: 4;
  border-left: 2px solid #14604C;
}
.interactive_banner3 > div:nth-child(2) > div > span {
  background: #006332;
}
.interactive_banner3 > div:nth-child(2) > div > div > div {
  right: 0 !important;
}
.interactive_banner3 > div:nth-child(2):hover {
  z-index: 6 !important;
}
.interactive_banner3 > div:nth-child(2):hover > img:nth-child(1) {
  right: 0% !important;
}
.interactive_banner3 > div:nth-child(2):hover > img:nth-child(2) {
  right: 50% !important;
}
.interactive_banner3 > div:nth-child(2):hover > div > img {
  right: auto !important;
  left: 5% !important;
  -webkit-transform: translate(0, 10%);
  -moz-transform: translate(0, 10%);
  -ms-transform: translate(0, 10%);
  -o-transform: translate(0, 10%);
  transform: translate(0, 10%);
  width: 100px !important;
}
.interactive_banner3 > div:nth-child(2):hover > div > div > * {
  opacity: 1 !important;
  visibility: visible !important;
}
.interactive_banner3 > div:nth-child(2):hover > div > div > * > h2 {
  color: #13a2da;
}
.interactive_banner3 > div:nth-child(2):hover > div > div > div:first-child {
  right: 130px !important;
}
.interactive_banner3 > div:nth-child(2):hover > div > div > div:last-child {
  right: 560px !important;
}
.interactive_banner3 > div:nth-child(2) > div {
  left: 0 !important;
}
.interactive_banner3 > div:nth-child(2) > img:nth-child(1) {
  right: 1% !important;
}
.interactive_banner3 > div:nth-child(2) > img:nth-child(2) {
  right: 22% !important;
}
/*# sourceMappingURL=css3.css.map */