@color_main: #14604C;
@color_sec: #006885;
@color_black: #393c3e;

// NO PADDING in WIDTH
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-font-smoothing:antialiased;

    /*(position:relative;*/
}

// TRANSFORM   (scale: 1.2)
.transform(@param){
    -webkit-transform:        @param;
    -moz-transform:           @param;
    -ms-transform:            @param;
    -o-transform:             @param;
    transform:                @param;
}

// DELAY (0.4s)
.anim-delay(@delay){
    -webkit-animation-delay:  @delay;
    -moz-animation-delay:     @delay;
    -o-animation-delay:       @delay;
    animation-delay:          @delay;
}

// ANIM
@speed: 0.2s;
.anim_on(@speed){
    -webkit-transition:   all @speed ease-out;
    -moz-transition:      all @speed ease-out;
    -o-transition:        all @speed ease-out;
    -ms-transition:       all @speed ease-out;
    transition:           all @speed ease-out;
}

// NO SELECT TEXT
.no_select,
.no_select *{
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

// +++++++++++++++++++++++++++++++++++++++++++++++++++

.interactive_banner3,
.interactive_banner3 *{
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;

    -webkit-font-smoothing:antialiased!important;
}

.interactive_banner3 {
    overflow: hidden!important;
    display: block!important;
    width: 100%!important;
    max-width: 868px;
    max-width: auto!important;
    height: 320px!important;
    border: 1px solid #ebf6f9!important;
    margin-bottom: 40px!important;
    position: relative!important;
    background: white!important;
    img{
        width:auto!important;
        height:auto!important;
    }
    &:after{
        content: ""!important;
        position: absolute!important;
        top: 50%!important;
        left:50%!important;
        //border: 1px solid red;
        .transform(translate(-50%, -50%))!important;
        display: inline-block!important;
        width: 66px!important;
        height: 100px!important;
        background: url("img/logo.png") 50% 50% no-repeat!important;
        -webkit-background-size: 100% auto !important;
        background-size: 100% auto !important;
        z-index: 8!important;
        .anim_on(0.26s)!important;
    }

    &:hover:after{

        top: -100px!important;
        opacity: 0!important;
        visibility: hidden!important;
    }

    >div{ // left and right box's
        display: block!important;
        position: absolute!important;
        top:0!important;
        height: 100%!important;
        width: 50%!important;
        font-family: "Open Sans", sans-serif!important;
        background: #e2f5ff!important;
        //border: 1px solid red;
        -webkit-background-size:    868px 100% !important;
        background-size:            868px 100% !important;
        .anim_on(0.4s);

        > div{ // left and right content box's

            display: block!important;
            position: absolute!important;
            width: 42%!important;
            height: 100%!important;
            //border: 1px solid red;
            z-index: 8;

            > img{
                position: absolute!important;
                left:50%!important;
                .transform(translate(-50%, 30%));
                width: 200px!important;
                .anim_on(0.3s);
            }

            span{
                position: absolute!important;
                display: block!important;
                left:50%!important;
                top:220px!important;
                .transform(translateX(-50%));
                padding: 7px 12px!important;
                background: @color_sec;
                color: white!important;
                font-size: 13px!important;
                text-transform: uppercase!important;
                -webkit-border-radius: 3px!important;
                -moz-border-radius: 3px!important;
                border-radius: 3px!important;

                opacity: 1!important;
                visibility: visible!important;

                .anim_on(0.3s);
            }

            > div { // text content
                height: 100%!important;

                > div{
                    display: block!important;
                    opacity: 0!important;
                    visibility: hidden!important;
                    width: 32%!important;
                    position: absolute!important;
                    top:50%!important;
                    .transform(translateY(-50%));
                    //border: 1px solid red;
                    .anim_on(0.3s);

                    > h2{
                        font-size: 28px!important;
                        margin: 0!important;
                        top:34px!important;
                        padding: 0!important;
                    }
                    > h3{
                        font-weight: 300!important;
                        font-weight: normal!important;
                        font-size: 12px!important;
                        line-height: 15px!important;
                        color: @color_black!important;
                        margin: 0 0 -5px 0!important;
                        padding: 0!important;

                        > img{
                            width: 100%!important;
                        }

                    }
                    > a{
                        top:-16px!important;
                        left: 15px!important;
                        .anim_on(0.2s);

                        &:hover{
                            top:-20px!important;
                        }

                        > img{
                            width: 40px!important;
                        }
                    }
                }

            }
        }

        > img{
            position: absolute!important;
            top:50%!important;
            .transform(translateY(-50%));

            .anim_on(0.52s);

            &:nth-child(1){
                height: 90%!important;
                z-index: 2!important;
            }

            &:nth-child(2){
                height: 80%!important;
                z-index: 1!important;
            }
        }

        &:hover{
            width: 100%!important;
            border: none !important;

            > img{
                &:nth-child(1){
                    height: 70%!important;
                }
                &:nth-child(2){
                    height: 70%!important;
                }
            }

            > div{
                width: 100%!important;

                >span{
                    top:300px!important;
                    opacity:0!important;
                    visibility: hidden!important;
                }

            }
        }

        // LEFT BLOCK
        // -----------------------------------------
        &:nth-child(1){
            left: 0!important;
            background: url("img/bg_l.jpg") 0 50% no-repeat!important;
            z-index: 5!important;

            > div{
                > div{
                    > div{
                        left:0!important;
                    }
                }
            }

            &:hover{

                > img{
                    &:nth-child(1){
                        left: 0%!important;
                    }
                    &:nth-child(2){
                        left: 50%!important;
                    }
                }

                > div{

                    > img{
                        left: auto!important;
                        right:1%!important;
                        .transform(translate(0, 10%));
                        width: 100px!important;
                    }

                    > div{
                        >*{
                            opacity: 1!important;
                            visibility: visible!important;

                            >h2{
                                color:#13a2da!important;
                            }
                        }
                        >div:first-child{
                            left: 130px!important;
                        }
                        >div:last-child{
                            left: 560px!important;
                        }
                    }
                }


            }

            >div{
                right: 0!important;
            }

            > img:nth-child(1){
                left: 1%!important;
            }

            > img:nth-child(2){
                left: 22%!important;
            }

            border-right: 2px solid @color_main!important;

        }

        // RIGHT BLOCK
        // -----------------------------------------
        &:nth-child(2){
            right: 0!important;
            background: url("img/bg_r.jpg") 100% 50% no-repeat!important;
            z-index: 4!important;

            > div{
                > span{
                    background: #006332!important;
                }
                > div{
                    > div{
                        right:0!important;
                    }
                }
            }

            &:hover{
                z-index: 6!important;

                > img{
                    &:nth-child(1){
                        right: 0%!important;
                    }
                    &:nth-child(2){
                        right: 50%!important;
                    }
                }

                > div{

                    > img{
                        right:auto!important;
                        left: -1%!important;
                        .transform(translate(0, 10%));
                        width: 100px!important;
                    }

                    > div{
                        >*{
                            opacity: 1!important;
                            visibility: visible!important;

                            >h2{
                                color:#13a2da!important;
                            }
                        }
                        >div:first-child{
                            right: 130px!important;
                        }
                        >div:last-child{
                            right: 560px!important;
                        }
                    }

                }

            }

            >div{
                left: 0!important;
            }

            > img:nth-child(1){
                right: 1%!important;
            }

            > img:nth-child(2){
                right: 22%!important;
            }

            border-left: 2px solid @color_main;
        }




    }




}

