/* new end */
// NO PADDING in WIDTH
//=============================================================================
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  position: relative;
}

::selection {
  background: @color_1;
  color: @color_w;
}

::-moz-selection {
  background: @color_1;
  color: @color_w;
}
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //font-size: 100%;
  vertical-align: baseline;
}*/

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
}

// ЦВЕТА
// основные цвета:
@color_1: #C62F48;
@color_2: #FF9000;
@color_3: #A0489C;
@color_4: #8FAE3B;
@color_5: #296ECB;
@color_6: #3BA1AE;

// градиент серого:
@color_b1: #1C3846;
@color_b2: #666666;
@color_b3: #ABC0D6;
@color_b4: #C7CBD4;
@color_b5: #F4F6FA;
@color_b6: #F1F2F6;
@color_b7: #f8f9fa;
@color_w: #fff;

.product-item.big-item, .big-item.basket-item {
  &::before{
    content:'';
    display: block;
    width: 90%;
    height: 1px;
    background: @color_b3;
    position: absolute;
    z-index: 12;
    bottom: -1px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &::after{
    content:'';
    display: none;
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 12;
    bottom: 0;
    left: 0;

    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  }
  border: 0 !important;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  min-height: 300px;
  -webkit-box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);
  box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);

  margin-bottom: 20px;

  -webkit-transition:   all 0.2s ease-out;
  -moz-transition:      all 0.2s ease-out;
  -o-transition:        all 0.2s ease-out;
  -ms-transition:       all 0.2s ease-out;
  transition:           all 0.2s ease-out;

  > form {
    width: 100% !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px !important;
    margin: auto;
    z-index: 10;
    display: block;
    position: relative;
    top:0;
    left: 1px;
    border: 1px solid @color_w;

    .product-item-stars{
      display: none;
    }
    .product-list {

      > li:not(:first-child) {
        display: none;
      }

      > li {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        > span {
          display: block;
          width: 100%;
          text-align: left;
          padding: 4px 8px;
          background: @color_b6;
          font: 400 14px/14px 'Roboto Condensed';
        }
        > div {
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-align-content: center;
          -ms-flex-line-pack: center;
          align-content: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          min-height: 50px;

          .product-price {
            width: 100%;
            margin: 0;
            white-space: nowrap;
          }

          button,
          .product-price-old {
            margin-top: 0;
            white-space: nowrap;
          }

          .product-price-old {
            margin-right: 5px;
          }
          .product-card-price {

            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;

            > div {
              font-size: 12px;
              font-family: "Roboto Condensed", sans-serif;
            }
          }

        }
        > sub {
          display: block;
          width: 100%;
          height: 20px;
          color: @color_b3;
          line-height: 10px;
          margin: 5px auto 0;
          font: 400 9px/10px 'Roboto Condensed';
          overflow: hidden;

        }
      }
    }

    .btn_product_page{
      display: none;
    }

  }



  &:hover, &.active {
    z-index: 40;
    overflow: visible ;
    border: none;
    min-height: 470px;

    > form {
      width: 100%;
      left: 1px;
      top: 0;
      position: absolute;
      background: @color_w;
      -webkit-box-shadow: 5px 30px 120px -5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow:    5px 30px 120px -5px rgba(0, 0, 0, 0.1);
      box-shadow:         5px 30px 120px -5px rgba(0, 0, 0, 0.1);
      z-index: 40 !important;
      border: 1px solid @color_b3;

      .product-item-stars{
        display: block;
      }

      .product-list {

        > li:not(:first-child) {
          display: block !important;

        }
      }

      .btn_product_page{
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        height: 38px;
        text-align: center;
        align-items: center;
        justify-content: center;
        background: @color_b5;
        color: @color_5;
        border: 1px solid @color_b3;

        &:hover{
          background: @color_2;
          color: @color_w;
          border-color: @color_2;
        }
      }

    }
  }
}

