/* new end */
.product-list,
.product-list *:after,
.product-list *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
::selection {
  background: #C62F48;
  color: #fff;
}
::-moz-selection {
  background: #C62F48;
  color: #fff;
}/*
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}*/
.product-item.big-item,
.big-item.basket-item {
  border: 0 !important;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  min-height: 300px;
  -webkit-box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);
  box-shadow: 0 30px 30px -26px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.product-item.big-item::before,
.big-item.basket-item::before {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  background: #ABC0D6;
  position: absolute;
  z-index: 12;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product-item.big-item::after,
.big-item.basket-item::after {
  content: '';
  display: none;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.product-item.big-item > form,
.big-item.basket-item > form {
  width: 100% !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px !important;
  margin: auto;
  z-index: 10;
  display: block;
  position: relative;
  top: 0;
  left: 1px;
  border: 1px solid #fff;
}
.product-item.big-item > form .product-item-stars,
.big-item.basket-item > form .product-item-stars {
  display: none;
}
.product-item .product-list{
  padding-left:0px;width:100%;
}
.product-item.big-item > form .product-list > li:not(:first-child),
.big-item.basket-item > form .product-list > li:not(:first-child) {
  display: none;
}
.product-item.big-item > form .product-list > li,
.big-item.basket-item > form .product-list > li {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-item.big-item > form .product-list > li > span,
.big-item.basket-item > form .product-list > li > span {
  display: block;
  width: 100%;
  text-align: left;
  padding: 4px 8px;
  background: #F1F2F6;
  font: 400 14px/14px 'Roboto Condensed';
}
.product-item.big-item > form .product-list > li > div,
.big-item.basket-item > form .product-list > li > div {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.product-item.big-item > form .product-list > li > div .product-price,
.big-item.basket-item > form .product-list > li > div .product-price {
  width: 100%;
  margin: 0;
  white-space: nowrap;
}
.product-item.big-item > form .product-list > li > div button,
.big-item.basket-item > form .product-list > li > div button,
.product-item.big-item > form .product-list > li > div .product-price-old,
.big-item.basket-item > form .product-list > li > div .product-price-old {
  margin-top: 0;
  white-space: nowrap;
}
.product-item.big-item > form .product-list > li > div .product-price-old,
.big-item.basket-item > form .product-list > li > div .product-price-old {
  margin-right: 5px;
}
.product-item.big-item > form .product-list > li > div .product-card-price,
.big-item.basket-item > form .product-list > li > div .product-card-price {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.product-item.big-item > form .product-list > li > div .product-card-price > div,
.big-item.basket-item > form .product-list > li > div .product-card-price > div {
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
}
.product-item.big-item > form .product-list > li > sub,
.big-item.basket-item > form .product-list > li > sub {
  display: block;
  width: 100%;
  height: 20px;
  color: #ABC0D6;
  line-height: 10px;
  margin: 5px auto 0;
  font: 400 9px/10px 'Roboto Condensed';
    font: 400 12px/12px 'Roboto Condensed';
  overflow: hidden;
}
.product-item.big-item > form .product-list > li > sub.price_economy,
.big-item.basket-item > form .product-list > li > sub.price_economy{
  font: 400 12px/12px 'Roboto Condensed';
  margin: 0px auto 0;
}
.product-item.big-item > form .btn_product_page,
.big-item.basket-item > form .btn_product_page {
  display: none;
}
.product-item.big-item:hover,
.big-item.basket-item:hover,
.product-item.big-item.active,
.big-item.basket-item.active {
  z-index: 40;
  overflow: visible ;
  border: none;
  min-height: 470px;
}
.product-item.big-item:hover > form,
.big-item.basket-item:hover > form,
.product-item.big-item.active > form,
.big-item.basket-item.active > form {
  width: 100%;
  left: 1px;
  top: 0;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 5px 30px 120px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 30px 120px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 30px 120px -5px rgba(0, 0, 0, 0.1);
  z-index: 40 !important;
  border: 1px solid #ABC0D6;
}
.product-item.big-item:hover > form .product-item-stars,
.big-item.basket-item:hover > form .product-item-stars,
.product-item.big-item.active > form .product-item-stars,
.big-item.basket-item.active > form .product-item-stars {
  display: block;
}
.product-item.big-item:hover > form .product-list > li:not(:first-child),
.big-item.basket-item:hover > form .product-list > li:not(:first-child),
.product-item.big-item.active > form .product-list > li:not(:first-child),
.big-item.basket-item.active > form .product-list > li:not(:first-child) {
  display: block !important;
}
.product-item.big-item:hover > form .btn_product_page,
.big-item.basket-item:hover > form .btn_product_page,
.product-item.big-item.active > form .btn_product_page,
.big-item.basket-item.active > form .btn_product_page {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 38px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #F4F6FA;
  color: #296ECB;
  border: 1px solid #ABC0D6;
}
.product-item.big-item:hover > form .btn_product_page:hover,
.big-item.basket-item:hover > form .btn_product_page:hover,
.product-item.big-item.active > form .btn_product_page:hover,
.big-item.basket-item.active > form .btn_product_page:hover {
  background: #FF9000;
  color: #fff;
  border-color: #FF9000;
}

.product-item.big-item .count-box, .big-item.basket-item .count-box{
  width:100px;
}
/*# sourceMappingURL=main_v_4.css.map */