<div class="current_open_menu ">
    <a href="/">Кошкам</a>    
</div>
<div class="current_open_menu_child ">
    <a href="/">Корм</a>    
</div>

<ul class="accordion main_menu_items">
    {assign var=ind value=0}
    {foreach $items as $item}      
        {assign var="ind" value="`$ind+1`"}
		{include file="tpl/m/menu/row.tpl"}
	{/foreach}
</ul>

