 <li class="main_items" id="mm-p{$ind}">
    <a data-menu="{$ind}" class="main_items_parent" href="#mm-p{$ind}">{$item.pagetitleLang}    </a>
	<ul class="accordion">
				 {snippet name=getCategoryGroup_m params="id={$item.id}"}
    </ul>
</li>
			