{extends file="layout.tpl"}

{block name=content}
  <div class="container">

{snippet name=BreadCrumb params="scheme=`full`&containerTpl=`breadcrumbOuterTpl`&currentCrumbTpl=`breadcrumbCurrentTpl`&linkCrumbTpl=`breadcrumbLinkTpl`&homeCrumbTpl=`breadcrumbLinkTpl`"}
    <div class="row title-page equal-height-wrapper" style="min-width:100%!important;">
      <!--<div class="col-xs-7 equal-height">-->
        <h1 style="margin-left:15px;">{snippet name=metah1 params="h1={field name=pagetitle}"}</h1>  
      <!--</div>-->
     
    </div>
	
	{literal}
	
	[[!searchyandex]]
	
	{/literal}
	
  </div>

	  
	   {/block}