

 <ul class="big-prev-product-tool">
                    <li class="product-type-form">
						<div class="form">
							<select class="prevcatalogselect">
							{assign var=ind value=0}
								{foreach $product.options.outputtabs as $tab}
									{assign var="ind" value="`$ind+1`"}
									{include file='tpl/m/products/productCategoryOptionWeightRow.tpl'}
								{/foreach}
							</select>
                        </div>
                    </li>
                    <li class="icn-free hide">

                    </li>
                    <li class="big-prev-price">
                    	
						{assign var=ind value=0}
						{foreach $product.options.outputattr as $attr}
							{assign var="ind" value="`$ind+1`"}
							{include file='tpl/m/products/productCategoryOptionPriceRow.tpl'}
						{/foreach}
                    </li>
                </ul><!-- big-prev-product-tool -->

				
				