<li role="presentation" data-index="{$tab.idx}" class="{if ($tab.idx==1)}active{/if}">


{snippet name=msCartKey params="id=`{$tab.idproduct}`&option_id=`{$tab.id_1c}`&weight=``&size=`{$tab.weight} {$tab.weight_prefix}`&price=`{$tab.price}`" assign=key}
{snippet name=msCartKey params="id=`{$tab.idproduct}`&option_id=`{$tab.id_1c}`&weight=``&size=`{$tab.weight} {$tab.weight_prefix}`&price=`{$tab.price}`" assign=msCartKey}

<input type="hidden" data-name="key" value="{$key}"/>
<input type="hidden" data-name="option_id" value="{$tab.id_1c}"/>
<input type="hidden" data-name="product_id" value="{$tab.idproduct}"/>
<input type="hidden" data-name="size" value="{$tab.weight} {$tab.weight_prefix}"/>
<input type="hidden" data-name="price" value="{$tab.price}"/>
<input type="hidden" data-name="category" value="{$tab.category}"/>
<input type="hidden" data-name="product_name" value="{$tab.name}"/>
<input type="hidden" data-name="product_vendor" value="{$tab.brand}"/>
<input type="hidden" data-name="list" value="{$tab.list}"/>

                            
                            
<!--href="#{$product.type}{$tab.idproduct}-pane{$tab.idx}"-->
  <span class="weightprice" aria-controls="action{$tab.idproduct}-pane{$tab.idx}" role="tab" data-toggle="tab">
    <div class="value_weight">{$tab.weight} {$tab.weight_prefix}</div>    
    <!--<div class="product-price">-->
            {if ($tab.action_hide==1)}
                    <div class="product-price full-price uah ">{snippet name=msPriceDelimiter params="delimiter=`,`&price=`{$tab.oldprice}`&action=`left`"}</div>
            {elseif (($tab.action_hide!=1)&&($tab.action==1))}
                <div class="old-price uah">{snippet name=msPriceDelimiter params="delimiter=`,`&price=`{$tab.oldprice}`&action=`left`"}</div>
        		<div class="product-price uah">{snippet name=msPriceDelimiter params="delimiter=`,`&price=`{$tab.price}`&action=`left`"}</div>
            
            {else}
        		<div class="product-price full-price uah">{snippet name=msPriceDelimiter params="delimiter=`,`&price=`{$tab.price}`&action=`left`"}</div>
        	{/if}
	<!--</div>-->
  </span>
  
  
</li>

