
{snippet name=msCartKey params="id=`{$attr.idproduct}`&option_id=`{$attr.id_1c}`&weight=``&size=`{$attr.weight} {$attr.weight_prefix}`&price=`{$attr.price}`" assign=key}
{snippet name=inCartCount params="key=`{$key}`&price=`{$attr.price}`" assign=incart}


{if ($attr.instock==0)}
					<div id="{$attr.idproduct}_{$ind}" class="product-none optionweight {if ($ind!=1)}hide {/if}">
                        <strong>{$attr.price} грн</strong>
                        <a href="#boxStatus"  data-article="{$attr.articleproduct}" data-product="{$attr.productname}, {$attr.weight} {$attr.weight_prefix}" data-id="{$attr.id}">Сообщить о наличии</a>
                    </div>
					{else}

<div id="{$attr.idproduct}_{$ind}" style="width:200px;" class="optionweight {if ($ind!=1)}hide {/if}">
<button class="btn-buy btn-product-buy"         
        data-product-vendor="{$attr.product_vendor}"
                                                  data-product-category="{$attr.category_ec}"
                                                  data-product-price="{$attr.price}"                                                  
					  data-product-name="{$attr.productname}"
                      data-option-id="{$attr.id_1c}" 
        data-product-id="{$attr.idproduct}" data-size="{$attr.weight} {$attr.weight_prefix}" data-key="{$key}" data-count="1" data-action="cart/add" style="float:right;clear:none;" href="#product-quantity-pu" type="submit" form="">[[%polylang_site_product_button_buy]]</button>

    {if ($attr.action_hide==1)}
            <div style="float:right;clear:none;"  class="price uah">{$attr.oldprice}</div>
    {elseif (($attr.action_hide!=1)&&($attr.action==1))}
		<div class="old-price uah">{$attr.oldprice}</div>
		<div style="float:right;clear:none;"  class="price uah">{$attr.price}</div>
    
    {else}
		<div style="float:right;clear:none;"  class="price uah">{$attr.price}</div>
	{/if}


							
	
</div>			
{/if}