::selection {
  background: rgba(143, 173, 60, 1);
  color: #fff;
}

::-moz-selection {
  background: rgba(143, 173, 60, 1);
  color: #fff;
}

.color-s {
  color: #f3f7f9;
  color: #e6eef2;
  color: #abc1d6;
  color: #1c3947;
  color: #8fad3c;
  color: #296fcb;
  color: #c53048;
  color: #ff8f00;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: 400 15px/20px $roboto;
  color: #1C3947;
  height: 100%;

  -webkit-font-smoothing: antialiased;
  background: #fff;
}

img {
  width: 100%;
}

b, strong {
  font-weight: 700 !important;
}

i, em {
  font-style: italic !important;
}

/* NO PADDING in WIDTH
________________________________________ */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;

  position: relative;
}

/* A and BUTTON STYLES
________________________________________ */
a {
  text-decoration: underline;
  color: #296fcb;
  outline: none;
}

a:hover,
button:hover {
  cursor: pointer;
  color: #8fad3c;
  text-decoration: none !important;
}

.footer a {
  color: rgba(41, 110, 203, 1);
}

.footer a {
  &:hover {
    color: rgba(41, 110, 203, 1);
  }
}

/* COLUMNS
________________________________________ */
[class*='col-'] {
  float: left;
  padding: 0;
  position: relative;
  height: inherit;
}

[class*='col-']:after {
  content: ' ';
  display: block;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

.col-1-1 {
  width: 100%;
}

.col-2-3 {
  width: 66.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
  padding: 20px;
}

.col-1-6 {
  width: 16.66%;
}

.col-1-8 {
  width: 12.5%;
}

/* ALL ANIMATION
________________________________________ */
*, *:after, *:before, select {
  -webkit-transition: all 0.23s ease-out;
  -moz-transition: all 0.23s ease-out;
  -o-transition: all 0.23s ease-out;
  -ms-transition: all 0.23s ease-out;
  transition: all 0.23s ease-out;
}

/* ALIGN JS
________________________________________ */
.align-h,
.align-v,
.align-all {
  position: absolute;
  display: block;
}

.uah {
  &:after {
    content: ' ₴';
    opacity: 0.8;
  }
}

.overflow-scroll-all {
  display: inline-block;
  width: 100%;
  max-width: 280px;
  min-height: 200px;
  overflow: scroll;
  border: 0px solid #c53048;
}

/* INPUT ACTIVE STYLE
______________________________________________________________________________ */
/* inputs buttons textarea select styles
_________________________________________ */
button,
input[type="button"],
input[type="submit"],
.btn-green a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: auto;
  min-height: 40px;
  padding: 10px 20px;
  text-align: center;
  background: #8fad3c;
  color: #fff;
  border: 0;
  outline: none;
  font: 400 15px $roboto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

button {
  &:hover {
    color: #fff;
  }
}

.btn-orange {
  width: 100%;
  height: auto;
  display: inline-block;
  display: block;
  margin-bottom: 20px;
  width: 200px;
  margin: 0px auto 20px auto;

}

#product-quantity-pu {
  .ms2_form {
    clear: both;
    height: 130px;
  }
}


.btn-orange > * {
  display: block;
  text-decoration: none;
  width: 100%;
  height: auto;
  min-height: 40px;
  padding: 10px 20px;
  text-align: center;
  color: #fff!important;
  border: 0;
  outline: none;
  font: 400 15px $roboto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  text-transform: uppercase;
  max-width: 200px;
  margin: auto;
  background: #ff8f00 !important;
}

.btn-orange > * {
  &:hover {
    color: #fff !important;
  }
}

input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]),
textarea,
select {
  outline: none;
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 40px;
  border: 1px solid #abc1d6;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background: #fff;
  font-family: roboto;
  z-index: 2;
}

select {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

[type="file"] {
  opacity: 0.0;
  cursor: pointer;
}

select {
  &::-ms-expand {
    display: none;
  }
}

.col-sm-10 {
  width: 100%;
}

.custom-select-container {
  &:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    z-index: 1;
    background: url(../img/mobile/icn_arow_down.png) 50% 50% no-repeat;
    background-size: 80% auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

label {
  z-index: 1;
}

textarea, input, select {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

textarea {
  max-height: 100%;
  min-height: 100%;
}

.hide {
  display: none !important;
}

/* FOCUS STYLES
_________________________________________ */
input,
button,
textarea,
select,
input[type="button"] {
  outline: none;
  &:focus{
    outline: none;
  }
}

textarea,
select,
input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not([type="submit"]) {
  &:focus {
    outline: none;
    color: #1c3947;
    border: 1px solid #8fad3c !important;
  }
}

[disabled] {
  opacity: 0.5;
}

/* FOCUS animate
_________________________________________ */
input,
textarea {
  &::-webkit-input-placeholder {
    color: #abc1d6;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

input, textarea {
  &::-moz-placeholder {
    color: #abc1d6;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

input, textarea {
  &:-moz-placeholder {
    color: #abc1d6;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

input, textarea {
  &:-ms-input-placeholder {
    color: #abc1d6;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

input, textarea {
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

input, textarea {
  &:focus {
    &::-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

input,
textarea:focus:-moz-placeholder {
  &:focus {
    &:-moz-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

input, textarea {
  &:focus {
    &:-ms-input-placeholder {
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}

/* CHBOX & RADIO CUSTOM
________________________________________________ */


input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"], input[type="radio"] {
  + label {
    color: #1c3947;
    cursor: pointer;
  }
}

input[type="checkbox"],
input[type="radio"] {
  + label {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 22px;

      width: 22px;
      margin: 0 5px 0 0;
      background: url(../img/icn_chbox.png) 50% 0 no-repeat;
      background-size: 100% auto !important;
    }
  }
}

input[type="checkbox"] {
  + label {
    &::after {
      background-position: 50% 0 !important;
    }
  }
}

input[type="radio"] {
  + label {
    &::after {
      background-position: 50% -44px !important;
    }
  }
}

input[type="checkbox"] {
  &:checked {
    + label {
      &::after {
        background-position: 50% -22px !important;
      }
    }
  }
}


input[type="radio"] {
  &:checked {
    + label {
      &::after {
        background-position: 50% -66px !important;
      }
    }
  }
}

//
//.green-btn {
//  background-color: #8fae3b;
//  border: 1px solid #769229;
//  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.075)
//}
//.green-btn.disabled {
//  opacity: 1.0;
//  filter: alpha(opacity=100);
//  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.075)
//}
//.green-btn:hover {
//  background-color: #b4cb32
//}





.green-btn {
  width: 100%;
  height: auto;
  display: block;
  max-width: 250px;
  margin: 0px auto 0px auto;

  text-decoration: none;

  padding: 10px 20px;
  text-align: center;
  color: #fff!important;
  border: 0;
  outline: none;
  font: 400 15px $roboto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #8fae3b !important;
}





/*
input[type="checkbox"] {
  &:disabled {
    + label {
      &::before {
        opacity: 0.4;
      }
    }
  }
}

input[type="checkbox"] {
  &:checked
  &:disabled {
    + label {
      &::before {
        opacity: 0.4;
      }
    }
  }
}

input[type="radio"]{
  &:disabled {
    + label {
      &::before {
        opacity: 0.4;
      }
    }
  }
}

input[type="radio"] {
  &:checked {
    &:disabled {
      + label {
        &::before {
          opacity: 0.4;
        }
      }
    }
  }
}*/
