// fonts
$roboto: RobotoCondensed;

// colors
$black: #000000;
$gray: #F8FAFC;
$lightGrey:#E5E8EC;
$white: #fff;
$primary: #FF9000;
$green: #8FAE3B;
$violet: #A0489C;
$redPrice: #C62F48;
$oldPrice: #838FA3;
$colorTextBlack: #1C3846;
$colorBorderGrey: #F4F6FA;