.interactive_banner4 {
  overflow: hidden;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  width: 100%;
  max-width: 1200px;
  height: 320px;
  border: 1px solid #ebf6f9;
  position: relative;
  background: black;
}
.interactive_banner4 > div {
  display: block;
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  position: absolute;
  background-size: cover !important;
}
.interactive_banner4 > div:nth-child(1) {
  background: url("/assets/styles/banners/img/layer1.jpg") 50% 50% no-repeat;
  z-index: 1;
}
.interactive_banner4 > div:nth-child(2) {
  background: url("/assets/styles/banners/img/layer2.png") 50% 50% no-repeat;
  z-index: 2;
}
.interactive_banner4 > div:nth-child(3) {
  background: url("/assets/styles/banners/img/layer3.png") 50% 50% no-repeat;
  z-index: 3;
}
.interactive_banner4 > div:nth-child(4) {
  background: url("/assets/styles/banners/img/layer4.png") 50% 50% no-repeat;
  z-index: 4;
}
/*# sourceMappingURL=css4.css.map */